<nav class='navbar navbar-expand-md navbar-dark bg-dark  fixed-top'>
    <a class='navbar-brand' href = '/'>
       T R <i class="fas fa-arrow-circle-up"></i> M P A R
    </a>
    
    {% if session.logged_in %}
    <div class='collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2'>
        {% if session.userType == 'hoteluser' %}
        <ul class='menu navbar-nav mx-auto'>
            {% if session.menuParams['request'] %}
                <li class = 'lilink'>
                    <a class="homer" href="#">
                        Request
                    </a>
                    <ul class="sub-menu">
                        {% if session.menuParams['requestCreate']  %}
                            <li>
                                <a href="#">
                                    Create
                                </a>
                                <ul>
                                    {% if session.menuParams['requestCreateAdhoc'] %}
                                        <li>
                                            <a href='/requestCreateAdhoc'>
                                                Adhoc
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if session.menuParams['requestCreateSeries'] %}
                                        <li>
                                            <a href='#'>
                                                Series
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                        {% if session.menuParams['requestManage']  %}
                            <li>
                                <a href="/">
                                    Manage
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}

            {% if session.menuParams['strategy'] %}
                <li class = 'lilink'>
                    <a href="#">
                        Strategy
                    </a>
                    <ul class="sub-menu">
                        {% if session.menuParams['strategyRooms'] %}
                            <li>
                                <a href="/strategyRooms">
                                    Rooms
                                </a>
                            </li>
                        {% endif %}
                        {% if session.menuParams['strategyRate'] %}
                            <li>
                                <a href="/strategyRate">
                                    Rate
                                </a>
                            </li>
                        {% endif %}
                        {% if session.menuParams['strategyDiscount'] %}
                            <li>
                                <a href="#">Discount</a>
                                <ul>
                                    {% if session.menuParams['strategyDiscountCreate'] %}
                                        <li>
                                            <a href="/strategyDiscountCreate">
                                                Create & View
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if session.menuParams['strategyDiscountMap'] %}
                                        <li>
                                            <a href="#">
                                                Map
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                        {% if session.menuParams['strategyForecast'] %}
                            <li>
                                <a href="#">
                                    Forecast
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
                
            {% if session.menuParams['settings'] %}
                <li class = 'lilink'>
                    <a href="#">
                        Settings
                    </a>
                    <ul class="sub-menu">
                    {% if session.menuParams['settingsRequest'] %}
                        <li>
                            <a href="#">
                                Request
                            </a>
                                <ul>

                                    {% if session.menuParams['settingsRequestCreate'] %}
                                        <li>
                                            <a href='/settingsRequestCreate'>
                                                Create & View
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if session.menuParams['settingsRequestMap'] %}
                                        <li>
                                            <a href='#'>
                                                Map
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                    {% endif %}
                    {% if session.menuParams['settingsContact'] %}
                        <li>
                            <a href="#">Contract</a>
                            <ul>
                                {% if session.menuParams['settingsContactCreate'] %}
                                    <li>
                                        <a href="/settingsContractCreate">
                                            Create & View
                                        </a>
                                    </li>
                                {% endif %}
                                {% if session.menuParams['settingsContactMap'] %}
                                    <li>
                                        <a href="#">
                                            Map
                                        </a>
                                    </li>
                                {%endif%}
                            </ul>
                        </li>
                    {% endif %}
                    {% if session.menuParams['settingsTime'] %}
                        <li>
                            <a href="#">Time Limit</a>
                            <ul>
                                {% if session.menuParams['settingsTimeCreate'] %}
                                    <li>
                                        <a href="/settingsTimelimit">
                                            Create& View
                                        </a>
                                    </li>
                                {%endif%}

                                    {% if session.menuParams['settingsTimeMap'] %}
                                <li>
                                    <a href="#">
                                        Map
                                    </a>
                                </li>
                                {%endif%}
                            </ul>
                        </li>
                    {% endif %}
                    {% if session.menuParams['settingsNegotiation'] %}
                        <li>
                            <a href="/settingsNegotiation">
                                Negotiation
                            </a>
                        </li>
                    {% endif %}
                    {% if session.menuParams['settingsAutopilot'] %}
                        <li>
                            <a href="/settingsAutopilot">
                                Autopilot
                            </a>
                        </li>
                    {% endif %}
                    </ul>
                </li>
            {% endif %}
            
            {% if session.menuParams['users'] %}
                <li class = 'lilink'>
                    <a href="#">
                        Users
                    </a>
                    <ul class="sub-menu">
                        {% if session.menuParams['usersHotel'] %}
                            <li>
                                <a href='#'>Hotel</a>
                                <ul>

                                    {% if session.menuParams['usersHotelAdd'] %}
                                    <li>
                                        <a href='/hoteladduser'>
                                            Add
                                        </a>
                                    </li>
                                    {%endif%}

                                    {% if session.menuParams['usersHotelEdit'] %}
                                    <li>
                                        <a href='/managehotelusers'>
                                            Edit
                                        </a>
                                    </li>
                                    {%endif%}
                                </ul>
                            </li>
                        {% endif %}
                        {% if session.menuParams['usersCustomer'] %}
                            <li>
                                <a href="#">
                                    Customer
                                </a>
                                <ul>

                                    {% if session.menuParams['usersCustomerAdd'] %}
                                    <li>
                                        <a href='#'>
                                            Add
                                        </a>
                                    </li>
                                    {%endif%}

                                    {% if session.menuParams['usersCustomerEdit'] %}
                                    <li>
                                        <a href='#'>
                                            Edit
                                        </a>
                                    </li>
                                    {%endif%}

                                    {% if session.menuParams['usersCustomerUpload'] %}
                                    <li>
                                        <a href='#'>
                                            Upload
                                        </a>
                                    </li>
                                    {%endif%}
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}

            {% if session.menuParams['analytics'] %}
                <li class = 'lilink'>
                    <a href="#">Analytics</a>
                    <ul class="sub-menu">
                        {% if session.menuParams['analyticsDashboard'] %}
                            <li>
                                <a href="/analyticsdashboard">
                                    Dashboard
                                </a>
                            </li>
                        {% endif %}
                        {% if session.menuParams['analyticsBehavior'] %}
                            <li>
                                <a href="/analyticsbehavior">
                                    Behaviour
                                </a>
                            </li>
                        {% endif %}
                        {% if session.menuParams['analyticsPerformance'] %}
                            <li>
                                <a href="/analyticsperformance">
                                    Performance
                                </a>
                            </li>
                        {% endif %}
                        {% if session.menuParams['analyticsRevenue'] %}
                            <li>
                                <a href="/analyticsrevenue">
                                    Revenue
                                </a>
                            </li>
                        {% endif %}
                        {% if session.menuParams['analyticsTracking'] %}
                        <li>
                            <a href="/analyticstracking">
                                Tracking
                            </a>
                        </li>
                        {% endif %}
                        {% if session.menuParams['analyticsStdReport'] %}
                        <li>
                            <a href="/stdreport">
                                STD Report
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}


            {% if session.menuParams['help'] %}
            <li class='lilink'>
                <a href="#">
                    Help
                </a>
                <ul class="sub-menu">
                    {% if session.menuParams['helpUserGuide'] %}
                        <li>
                            <a href="#">
                                User Guide
                            </a>
                        </li>
                    {% endif %}
                    {% if session.menuParams['helpFaq'] %}
                        <li>
                            <a href="#">
                                FAQ
                            </a>
                       </li>
                    {% endif %}
                    {% if session.menuParams['helpTicketing'] %}
                     <li>
                         <a href="#">
                             Ticketing
                            </a>
                    </li>
                    {% endif %}
                    
                </ul>
            </li>
            {% endif %}

        </ul>
        <ul class='menu navbar-nav ml-auto'>
            <li>
                <a href="#">
                    Welcome! {{ session.firstName }} <i class="fas fa-user-circle"></i>
                    <ul class='sub-menu'>
                        <li>
                            <a href="{{ url_for('myprofile', email = session.email) }}">
                                My Profile
                            </a>
                        </li>
                        <li>
                            <a href='/signOut'>
                                Sign-Out
                            </a>
                        </li>
                    </ul>
                </a>
            </li>
        </ul>

        {% elif session.userType == 'developer' %}

        <ul class='menu navbar-nav mx-auto'>
            <li class = 'lilink'>
                <a class="homer" href="#">
                    Request
                </a>
                <ul class="sub-menu">
                    <li><a href="#">Create</a>
                        <ul>
                            <li><a href='/requestCreateAdhoc'>Adhoc</a></li>
                            <li><a href='#'>Series</a></li>
                        </ul>
                    </li>
                    <li><a href="/">Manage</a></li>
                </ul>
            </li>
        
            <li class = 'lilink'>
                <a href="#">
                    Strategy
                </a>
                <ul class="sub-menu">
                    <li><a href = '/strategyRooms'>Rooms</a></li>
                    <li><a href="/strategyRate">Rate</a></li>
                    <li>
                        <a href="#">Discount</a>
                        <ul>
                            <li><a href="/strategyDiscountCreate">Create & View</a></li>
                            <li><a href="#">Map</a></li>
                        </ul>
                    </li>
                    <li><a href = '#'>Forecast</a></li>
                </ul>
            </li>
        
            <li class = 'lilink'>
                <a href="#">
                    Settings
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href = '#'>Request</a>
                        <ul>
                            <li><a href="/settingsRequestCreate">Create & View</a></li>
                            <li><a href="#">Map</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Contract</a>
                        <ul>
                            <li><a href="/settingsContractCreate">Create & View</a></li>
                            <li><a href="#">Map</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Time Limit</a>
                        <ul>
                            <li><a href="/settingsTimelimit">Create & View</a></li>
                            <li><a href="#">Map</a></li>
                        </ul>
                    </li>
                    <li><a href="/settingsNegotiation">Negotiation</a></li>
                    <li><a href="/settingsAutopilot">Autopilot</a></li>
                </ul>
            </li>
        
            <li class = 'lilink'>
                <a href="#">
                    Users
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href='#'>Hotel</a>
                        <ul>
                            <li>
                                <a href='/hoteladduser'>Add</a>
                            </li>
                            <li>
                                <a href='/managehotelusers'>Edit</a>
                            </li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="#">Customer</a>
                        <ul>
                            <li>
                                <a href='#'>Add</a>
                            </li>
                            <li>
                                <a href='#'>Edit</a>
                            </li>
                            <li>
                                <a href='#'>Upload</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        
            <li class = 'lilink'><a href="#">Analytics</a>
                <ul class="sub-menu">
                    <li><a href="/analyticsdashboard">Dashboard</a>
            
                    </li>
                    <li><a href="/analyticsbehavior">Behaviour</a>
                      
                    </li>
                    <li><a href="/analyticsperformance">Performance</a>
                       
            
                    </li>
                    <li><a href="/analyticsrevenue">Revenue</a>
                      
                    </li>

                    <li><a href="/analyticstracking">Tracking</a>
                    
                    </li>
                    <li>
                        <a href="/stdreport">
                            STD Report
                        </a>
                    </li>
                </ul>
            </li>

            <li class='lilink'><a href="#">Help</a>
                <ul class="sub-menu">
                    <li><a href="#">User Guide</a>
            
                    </li>
                    <li><a href="#">FAQ</a>
            
                    </li>
                    <li><a href="#">Ticketing</a>
            
            
                    </li>
                </ul>
            </li>


        
        
            <li class = 'lilink'>
                <a href='#'>Developers</a>
                <ul>
                    <li>
                        <a href='/adddeveloper'>Add User</a>
                    </li>
                    <li>
                        <a href='/hoteladdusertype'>Add UserType</a>
                    </li>
                    <li>
                        <a href='/edituserType'>Edit UserType</a>
                    </li>
                    <li>
                        <a href = '/viewAllUsers'>View Users</a>
                    </li>
                </ul>
            </li>
        
        
        </ul>
        <ul class='menu navbar-nav ml-auto'>
            <li>
                <a href="#">
                    Welcome! {{ session.firstName }} <i class="fas fa-user-circle"></i>
                    <ul class='sub-menu'>
                        <li>
                            <a href="{{ url_for('myprofile', email = session.email) }}">
                                My Profile
                            </a>
                        </li>
                        <li>
                            <a href='/signOut'>
                                Sign-Out
                            </a>
                        </li>
                    </ul>
                </a>
            </li>
        </ul>


        {% elif session.userType == 'iata' %}
        <ul class='menu navbar-nav mx-auto'>
            {% if session.menuParams['request'] %}
            <li class = 'lilink'>
                <a class="homer" href="#">
                    Request
                </a>
                <ul class="sub-menu">

                {% if session.menuParams['requestCreate'] %}
                    <li><a href="#">Create</a>
                        <ul>

            {% if session.menuParams['requestCreateAdhoc'] %}
                            <li><a href='/requestCreateAdhoc'>Adhoc</a></li>
                            {%endif%}
            {% if session.menuParams['requestCreateSeries'] %}
                            <li><a href='#'>Series</a></li>
            {%endif%}
                        </ul>
                    </li>
                    {%endif%}
                    {% if session.menuParams['requestManage'] %}
                    <li><a href="/">Manage</a></li>
                    {%endif%}
                </ul>
            </li>
            {%endif%}
            
            {%if session.menuParams['users']%}
            <li class = 'lilink'>
                <a href="#">
                    Users
                </a>
                <ul class="sub-menu">
                    {%if session.menuParams['usersAdd']%}
                    <li>
                        <a href="#">Add</a>
                    </li>
                    {%endif%}
                    {%if session.menuParams['usersEdit']%}
                    <li>
                        <a href="#">Edit</a>
                    </li>
                    {%endif%}
                </ul>
            </li>
            {%endif%}
            
            {% if session.menuParams['analytics'] %}
            <li class='lilink'>
                <a href="#">Analytics</a>
                <ul class="sub-menu">
                    {% if session.menuParams['analyticsDashboard'] %}
                    <li>
                        <a href="/analyticsdashboard">
                            Dashboard
                        </a>
                    </li>
                    {% endif %}
                    {% if session.menuParams['analyticsRequest'] %}
                    <li>
                        <a href="/analyticsrequest">
                            30 Days Request
                        </a>
                    </li>
                    {% endif %}
                    {% if session.menuParams['analyticsPerformance'] %}
                    <li>
                        <a href="/analyticsperformance">
                            Performance
                        </a>
                    </li>
                    {% endif %}
            
                    {% if session.menuParams['analyticsTracking'] %}
                    <li>
                        <a href="/analyticstracking">
                            Tracking
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
            
            
            {% if session.menuParams['help'] %}
            <li class='lilink'>
                <a href="#">
                    Help
                </a>
                <ul class="sub-menu">
                    {% if session.menuParams['helpUserGuide'] %}
                    <li>
                        <a href="#">
                            User Guide
                        </a>
                    </li>
                    {% endif %}
                    {% if session.menuParams['helpFaq'] %}
                    <li>
                        <a href="#">
                            FAQ
                        </a>
                    </li>
                    {% endif %}
                    {% if session.menuParams['helpTicketing'] %}
                    <li>
                        <a href="#">
                            Ticketing
                        </a>
                    </li>
                    {% endif %}
            
                </ul>
            </li>
            {% endif %}

        </ul>

        <ul class='menu navbar-nav ml-auto'>
            <li>
                <a href="#">
                    Welcome! {{ session.firstName }} <i class="fas fa-user-circle"></i>
                    <ul class='sub-menu'>
                        <li>
                            <a href="{{ url_for('myprofile', email = session.email) }}">
                                My Profile
                            </a>
                        </li>
                        <li>
                            <a href='/signOut'>
                                Sign-Out
                            </a>
                        </li>
                    </ul>
                </a>
            </li>
        </ul>

        {% elif session.userType == 'customer' %}
        <ul class='menu navbar-nav mx-auto'>

            {% if session.menuParams['request'] %}
            <li class='lilink'>
                <a class="homer" href="#">
                    Request
                </a>
                <ul class="sub-menu">
            
                    {% if session.menuParams['requestCreate'] %}
                    <li><a href="#">Create</a>
                        <ul>
            
                            {% if session.menuParams['requestCreateAdhoc'] %}
                            <li><a href='/requestCreateAdhoc'>Adhoc</a></li>
                            {%endif%}
                            {% if session.menuParams['requestCreateSeries'] %}
                            <li><a href='#'>Series</a></li>
                            {%endif%}
                        </ul>
                    </li>
                    {%endif%}
                    {% if session.menuParams['requestManage'] %}
                    <li><a href="/">Manage</a></li>
                    {%endif%}
                </ul>
            </li>
            {%endif%}
            
            {% if session.menuParams['analytics'] %}
            <li class='lilink'>
                <a href="#">Analytics</a>
                <ul class="sub-menu">
                    {% if session.menuParams['analyticsDashboard'] %}
                    <li>
                        <a href="#">
                            Dashboard
                        </a>
                    </li>
                    {% endif %}
                    {% if session.menuParams['analyticsRequest'] %}
                    <li>
                        <a href="#">
                            30 Days Request
                        </a>
                    </li>
                    {% endif %}
                    {% if session.menuParams['analyticsPerformance'] %}
                    <li>
                        <a href="#">
                            Performance
                        </a>
                    </li>
                    {% endif %}
                   
                    {% if session.menuParams['analyticsTracking'] %}
                    <li>
                        <a href="#">
                            Tracking
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
            
            
            {% if session.menuParams['help'] %}
            <li class='lilink'>
                <a href="#">
                    Help
                </a>
                <ul class="sub-menu">
                    {% if session.menuParams['helpUserGuide'] %}
                    <li>
                        <a href="#">
                            User Guide
                        </a>
                    </li>
                    {% endif %}
                    {% if session.menuParams['helpFaq'] %}
                    <li>
                        <a href="#">
                            FAQ
                        </a>
                    </li>
                    {% endif %}
                    {% if session.menuParams['helpTicketing'] %}
                    <li>
                        <a href="#">
                            Ticketing
                        </a>
                    </li>
                    {% endif %}
            
                </ul>
            </li>
            {% endif %}

        </ul>

        <ul class='menu navbar-nav ml-auto'>
            <li>
                <a href="#">
                    Welcome! {{ session.firstName }} <i class="fas fa-user-circle"></i>
                    <ul class='sub-menu'>
                        <li>
                            <a href="{{ url_for('myprofile', email = session.email) }}">
                                My Profile
                            </a>
                        </li>
                        <li>
                            <a href='/signOut'>
                                Sign-Out
                            </a>
                        </li>
                    </ul>
                </a>
            </li>
        </ul>

        {% endif %}

    </div>
    {% endif %}
</nav>