<nav class = 'navbar navbar-expand-md navbar-dark bg-dark  fixed-top'>
    <a class = 'navbar-brand'>Brand Name</a>
    {% if session.logged_in %}
    <div class='collapse navbar-collapse w-100 order-3 dual-collapse2 mr-3'>
        <ul class = 'menu navbar-nav mx-auto'>
            
            <li>
                <a class="homer" href="#">
                    Request
                </a>
                <ul class="sub-menu">
                    <li><a href="#">Create</a>
                        <ul>
                            <li><a href = '#'>Adhoc</a></li>
                            <li><a href='#'>Series</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Response</a></li>
                </ul>
            </li>

            <li>
                <a href="#">
                    Users
                </a>
                <ul class="sub-menu">
                    <li><a href="#">My Profile</a></li>
                    <li>
                        <a href="#">Hotel Users</a>
                        <ul>
                            <li><a href="#">Add</a></li>
                            <li><a href="#">Edit</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Customer</a>
                        <ul>
                            <li><a href="#">Add</a></li>
                            <li><a href="#">Edit</a></li>
                            <li><a href="#">Upload</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li><a href="#">Reports</a>
                <ul class="sub-menu">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Conversion Report</a></li>
                    <li><a href="#">Top Performing Customers</a></li>
                    <li><a href="#">Pending Report</a></li>
                    <li><a href="#">TAT Report</a></li>
                </ul>
            </li>

            <li>
                <a href="#">
                   RM Settings
                </a>
                <ul class="sub-menu">
                    <li><a href="#">Rate Grid</a></li>
                        <ul>
                            <li><a href = '#'>Create</a></li>
                            <li><a href='#'>View</a></li>
                        </ul>
                    <li>
                        <a href="#">Discount</a>
                        <ul>
                            <li><a href="#">Create</a></li>
                            <li><a href="#">View</a></li>
                            <li><a href="#">Map</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Surcharge Settings</a>
                        <ul>
                            <li><a href="#">Create</a></li>
                            <li><a href="#">View</a></li>
                            <li><a href="#">Map</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">
                     System Settings
                </a>
                <ul class="sub-menu">
                    <li><a href="#">Autopilot</a></li>
                    <ul>
                        <li><a href='#'>Create & View</a></li>
                    </ul>
                    <li>
                        <a href="#">Timeline</a>
                    </li>
                    <li>
                        <a href="#">Request Settings</a>
                    </li>
                    <li>
                        <a href="#">T & C </a>
                    </li>
                    <li>
                        <a href="#">Negotiation</a>
                        <ul>
                            <li><a href="#">Create & View</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">
                    Welcome {{ session.firstName }}
                    <ul>
                        <li><a href = '/signOut'>
                            Sign-Out
                        </a></li>
                    </ul>
                </a>
            </li>

        </ul>
    </div>
    {% endif %}
</nav>