<nav class='navbar navbar-expand-md navbar-dark bg-dark  fixed-top'>
    <a class='navbar-brand'>
        <img src = '../../static/images/TROMPAR_Logo.png'
         class = 'nvimg'
        >
    </a>
    {% if session.logged_in %}

    <div class='collapse navbar-collapse w-100 order-3 dual-collapse2 mr-3'>
        {% if session.userType == 'hoteluser' %}
        {% if session.active %}
        <ul class='menu navbar-nav mx-auto'>
            {% if session.menuParams['request'] %}
                <li class = 'lilink'>
                    <a class="homer" href="#">
                        Request
                    </a>
                    <ul class="sub-menu">
                        {% if session.menuParams['requestCreate']  %}
                            <li><a href="#">Create</a>
                                <ul>
                                    <li><a href='#'>Adhoc</a></li>
                                    <li><a href='#'>Series</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        {% if session.menuParams['requestManage']  %}
                            <li><a href="#">Manage</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}

            {% if session.menuParams['yield'] %}
                <li class = 'lilink'>
                    <a href="#">
                        Yield Manager
                    </a>
                    <ul class="sub-menu">
                        {% if session.menuParams['yieldRate'] %}
                            <li><a href="#">Rate Grid</a></li>
                        {% endif %}
                        {% if session.menuParams['yieldDiscount'] %}
                            <li>
                                <a href="#">Discount</a>
                                <ul>
                                    <li><a href="#">Create & View</a></li>
                                    <li><a href="#">Map</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
                
            {% if session.menuParams['business'] %}
                <li class = 'lilink'>
                    <a href="#">
                        Business Rules
                    </a>
                    <ul class="sub-menu">
                    {% if session.menuParams['businessRequest'] %}
                        <li><a href="#">Request</a>
                                <ul>
                                    <li><a href='#'>Create & View</a></li>
                                    <li><a href='#'>Map</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    {% if session.menuParams['businessContact'] %}
                        <li>
                            <a href="#">Contact</a>
                            <ul>
                                <li><a href="#">Create & View</a></li>
                                <li><a href="#">Map</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if session.menuParams['businessTime'] %}
                        <li>
                            <a href="#">Time Limit</a>
                            <ul>
                                <li><a href="#">Create & View</a></li>
                                <li><a href="#">Map</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if session.menuParams['businessNegotiation'] %}
                        <li><a href="#">Negotiation</a></li>
                    {% endif %}
                    {% if session.menuParams['businessAuto'] %}
                        <li><a href="#">Autopilot</a></li>
                    {% endif %}
                    </ul>
                </li>
            {% endif %}
            
            {% if session.menuParams['userM'] %}
                <li class = 'lilink'>
                    <a href="#">
                        User Management
                    </a>
                    <ul class="sub-menu">
                        {% if session.menuParams['userMHotel'] %}
                            <li>
                                <a href='#'>Hotel</a>
                                <ul>
                                    <li>
                                        <a href='/hoteladduser'>Add User</a>
                                    </li>
                                    <li>
                                        <a href='/managehotelusers'>Edit</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                        {% if session.menuParams['userMCustomer'] %}
                            <li>
                                <a href="#">Customer</a>
                                <ul>
                                    <li>
                                        <a href='#'>Add</a>
                                    </li>
                                    <li>
                                        <a href='#'>Edit</a>
                                    </li>
                                    <li>
                                        <a href='#'>Upload</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}

            {% if session.menuParams['analytics'] %}
                <li class = 'lilink'><a href="#">Analytics</a>
                    <ul class="sub-menu">
                        {% if session.menuParams['analyticsDashboard'] %}
                            <li><a href="#">Dashboard</a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            Requests
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Status
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Category
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Lead Time
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Revenue
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Room Nights
                                        </a>
                                    </li>
                                </ul>
                            
                            </li>
                        {% endif %}
                        {% if session.menuParams['analyticsbb'] %}
                            <li><a href="#">Buying Behaviour</a>
                                <ul>
                                    <li>
                                        <a href = '#'>
                                            Booking Lead Time
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            Response Rate
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            Group Category
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            Request Time
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            Conversion Rate
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                        {% if session.menuParams['analyticsp'] %}
                            <li><a href="#">Performance</a>
                                <ul>
                                    <li>
                                        <a href = '#'>
                                            Hotel
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            Customer
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            Pending
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            Time Limit Expiration
                                        </a>
                                    </li>
                                </ul>
                                
                            </li>
                        {% endif %}
                        {% if session.menuParams['analyticsr'] %}
                            <li><a href="#">Revenue</a>
                                <ul>
                                    <li>
                                        <a href = '#'>
                                            Booked
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            Potential
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            Performance
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            Rate Variance
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            Average Group Rate
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            
            {% if session.menuParams['developers'] %}
                <li class = 'lilink'>
                    <a href='#'>Developers</a>
                    <ul>
                        <li>
                            <a href='/adddeveloper'>Add</a>
                        </li>
                        <li>
                            <a href='/hoteladdusertype'>Add UserType</a>
                        </li>
                    </ul>
                </li>

            {% endif %}
            {% endif %}



        </ul>
        <ul class='menu navbar-nav ml-auto'>
            <li>
                <a href="#">
                    Welcome! {{ session.firstName }} <i class="fas fa-user-circle"></i>
                    <ul class='sub-menu'>
                        <li>
                            <a href="{{ url_for('myprofile', email = session.email) }}">
                                My Profile
                            </a>
                        </li>
                        <li>
                            <a href='#'>
                                FAQ
                            </a>
                        </li>
                        <li>
                            <a href='#'>
                                User Guide
                            </a>
                        </li>
                        <li>
                            <a href='/signOut'>
                                Sign-Out
                            </a>
                        </li>
                    </ul>
                </a>
            </li>
        </ul>

        {% elif session.userType == 'developer' %}

        <ul class='menu navbar-nav mx-auto'>
            <li class = 'lilink'>
                <a class="homer" href="#">
                    Request
                </a>
                <ul class="sub-menu">
                    <li><a href="#">Create</a>
                        <ul>
                            <li><a href='#'>Adhoc</a></li>
                            <li><a href='#'>Series</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Manage</a></li>
                </ul>
            </li>
        
            <li class = 'lilink'>
                <a href="#">
                    Yield Manager
                </a>
                <ul class="sub-menu">
                    <li><a href="#">Rate Grid</a></li>
                    <li>
                        <a href="#">Discount</a>
                        <ul>
                            <li><a href="#">Create & View</a></li>
                            <li><a href="#">Map</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        
            <li class = 'lilink'>
                <a href="#">
                    Business Rules
                </a>
                <ul class="sub-menu">Add User Type

                    </li>
                    <li>
                        <a href="#">Contact</a>
                        <ul>
                            <li><a href="#">Create & View</a></li>
                            <li><a href="#">Map</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Time Limit</a>
                        <ul>
                            <li><a href="#">Create & View</a></li>
                            <li><a href="#">Map</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Negotiation</a></li>
                    <li><a href="#">Autopilot</a></li>
                </ul>
            </li>
        
            <li class = 'lilink'>
                <a href="#">
                    User Management
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href='#'>Hotel</a>
                        <ul>
                            <li>
                                <a href='/hoteladduser'>Add User</a>
                            </li>
                            <li>
                                <a href='/managehotelusers'>Edit</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Customer</a>
                        <ul>
                            <li>
                                <a href='#'>Add</a>
                            </li>
                            <li>
                                <a href='#'>Edit</a>
                            </li>
                            <li>
                                <a href='#'>Upload</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        
            <li class = 'lilink'><a href="#">Analytics</a>
                <ul class="sub-menu">
                    <li><a href="#">Dashboard</a>
                        <ul>
                            <li>
                                <a href="#">
                                    Requests
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Status
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Category
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Lead Time
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Revenue
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Room Nights
                                </a>
                            </li>
                        </ul>
            
                    </li>
                    <li><a href="#">Buying Behaviour</a>
                        <ul>
                            <li>
                                <a href='#'>
                                    Booking Lead Time
                                </a>
                            </li>
                            <li>
                                <a href='#'>
                                    Response Rate
                                </a>
                            </li>
                            <li>
                                <a href='#'>
                                    Group Category
                                </a>
                            </li>
                            <li>
                                <a href='#'>
                                    Request Time
                                </a>
                            </li>
                            <li>
                                <a href='#'>
                                    Conversion Rate
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Performance</a>
                        <ul>
                            <li>
                                <a href='#'>
                                    Hotel
                                </a>
                            </li>
                            <li>
                                <a href='#'>
                                    Customer
                                </a>
                            </li>
                            <li>
                                <a href='#'>
                                    Pending
                                </a>
                            </li>
                            <li>
                                <a href='#'>
                                    Time Limit Expiration
                                </a>
                            </li>
                        </ul>
            
                    </li>
                    <li><a href="#">Revenue</a>
                        <ul>
                            <li>
                                <a href='#'>
                                    Booked
                                </a>
                            </li>
                            <li>
                                <a href='#'>
                                    Potential
                                </a>
                            </li>
                            <li>
                                <a href='#'>
                                    Performance
                                </a>
                            </li>
                            <li>
                                <a href='#'>
                                    Rate Variance
                                </a>
                            </li>
                            <li>
                                <a href='#'>
                                    Average Group Rate
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        
        
            <li class = 'lilink'>
                <a href='#'>Developers</a>
                <ul>
                    <li>
                        <a href='/adddeveloper'>Add</a>
                    </li>
                    <li>
                        <a href='/hoteladdusertype'>Add UserType</a>
                    </li>
                </ul>
            </li>
        
        
        </ul>
        <ul class='menu navbar-nav ml-auto'>
            <li>
                <a href="#">
                    Welcome! {{ session.firstName }} <i class="fas fa-user-circle"></i>
                    <ul class='sub-menu'>
                        <li>
                            <a href="{{ url_for('myprofile', email = session.email) }}">
                                My Profile
                            </a>
                        </li>
                        <li>
                            <a href='#'>
                                FAQ
                            </a>
                        </li>
                        <li>
                            <a href='#'>
                                User Guide
                            </a>
                        </li>
                        <li>
                            <a href='/signOut'>
                                Sign-Out
                            </a>
                        </li>
                    </ul>
                </a>
            </li>
        </ul>


        {% elif session.userType == 'iatauser' %}
        <ul class='menu navbar-nav mx-auto'>
            <li class = 'lilink'>
                <a class="homer" href="#">
                    Request
                </a>
                <ul class="sub-menu">
                    <li><a href="#">Create</a>
                        <ul>
                            <li><a href='#'>Adhoc</a></li>
                            <li><a href='#'>Series</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Manage</a></li>
                </ul>
            </li>

            <li class = 'lilink'>
                <a href="#">
                    User Management
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href='#'>Add</a>
                    </li>
                    <li>
                        <a href="#">Edit</a>
                    </li>
                </ul>
            </li>



            <li class = 'lilink'><a href="#">Analytics</a>
                <ul class="sub-menu">
                    <li>
                        <a href="#">
                            Dashboard
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class='menu navbar-nav ml-auto'>
            <li>
                <a href="#">
                    Welcome! {{ session.firstName }} <i class="fas fa-user-circle"></i>
                    <ul class='sub-menu'>
                        <li>
                            <a href="{{ url_for('myprofile', email = session.email) }}">
                                My Profile
                            </a>
                        </li>
                        <li>
                            <a href='#'>
                                FAQ
                            </a>
                        </li>
                        <li>
                            <a href='#'>
                                User Guide
                            </a>
                        </li>
                        <li>
                            <a href='/signOut'>
                                Sign-Out
                            </a>
                        </li>
                    </ul>
                </a>
            </li>
        </ul>

        {% elif session.userType == 'customer' %}
        <ul class='menu navbar-nav mx-auto'>
            <li class = 'lilink'>
                <a class="homer" href="#">
                    Request
                </a>
                <ul class="sub-menu">
                    <li><a href="#">Create</a>
                        <ul>
                            <li><a href='#'>Adhoc</a></li>
                            <li><a href='#'>Series</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Manage</a></li>
                </ul>
            </li>


            <li class = 'lilink'><a href="#">Analytics</a>
                <ul class="sub-menu">
                    <li>
                        <a href="#">
                            Dashboard
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class='menu navbar-nav ml-auto'>
            <li>
                <a href="#">
                    Welcome! {{ session.firstName }} <i class="fas fa-user-circle"></i>
                    <ul class='sub-menu'>
                        <li>
                            <a href="{{ url_for('myprofile', email = session.email) }}">
                                My Profile
                            </a>
                        </li>
                        <li>
                            <a href='#'>
                                FAQ
                            </a>
                        </li>
                        <li>
                            <a href='#'>
                                User Guide
                            </a>
                        </li>
                        <li>
                            <a href='/signOut'>
                                Sign-Out
                            </a>
                        </li>
                    </ul>
                </a>
            </li>
        </ul>

        {% endif %}

    </div>
    {% endif %}
</nav>