{% extends 'layout.html' %}
{% block content %}
<div class = 'spread4' style="min-height: 100vh;">
    <form class = 'inline mb-5' onsubmit = 'view(event)'>
    <div class='row mb-5 mt-5'>
        <div class='col-sm-6'>
            <div class="input-group-prepend col-sm">
                <span class="input-group-text  mb-2">Date range</span>
                <input type="text" placeholder="Start date" aria-label="First name" class="form-control start-date  mb-2 "
                    id='startDateG' required>
                <input type="text" placeholder="End date" aria-label="Last name" class="form-control end-date  mb-2 mr-sm-2"
                    id='endDateG' required>
            </div>
        </div>
    </div>
    <span class = 'badge badge-primary mb-5'>
        Filters (Not Mandatory)
    </span>
    <div class = 'row mb-5'>
        <div class='col-sm-2'>
            <select class='form-control' id = 'leadtime'>
                <option selected disabled>
                    Booking Lead Time
                </option>
                <option>
                    0 - 14
                </option>
                <option>
                    14 - 45
                </option>
                <option>
                    45 - 120
                </option>
                <option>
                    120 - 180
                </option>
                <option>
                    180 +
                </option>
            </select>
        </div>
        <div class = 'col-sm-3'>
            <select class='form-control text-center' id='category' style='max-width: 90%;'>
                <option disabled selected>
                    Category
                </option>
                <option>
                    Bachelor-ette party
                </option>
                <option>
                    Business meeting
                </option>
                <option>
                    Corporate incentive travel
                </option>
                <option>
                    Class re-union
                </option>
                <option>
                    Family
                </option>
                <option>
                    Military
                </option>
                <option>
                    Music band
                </option>
                <option>
                    Religious/Church event
                </option>
                <option>
                    Sport team
                </option>
                <option>
                    Theatre
                </option>
                <option>
                    Wedding
                </option>
                <option>
                    Other
                </option>
            </select>
        </div>
        <div class = 'col-sm-3'>
            <select class = 'form-control text-center' style = 'max-width: 60%;' id = 'customerType'>
                <option disabled selected>
                    Customer Type
                </option>
                <option value = 'iata'>
                    IATA
                </option>
                <option value = 'corporate'>
                    Corporate
                </option>
                <option value = 'retail'>
                    Retail
                </option>
                <option value = 'tour'>
                    Tour Operator
                </option>
            </select>
        </div>
        <div class='col-sm-3'>
            <select class='form-control text-center' style='max-width: 50%;' id = 'status'>
                <option disabled selected>
                    Status
                </option>
                <option>
                    NEW
                </option>
                <option>
                    QUOTED
                </option>
                <option>
                    NEGOTIATED
                </option>
                <option>
                    ACCEPTED
                </option>
                <option>
                    CUSTOMER DECLINED
                </option>
                <option>
                    DELETED
                </option>
                <option>
                    SENT FOR REVIEW
                </option>
                <option>
                    HOTEL DECLINED
                </option>
                <option>
                    EXPIRED
                </option>
                <option>
                    CONFIRMED
                </option>
                <option>
                    NOT CONFIRMED
                </option>
            </select>
        </div>
    </div>
    <div class = 'row mb-5'>
        <div class='col-sm-6'>
            <button type='submit' class='btn action'>View Count</button>
        </div>
    </div>
    </form>
    <hr>
    <div class='table-responsive mb-5'>
        <table class='table table-bordered table-hover' id='tablefilllead'>
            <caption>Request Details in given date range</caption>
            <thead class='table-header'>
                <tr>
                    <th>
                        Booking Lead Time
                    </th>
                    <th>
                        Count
                    </th>
                    <th>
                        Length of Stay
                    </th>
                </tr>
            </thead>
            <tbody>
    
            </tbody>
        </table>
    </div>
    <div class = 'table-responsive mb-5'>
        <table class = 'table table-bordered table-hover' id = 'tablefillcategory'>
            <caption>Request Details in given date range</caption>
            <thead class = 'table-header'>
                <tr>
                    <th>
                        Category
                    </th>
                    <th>
                        Count
                    </th>
                    <th>
                        Length of Stay
                    </th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div class='table-responsive mb-5'>
        <table class='table table-bordered table-hover' id='tablefillcustomer'>
            <caption>Request Details in given date range</caption>
            <thead class='table-header'>
                <tr>
                    <th>
                        Customer Type
                    </th>
                    <th>
                        Count
                    </th>
                    <th>
                        Length of Stay
                    </th>
                </tr>
            </thead>
            <tbody>
    
            </tbody>
        </table>
    </div>
    <div class='table-responsive mb-5'>
        <table class='table table-bordered table-hover' id='tablefillstatus'>
            <caption>Request Details in given date range</caption>
            <thead class='table-header'>
                <tr>
                    <th>
                        Status
                    </th>
                    <th>
                        Count
                    </th>
                    <th>
                        Length of Stay
                    </th>
                </tr>
            </thead>
            <tbody>
    
            </tbody>
        </table>
    </div>

</div>


<script src="/static/js/jquery.js"></script>
<script>

     $(document).ready(function () {
        var $startDate = $('.start-date');
        var $endDate = $('.end-date');
         $startDate.datepicker({
             autoHide: true,
             dateFormat: "d M, y",
             changeMonth: true,
             changeYear: true,
         });
         $endDate.datepicker({
             autoHide: true,
             dateFormat: "d M, y",
             changeMonth: true,
             changeYear: true
         });

          $startDate.on('change', function () {
             $endDate.datepicker('destroy')
             var d2 = $startDate.datepicker('getDate');
             d2.setDate(d2.getDate() + 31)

             $endDate.datepicker({
                 autoHide: true,
                 dateFormat: "d M, y",
                 minDate: $startDate.datepicker('getDate'),
                 changeMonth: true,
                 changeYear: true,
                 maxDate: d2
             });
    });
     
     });



    function parseDate2(x) {
              let y = x.split(' ')
        let date = y[0]
        let year = "20" + y[2]

        let month = 0
        if (y[1] == 'Jan,') {
            month = "01"
        }
        if (y[1] == 'Feb,') {
            month = "02"
        }
        if (y[1] == 'Mar,') {
            month = "03"
        }
        if (y[1] == 'Apr,') {
            month = "04"
        }
        if (y[1] == 'May,') {
            month = "05"
        }
        if (y[1] == 'Jun,') {
            month = "06"
        }
        if (y[1] == 'Jul,') {
            month = "07"
        }
        if (y[1] == 'Aug,') {
            month = "08"
        }
        if (y[1] == 'Sep,') {
            month = "09"
        }
        if (y[1] == 'Oct,') {
            month = "10"
        }
        if (y[1] == 'Nov,') {
            month = "11"
        }
        if (y[1] == 'Dec,') {
            month = "12"
        }

        const result = year + "/" + month + "/" + date
        return result
    }

    function view(e) {
        e.preventDefault()
        const startDate = parseDate2($("#startDateG").val())
        const endDate = parseDate2($("#endDateG").val())
        const leadtime = $("#leadtime option:selected").text().trim();
        const category = $("#category option:selected").text().trim();
        const customerType = $("#customerType option:selected").val();
        const status = $("#status option:selected").text().trim();

       var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                // Typical action to be performed when the document is ready:
                const response = JSON.parse(xhttp.responseText)
                const leadres = response['leadres']
                if (leadres.length == 1) {
                    const tbody1 = document.getElementById('tablefilllead').children[2]
                    const tr = document.createElement('tr')
                    tr.innerHTML = `
                        <td>
                            ${leadres[0]['0']}
                        </td>
                        <td>
                            ${leadres[0]['1']}
                        </td>
                        <td>
                            ${leadres[0]['2']}
                        </td>
                    `
                    tbody1.appendChild(tr)
                } else {
                    const tbody1 = document.getElementById('tablefilllead').children[2]
                    for (let i=0; i<leadres.length; i++) {
                        const tr = document.createElement('tr')
                        tr.innerHTML = `
                        <td>
                            ${leadres[i]['0']}
                        </td>
                        <td>
                            ${leadres[i]['1']}
                        </td>
                        <td>
                            ${leadres[i]['2']}
                        </td>
                    `
                        tbody1.appendChild(tr)
                    }
                }
                const catres = response['catres']
                if (catres.length == 1) {
                    const tbody1 = document.getElementById('tablefillcategory').children[2]
                    const tr = document.createElement('tr')
                    tr.innerHTML = `
                        <td>
                            ${catres[0]['0']}
                        </td>
                        <td>
                            ${catres[0]['1']}
                        </td>
                        <td>
                            ${catres[0]['2']}
                        </td>
                    `
                    tbody1.appendChild(tr)
                } else {
                    const tbody1 = document.getElementById('tablefillcategory').children[2]
                    for (let i = 0; i < catres.length; i++) {
                        const tr = document.createElement('tr')
                        tr.innerHTML = `
                        <td>
                            ${catres[i]['0']}
                        </td>
                        <td>
                            ${catres[i]['1']}
                        </td>
                        <td>
                            ${catres[i]['2']}
                        </td>
                    `
                        tbody1.appendChild(tr)
                    }
                }
                const custres = response['custres']
                if (custres.length == 1) {
                    const tbody1 = document.getElementById('tablefillcustomer').children[2]
                    const tr = document.createElement('tr')
                    tr.innerHTML = `
                        <td>
                            ${custres[0]['0']}
                        </td>
                        <td>
                            ${custres[0]['1']}
                        </td>
                        <td>
                            ${custres[0]['2']}
                        </td>
                    `
                    tbody1.appendChild(tr)
                } else {
                    const tbody1 = document.getElementById('tablefillcustomer').children[2]
                    for (let i = 0; i < custres.length; i++) {
                        const tr = document.createElement('tr')
                        tr.innerHTML = `
                        <td>
                            ${custres[i]['0']}
                        </td>
                        <td>
                            ${custres[i]['1']}
                        </td>
                        <td>
                            ${custres[i]['2']}
                        </td>
                    `
                        tbody1.appendChild(tr)
                    }
                }

                const statusres = response['statusres']
                if (statusres.length == 1) {
                    const tbody1 = document.getElementById('tablefillstatus').children[2]
                    const tr = document.createElement('tr')
                    tr.innerHTML = `
                        <td>
                            ${statusres[0]['0']}
                        </td>
                        <td>
                            ${statusres[0]['1']}
                        </td>
                        <td>
                            ${statusres[0]['2']}
                        </td>
                    `
                    tbody1.appendChild(tr)
                } else {
                    const tbody1 = document.getElementById('tablefillstatus').children[2]
                    for (let i=0; i<statusres.length; i++) {
                        const tr = document.createElement('tr')
                        tr.innerHTML = `
                            <td>
                                ${statusres[i]['0']}
                            </td>
                            <td>
                                ${statusres[i]['1']}
                            </td>
                            <td>
                                ${statusres[i]['2']}
                            </td>
                        `
                        tbody1.appendChild(tr)
                    }
                }

            }
        };
        var url = "{{ url|safe }}" + "/analyticsbehaviorGet"
        var target = new URL(url)
        const params = new URLSearchParams();
        params.set('startDate', startDate)
        params.set('endDate', endDate)
        params.set('leadtime', leadtime)
        params.set('category', category)
        params.set('customerType', customerType)
        params.set('status', status)
        target.search = params.toString()

        xhttp.open("GET", target , true);
        xhttp.send();

        
    }





</script>
{% endblock %}