{% extends 'layout.html' %}
{% block content %}
<div class="spread4">
    <form class = 'inline mb-5' onsubmit = 'view(event)'>
        <div class = 'row mt-5 mb-5'>
            <div class = 'col-sm-6'>
                <div class="input-group-prepend col-sm">
                    <span class="input-group-text  mb-2">Date range</span>
                    <input type="text" placeholder="Start date" aria-label="First name" class="form-control start-date  mb-2 "
                        id='startDateG' required>
                    <input type="text" placeholder="End date" aria-label="Last name" class="form-control end-date  mb-2 mr-sm-2"
                        id='endDateG' required>
                </div>
            </div>
            <div class = 'col-sm-6'>
                <button type = 'submit' class = 'btn btn-info'>
                    View Graphs
                </button>
            </div>
        </div>
    </form>
    <hr>
    <div>
        <div class="row" style='border-bottom: 1px solid black;'>
            <div class="col-md-6" style='border-right: 1px solid black;'>
                <canvas id='leadres'></canvas>
            </div>
            <div class="col-md-6">
                <canvas id='revenueres'></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style='border-right: 1px solid black;'>
                <canvas id='hotelres'></canvas>
            </div>
            <div class="col-md-6">
                <span class = 'badge badge-pill badge-primary mb-2'>
                    Upcoming Groups in the next 5 days
                </span>
                <div class = 'table-responsive'>
                    <table class = 'table table-hovered table-bordered' id = 'tab55'>
                        <caption>Upcoming Groups in the next 5 days</caption>
                        <thead class = 'thead-dark'>
                            <tr>
                                <th>
                                    Request ID
                                </th>
                                <th>
                                    Group Name
                                </th>
                                <th>
                                    Check-In Date
                                </th>
                                <th>
                                    Check-Out Date
                                </th>
                                <th>
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in upcoming %}
                                <tr>
                                    <td>
                                        {{ r['id'] }}
                                    </td>

                                    <td>
                                        {{ r['groupName'] }}
                                    </td>

                                    <td>
                                        {{ r['checkIn'] }}
                                    </td>
                                    <td>
                                        {{ r['checkOut'] }}
                                    </td>

                                    <td>
                                        {{ r['status'] }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/Chart.bundle.js"></script>
<script>

    var massPopChart;
    var massPopChart2;
    var massPopChart3;

    $(document).ready(function() {

        var $startDate = $('.start-date');
        var $endDate = $('.end-date');

        var l1 = "{{ startDatePass }}"
        var l2 = "{{ endDatePass }}"

        $startDate.datepicker({
            autoHide: true,
            dateFormat: "d M, y",
            changeMonth: true,
            changeYear: true,
        });
        $endDate.datepicker({
            autoHide: true,
            dateFormat: "d M, y",
            changeMonth: true,
            changeYear: true
        });


        $startDate.datepicker('setDate', l1);
        $endDate.datepicker('setDate', l2);

        $startDate.on('change', function () {
            $endDate.datepicker('destroy')
            var d2 = $startDate.datepicker('getDate');
            d2.setDate(d2.getDate() + 31)

            $endDate.datepicker({
                autoHide: true,
                dateFormat: "d M, y",
                minDate: $startDate.datepicker('getDate'),
                changeMonth: true,
                changeYear: true,
                maxDate: d2
            });
        });



        $('#tab55').DataTable();
        let leadres = document.getElementById('leadres').getContext('2d');
        // global options
        Chart.defaults.global.defaultFontFamily = 'Lato';
        Chart.defaults.global.defaultFontSize = 18;

        let leadres2 = "{{ leadres|safe }}"
        leadres2 = leadres2.replace(/'/g, '"');
        leadres2 = JSON.parse(leadres2)

        massPopChart = new Chart(leadres, {
            type: 'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data: {
                labels: ['0 - 14', '14 - 45', '45 - 120', '120 - 180', '180 +'],
                datasets: [{
                    label: 'Number of Requests',
                    data: [
                        leadres2[0][1],
                        leadres2[1][1],
                        leadres2[2][1],
                        leadres2[3][1],
                        leadres2[4][1],
                    ],
                    borderColor: "#8e5ea2",
                    fill: false,
                    borderWidth: 1,
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Buying Behavior & lead time',
                    fontSize: 23,
                    padding: 10,
                    position: 'top'
                },
                legend: {
                    position: 'right',
                },
                labels: {
                    fontColor: "#000"
                },
                layout: {
                    padding: {
                        left: 0,
                        right: 0,
                    }
                },
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Number of Requests'
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Lead time in Days'
                        }
                    }]
                }
            },
        });


        let hotelres = document.getElementById('hotelres').getContext('2d');

        // global options

        let hotelres2 = "{{ hotelres|safe }}"
        hotelres2 = hotelres2.replace(/'/g, '"');
        hotelres2 = JSON.parse(hotelres2)
        let customeres = "{{ customeres|safe }}"
        customeres = customeres.replace(/'/g, '"');
        customeres = JSON.parse(customeres)
        customeres = customeres[0]

        massPopChart2 = new Chart(hotelres, {
            type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data: {
                labels: ['0 - 2', '2 - 8', '8 - 24', '24 +', 'notSubmitted'],
                datasets: [
                    {
                        label: 'Hotel',
                        backgroundColor: "#3e95cd",
                        data: [
                            hotelres2['table']["0 - 2"],
                            hotelres2['table']['2 - 8'],
                            hotelres2['table']["8 - 24"],
                            hotelres2['table']["24 +"],
                            hotelres2['notSubmitted']
                        ]
                    },
                    {
                        label: 'Customer',
                        backgroundColor: "#8e5ea2",
                        data: [
                            customeres['table']["0 - 2"],
                            customeres['table']['2 - 8'],
                            customeres['table']["8 - 24"],
                            customeres['table']["24 +"],
                            customeres['notSubmitted']
                        ] 
                    }
                ],
                    borderWidth: 1,
                    borderColor: '#777',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                },
            options: {
                title: {
                    display: true,
                    text: 'Performance Time for Hotel & Customer',
                    fontSize: 23,
                    padding: 10,
                    position: 'top'
                },
                legend: {
                    position: 'right',
                },
                labels: {
                    fontColor: "#000"
                },
                layout: {
                    padding: {
                        left: 0,
                        right: 0,
                        bottom: 15,
                    }
                },
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Count'
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Time in Hours'
                        }
                    }]
                }
                
            },
        });

        let revenueres = document.getElementById('revenueres').getContext('2d');


        let revenueres2 = "{{ revenueres|safe }}"
        revenueres2 = revenueres2.replace(/'/g, '"');
        revenueres2 = JSON.parse(revenueres2)

        massPopChart3 = new Chart(revenueres, {
            type: 'doughnut', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data: {
                labels: ['Potential(in $)', 'Booked(in $)'],
                datasets: [{
                    label: 'Revenue',
                    data: [
                        revenueres2[0][1],
                        revenueres2[0][2],
                    ],
                    backgroundColor: ["#e8c3b9", "#3e95cd"],
                    borderWidth: 1,
                    borderColor: '#777',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Revenue',
                    fontSize: 23,
                    padding: 10,
                    position: 'top'
                },
                legend: {
                    position: 'right',
                },
                labels: {
                    fontColor: "#000"
                },
                layout: {
                    padding: {
                        left: 0,
                        right: 0,
                        bottom: 15,
                    }
                },

            },
        });


        // table 
        

    })    
    
    function parseDate2(x) {
            let y = x.split(' ')
        let date = y[0]
        let year = "20" + y[2]

        let month = 0
        if (y[1] == 'Jan,') {
            month = "01"
        }
        if (y[1] == 'Feb,') {
            month = "02"
        }
        if (y[1] == 'Mar,') {
            month = "03"
        }
        if (y[1] == 'Apr,') {
            month = "04"
        }
        if (y[1] == 'May,') {
            month = "05"
        }
        if (y[1] == 'Jun,') {
            month = "06"
        }
        if (y[1] == 'Jul,') {
            month = "07"
        }
        if (y[1] == 'Aug,') {
            month = "08"
        }
        if (y[1] == 'Sep,') {
            month = "09"
        }
        if (y[1] == 'Oct,') {
            month = "10"
        }
        if (y[1] == 'Nov,') {
            month = "11"
        }
        if (y[1] == 'Dec,') {
            month = "12"
        }

        const result = year + "/" + month + "/" + date
        return result
    }

    function view(e) {
        e.preventDefault()
        const startDate = parseDate2($("#startDateG").val())
        const endDate = parseDate2($("#endDateG").val())


        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                const response = JSON.parse(xhttp.responseText)
                const leadres = response['leadres']
                const hotelres = response['hotelres']
                const customeres = response['customeres']
                const revenueres = response['revenueres']
                
                var leadres2 = []
                leadres2.push(leadres[0]['1'])
                leadres2.push(leadres[1]['1'])
                leadres2.push(leadres[2]['1'])
                leadres2.push(leadres[3]['1'])
                leadres2.push(leadres[4]['1'])

                massPopChart.data.datasets[0]['data'] = leadres2
                massPopChart.update()


                var revenueres2 = []
                revenueres2.push(revenueres['1'])
                revenueres2.push(revenueres['2'])

                massPopChart3.data.datasets[0]['data'] = revenueres2
                massPopChart3.update()

                var hotelres2 = []

                console.log(hotelres)
                console.log(customeres)

                hotelres2.push(hotelres['table']["0 - 2"])
                hotelres2.push(hotelres['table']['2 - 8'])
                hotelres2.push( hotelres['table']["8 - 24"])
                hotelres2.push( hotelres['table']["24 +"])
                hotelres2.push( hotelres['notSubmitted'])

                var customeres2 = []
                
                customeres2.push(customeres['table']["0 - 2"])
                customeres2.push(customeres['table']['2 - 8'])
                customeres2.push(customeres['table']["8 - 24"])
                customeres2.push(customeres['table']["24 +"])
                customeres2.push(customeres['notSubmitted'])

                massPopChart2.data.datasets[0]['data'] = hotelres2
                massPopChart2.data.datasets[1]['data'] = customeres2

                massPopChart2.update()

            }
        };
        var url = "{{ url|safe }}" + "/analyticsDashboardGet"
        var target = new URL(url)
        const params = new URLSearchParams();
        params.set('startDate', startDate)
        params.set('endDate', endDate)
        target.search = params.toString()

        xhttp.open("GET", target, true);
        xhttp.send();
    }


</script>
{% endblock %}