{% extends 'layout.html' %}
{% block content %}
<div class='spread4' style="min-height: 100vh;">
    <form class='inline mb-5' onsubmit='view(event)'>
        <div class='row mb-5 mt-5'>
            <div class='col-sm-6'>
                <div class="input-group-prepend col-sm">
                    <span class="input-group-text  mb-2">Date range</span>
                    <input type="text" placeholder="Start date" aria-label="First name"
                        class="form-control start-date  mb-2 " id='startDateG' required>
                    <input type="text" placeholder="End date" aria-label="Last name"
                        class="form-control end-date  mb-2 mr-sm-2" id='endDateG' required>
                </div>
            </div>
            <div class='col-sm-6'>
                <button type='submit' class='btn action'>View Turn Around Time</button>
            </div>
        </div>
    </form>
    <hr>
    <div class = 'mb-5'>
        <span class = 'badge badge-primary'>For Hotel</span>
    <div class='mt-5 mb-5'>
        <span class='btn btn-primary'>Average Time in Hours :

        </span>
        <span class='btn btn-primary' id='count'>
            0
        </span>
    </div>
    <div class='mt-5 mb-5'>
        <span class='btn btn-primary'>Total Requests :
    
        </span>
        <span class='btn btn-primary' id='count1'>
            0
        </span>
    </div>
    <div class='mt-5 mb-5'>
        <span class='btn btn-primary'>Not Submitted :
    
        </span>
        <span class='btn btn-primary' id='count2'>
            0
        </span>
    </div>
    <div class = 'table-responsive mb-5'>
        <table class = 'table table-bordered table-hover' id = 'tablef'>
            <caption>Performance for hotel</caption>
            <thead class = 'thead-dark'>
                <tr>
                    <th>
                       Response Time Range(in Hours)
                    </th>
                    <th>
                        Count
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        0 - 2
                    </td>
                    <td id = '0'>

                    </td>
                </tr>
                <tr>
                    <td>
                        2 - 8
                    </td>
                    <td id='1'>
                    
                    </td>
                </tr>
                <tr>
                    <td>
                        8 - 24
                    </td>
                    <td id='2'>
                    
                    </td>
                </tr>
                <tr>
                    <td>
                        24 + 
                    </td>
                    <td id='3'>
                    
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    </div>

    <hr>

    <div class='mb-5'>
        <span class='badge badge-primary'>For Customer</span>
        <div class='mt-5 mb-5'>
            <span class='btn btn-primary'>Average Time in Hours :
    
            </span>
            <span class='btn btn-primary' id='2count'>
                0
            </span>
        </div>
        <div class='mt-5 mb-5'>
            <span class='btn btn-primary'>Total Requests :
    
            </span>
            <span class='btn btn-primary' id='2count1'>
                0
            </span>
        </div>
        <div class='mt-5 mb-5'>
            <span class='btn btn-primary'>Not Submitted :
    
            </span>
            <span class='btn btn-primary' id='2count2'>
                0
            </span>
        </div>
        <div class='table-responsive mb-5'>
            <table class='table table-bordered table-hover' id='2tablef'>
                <caption>Performance for Customer</caption>
                <thead class='thead-dark'>
                    <tr>
                        <th>
                           Response Time Range(in Hours)
                        </th>
                        <th>
                            Count
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            0 - 2
                        </td>
                        <td id='20'>
    
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2 - 8
                        </td>
                        <td id='21'>
    
                        </td>
                    </tr>
                    <tr>
                        <td>
                            8 - 24
                        </td>
                        <td id='22'>
    
                        </td>
                    </tr>
                    <tr>
                        <td>
                            24 +
                        </td>
                        <td id='23'>
    
                        </td>
                    </tr>
    
                </tbody>
            </table>
        </div>
    </div>

</div>


<script src="/static/js/jquery.js"></script>
<script>

    $(document).ready(function () {

        var $startDate = $('.start-date');
       var $endDate = $('.end-date');
        $startDate.datepicker({
            autoHide: true,
            dateFormat: "d M, y",
            changeMonth: true,
            changeYear: true,
        });
        $endDate.datepicker({
            autoHide: true,
            dateFormat: "d M, y",
            changeMonth: true,
            changeYear: true
        });

        $startDate.on('change', function () {
            $endDate.datepicker('destroy')
            var d2 = $startDate.datepicker('getDate');
            d2.setDate(d2.getDate() + 31)

            $endDate.datepicker({
                autoHide: true,
                dateFormat: "d M, y",
                minDate: $startDate.datepicker('getDate'),
                changeMonth: true,
                changeYear: true,
                maxDate: d2
            });
    });

    });



    function parseDate2(x) {
            let y = x.split(' ')
        let date = y[0]
        let year = "20" + y[2]

        let month = 0
        if (y[1] == 'Jan,') {
            month = "01"
        }
        if (y[1] == 'Feb,') {
            month = "02"
        }
        if (y[1] == 'Mar,') {
            month = "03"
        }
        if (y[1] == 'Apr,') {
            month = "04"
        }
        if (y[1] == 'May,') {
            month = "05"
        }
        if (y[1] == 'Jun,') {
            month = "06"
        }
        if (y[1] == 'Jul,') {
            month = "07"
        }
        if (y[1] == 'Aug,') {
            month = "08"
        }
        if (y[1] == 'Sep,') {
            month = "09"
        }
        if (y[1] == 'Oct,') {
            month = "10"
        }
        if (y[1] == 'Nov,') {
            month = "11"
        }
        if (y[1] == 'Dec,') {
            month = "12"
        }

        const result = year + "/" + month + "/" + date
        return result
    }

    function view(e) {
        e.preventDefault()
        const startDate = parseDate2($("#startDateG").val())
        const endDate = parseDate2($("#endDateG").val())


        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                // Typical action to be performed when the document is ready:
                const response = JSON.parse(xhttp.responseText)
                $('#count').html(response['time'])
                $('#count1').html(response['requestsNo'])
                $("#count2").html(response['notSubmitted'])

                const table = response['table']
                $("#0").html(table["0 - 2"])
                $("#1").html(table["2 - 8"])
                $("#2").html(table["8 - 24"])
                $("#3").html(table["24 +"])

                $("#2count").html(response['2time'])
                $("#2count1").html(response['responsesNo'])
                $("#2count2").html(response['2notSubmitted'])

                const table2 = response['2table']
                $("#20").html(table2["0 - 2"])
                $("#21").html(table2["2 - 8"])
                $("#22").html(table2["8 - 24"])
                $("#23").html(table2["24 +"])
            }   
        };
        var url = "{{ url|safe }}" + "/analyticsperformanceGet"
        var target = new URL(url)
        const params = new URLSearchParams();
        params.set('startDate', startDate)
        params.set('endDate', endDate)
        target.search = params.toString()

        xhttp.open("GET", target, true);
        xhttp.send();


    }





</script>
{% endblock %}