{% extends 'layout.html' %}
{% block content %}
    <div class = 'spread4 mt-5' style = 'min-height: 100vh;'>

    <form class = 'inline mb-5' onsubmit = 'view(event)'>
        <div class='row mb-5 mt-5'>
            <div class='col-sm-6'>
                <div class="input-group-prepend col-sm">
                    <span class="input-group-text  mb-2">Date range</span>
                    <input type="text" placeholder="Start date" aria-label="First name" class="form-control start-date  mb-2 "
                        id='startDateG' required>
                    <input type="text" placeholder="End date" aria-label="Last name" class="form-control end-date  mb-2 mr-sm-2"
                        id='endDateG' required>
                </div>
            </div>
            <div class='col-sm-6'>
                <button type='submit' class='ml-5 btn action'>Download as excel</button>
            </div>
        </div>
    </form>
    <table class = 'table table-bordered table-responsive table-hovered' id = 'tab123'>
        <thead class = 'table-header'>
        </thead>
        <tbody>

        </tbody>
    </table>
    </div>

<script src="/static/js/jquery.js"></script>
<script>

    $(document).ready(function () {
        
        var $startDate = $('.start-date');
        var $endDate = $('.end-date');
        $startDate.datepicker({
            autoHide: true,
            dateFormat: "d M, y",
            changeMonth: true,
            changeYear: true,
        });
        $endDate.datepicker({
            autoHide: true,
            dateFormat: "d M, y",
            changeMonth: true,
            changeYear: true
        });

        $startDate.on('change', function () {
            $endDate.datepicker('destroy')
            var d2 = $startDate.datepicker('getDate');
            d2.setDate(d2.getDate() + 31)

            $endDate.datepicker({
                autoHide: true,
                dateFormat: "d M, y",
                minDate: $startDate.datepicker('getDate'),
                changeMonth: true,
                changeYear: true,
                maxDate: d2
            });
        });


    });

    function parseDate2(x) {
             let y = x.split(' ')
        let date = y[0]
        let year = "20" + y[2]

        let month = 0
        if (y[1] == 'Jan,') {
            month = "01"
        }
        if (y[1] == 'Feb,') {
            month = "02"
        }
        if (y[1] == 'Mar,') {
            month = "03"
        }
        if (y[1] == 'Apr,') {
            month = "04"
        }
        if (y[1] == 'May,') {
            month = "05"
        }
        if (y[1] == 'Jun,') {
            month = "06"
        }
        if (y[1] == 'Jul,') {
            month = "07"
        }
        if (y[1] == 'Aug,') {
            month = "08"
        }
        if (y[1] == 'Sep,') {
            month = "09"
        }
        if (y[1] == 'Oct,') {
            month = "10"
        }
        if (y[1] == 'Nov,') {
            month = "11"
        }
        if (y[1] == 'Dec,') {
            month = "12"
        }

        const result = year + "/" + month + "/" + date
        return result
    }

    function view(e) {
        e.preventDefault();
        
        const startDate = parseDate2($("#startDateG").val())
        const endDate = parseDate2($("#endDateG").val())


        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                let response = JSON.parse(xhttp.responseText);
                response = (response['response'])
                if (response.length == 0) {
                    alert('No records exist')
                    return false
                }
                var table = $('#tab123')[0]
                var thead = table.children[0]
                var tbody = table.children[1]

                var firstChild = response[0]
                const tr = document.createElement('tr')
                firstChild = {
                    'id' : 'id',
                    'status': 'status',
                    'groupName': 'groupName', 
                    'checkIn': 'checkIn',
                    'checkOut': 'checkOut',
                    'leadTime': 'leadTime',
                    'nights': 'nights',
                    'category': 'category',
                    'userType': 'userType',
                    'budget': 'budget',
                    'createdBy': 'createdBy',
                    'createdOn': 'createdOn',
                    'foc': 'foc',
                    'foc1': 'foc1',
                    'foc2': 'foc2',
                    'commissionable': 'commissionable',
                    'groupBlock': 'groupBlock',
                    'evaluatedFare': 'evaluatedFare',
                    'totalQuote': 'totalQuote',
                    'timesNegotiated': 'timesNegotiated',
                    'expectedFare': 'expectedFare',
                    'negotiationReason': 'negotiationReason',
                    'formPayment': 'formPayment',
                    'paymentTerms': 'paymentTerms',
                    'paymentDays': 'paymentDays',
                    'expiryTime': 'expiryTime',
                    'overrideFlag': 'overrideFlag',
                    'overrideReason': 'overrideReason',
                    'comments': 'comments',

                    
                }

                for (var key in firstChild) {
                    const th = document.createElement('th');
                    th.innerHTML = `
                                    ${key}
                                `
                    tr.appendChild(th)
                }

                thead.appendChild(tr)

                for (let i=0; i<response.length; i++ ){
                    const tr = document.createElement('tr')
                    

                    
                    for (var key in firstChild) {
                        const th = document.createElement('th');
                        th.innerHTML = `
                                    ${response[i][key]}
                                `
                        tr.appendChild(th)
                    }
                    
                    tbody.appendChild(tr)

                }


                var table = $('#tab123').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        { extend: 'excel', className: 'btn btn-primary' }
                    ],
                    'scrollX': true,
                    "order": [0, 'desc'],
                });

                $(".buttons-html5").removeClass('dt-button')
                $(".buttons-html5").addClass('action')
            };
        };
        var url = "{{ url|safe }}" + "/analyticsstdreportGet"
        var target = new URL(url)
        const params = new URLSearchParams();
        params.set('startDate', startDate)
        params.set('endDate', endDate)
        target.search = params.toString()

        xhttp.open("GET", target, true);
        xhttp.send();
    }

</script>

{% endblock %}