{% extends 'layout.html' %}
{% block content %}
<div class='spread4' style="min-height: 100vh;">
        <div class='table-responsive mb-5'>
            <table class='table table-bordered table-hover' id='tablef'>
                <caption>Tracking Quoted Requests</caption>
                <thead class='thead-dark'>
                    <tr>
                        <th>
                            Request ID
                        </th>
                        <th>
                            Expiry DateTime
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in result %}
                        <tr>
                            <td>
                                {{ r['id'] }}
                            </td>
                            <td>
                                {{ r['expiry'] }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class='table-responsive mb-5'>
            <table class='table table-bordered table-hover' id='tablef1'>
                <caption>Accepted Requests with Payment Guarantee</caption>
                <thead class='thead-dark'>
                    <tr>
                        <th>
                            Request ID
                        </th>
                        <th>
                            Group Name
                        </th>
                        <th>
                            Check-In Date
                        </th>
                        <th>
                            Check-Out Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in result2 %}
                    <tr>
                        <td>
                            {{ r['id'] }}
                        </td>
                        <td>
                            {{ r['groupName'] }}
                        </td>
                        <td>
                            {{ r['checkIn']  }}
                        </td>
                        <td>
                            {{ r['checkOut'] }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class='table-responsive mb-5'>
            <table class='table table-bordered table-hover' id='tablef1'>
                <caption>All Upcoming Requests</caption>
                <thead class='thead-dark'>
                    <tr>
                        <th>
                            Request ID
                        </th>
                        <th>
                            Group Name
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Check In Date
                        </th>
                        <th>
                            Check Out Date
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in result3 %}
                    <tr>
                        <td>
                            {{ r['id'] }}
                        </td>
                        <td>
                            {{ r['groupName'] }}
                        </td>
                        <td>
                            {{ r['category'] }}
                        </td>
                        <td>
                            {{ r['checkIn'] }}
                        </td>
                        <td>    
                            {{ r['checkOut'] }}
                        </td>
                        <td>
                            {{ r['status'] }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>

</div>

{% endblock %}