{% extends 'layout.html' %}
{% block content %}
<style>
    .ttt {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
</style>
<div class = 'container-login' style = 'background: white !important;'>
    <div class = 'ttt'>
        <p class = 'lead'>
            Your response has been registered. <i class="fas fa-check-circle"></i>
        <br><br>
        <a href = '/' style = 'text-decoration: none;'>
            Click to go back to Trompar
        </a>
        </p>
    </div>
</div>
{% endblock %}