<p>
    Please Do not reply to this email.
</p>
<div>
    <img src="cid:ribbon" alt="" srcset="">
</div>
<h2>
    Hello,
</h2>
<p>
    You have recieved a response to your group rate
    enquiry. <br>
    Press on the link {{ link }} to view & accept your rate quote. <br>
</p>
<p>
<b>
    Rooms & Rate are subject to availability at the time of booking.
</b>
</p>
<p>
    Thanks, <br>
    The Row Hotel | 408-111-2255 <br>
    Do not reply to this email. <br>
</p>
<p style = 'background-color: grey; color: white; text-align: left;'>
    Hotel Reservations: 123-122-5584

    <span style = 'float:right; color: white; text-decoration: none;'>
        Hotel Email : hotel@trompar.com
    </span>
</p>
