{% extends 'layout.html' %}
{% block content %}
<style>
    .form-group {
        display: flex;
        flex-direction: row;
    }

    .form-group label {
        width: 250px;
        display: block;
        font-weight: bold;
    }

</style>
<div class="container-login">
    <div class='wrap-login'>
        <div class='mb-5'>
            <a class='btn linkbtn' href='{{ url_for("home2")  }}'>Back <i class="fas fa-backward"></i></a>
            <span class="btn otherbtn">Status : {{ requestData['status'] }} </span>
            <div class='mt-5 mb-5'>
                <span class = 'badge otherbtn'>
                    Accepted On : {{ acceptedOn }}
                </span>
            </div>
        </div>
        <hr>
        <form method = 'POST'>
            <div class = 'form-group mb-5'>
                <label class = ''>
                    Request ID
                </label>
                <input type = 'text' value = "{{ requestData['id'] }}" readonly class = 'form-control' style="width: 20%; display: inline-block;">
            </div>
            <div class = 'form-group mb-5'>
                <label class = ''>
                    Check-In Date
                </label>
                <input type = 'text' value = "{{ requestData['checkIn'] }}" readonly class = 'form-control' style="width: 40%; display: inline-block;">
            </div>
            <div class='form-group mb-5'>
                <label class = ''>
                    Check-Out Date
                </label>
                <input type='text' value="{{ requestData['checkOut'] }}" readonly class = 'form-control' style="width: 40%; display: inline-block;">
            </div>
            <div class = 'form-group mb-5'>
                <label class = ''>
                    Total Quote($)
                </label>
                <input type = 'text' value = "{{ totalQuote }}" readonly class = 'form-control' style="width: 20%; display: inline-block;">
            </div>
            <div class = 'form-group mb-5'>
                <label class = ''>
                    Confirmation Code*
                </label>
                <input type = 'text' class = 'form-control'  style="width: 40%; display: inline-block;" required id = 'confirmationCode'>
            </div>
            <div class = 'form-group mb-5'>
                <label class = ''>
                    Comments
                </label>
                <textarea class = 'form-control' rows = '2' cols = '2' id = 'comments' style="width: 50%;"></textarea>
            </div>
            <div id = 'msg'></div>
            <div class = 'row mb-5'>
                <div class = 'col-sm-12 mt-3'>
                    <div class = 'text-center'>
                        <button type = 'submit' class = 'btn action mr-5' onclick = 'decline(event)'>Decline</button>
                        <button type = 'submit' class = 'btn action' onclick = 'accept(event)'>Confirm</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/static/js/jquery.js"></script>
<script>
    function decline(e) {
        e.preventDefault();
        const confirmationCode = $("#confirmationCode").val()
        const comments = $("#comments").val()

        if (confirmationCode == '') {
            let msg2 = document.getElementById('msg')
            msg2.style.setProperty('color', 'red', 'important');

            msg2.innerHTML = `Kindly enter confirmation Code`
            $(msg2).show()
            return false
        }
        if (comments == '') {
            let msg2 = document.getElementById('msg')
            msg2.style.setProperty('color', 'red', 'important');

            msg2.innerHTML = `Kindly enter reason for decline`
            $(msg2).show()
            return false
        }

        $("#msg").hide()
        const result = {}
        result['id'] = "{{ requestData['id'] }}"
        result['confirmationCode'] = confirmationCode
        result['comments'] = comments

        fetch('/notConfirmRequest', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(result)
        })
        .then(res => {
            window.location.href = '/'
        })
        .catch(err => {
            console.log(err)
        })

    }

    function accept(e) {
        e.preventDefault();
        const confirmationCode = $("#confirmationCode").val()
        const comments = $("#comments").val()
        if (confirmationCode == '') {
            let msg2 = document.getElementById('msg')
            msg2.style.setProperty('color', 'red', 'important');

            msg2.innerHTML = `Kindly enter confirmation Code`
            $(msg2).show()
            return false
        }
        $("#msg").hide()
        const result = {}
        result['id'] = "{{ requestData['id'] }}"
        result['confirmationCode'] = confirmationCode
        result['comments'] = comments


        
        fetch('/confirmRequestSubmit', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(result)
        })
        .then(res => {
            window.location.href = '/'
        })
        .catch(err => {
            console.log(err)
        })
    }
</script>

{% endblock %}