{% extends 'layout.html' %}
{% block content %}

<div class="home">
    <div class="wrap-login">
        <div class='loginH'>
            <div class='text-center'>
                <p>Enter OCC :</p>
            </div>
        </div>
        <small id='smallID' class='form-text text-muted mb-5'>
            All fields are in percentage (%)
        </small>
        <form action = '{{ url_for("showRequest1") }}' method = 'POST' id = 'gocc'>
            <input type = 'hidden' name = 'id' value = '{{ token }}'>
            
            {% for d in dates %}
                <div class = 'row mb-5'>
                    <div class = 'col-sm-6'>
                        <label class = 'btn btn-info'>{{ d['s'] }}</label>
                    </div>
                    <div class='col-sm-6'>
                        <input type = 'number' step = 'any' min = '0' max = '100' class = 'form-control ml-5' style = 'width: 60%;' name = '{{ d["d"] }}' required>
                    </div>
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-sm-12 mt-3">
                    <div class="text-center">
                        <button type="submit" id='subm' class="btn action">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/static/js/jquery.js"></script>
<script>
    const flag = "{{ flag }}"
    $(document).ready(function () {
        if (flag == "False")
            $("#gocc").submit();
    });
</script>

{% endblock %}