{% extends 'layout.html' %}
{% block content %}
<div class="spread4">
        <div class='loginH'>
            <div class='text-center'>
                <p>Create Adhoc Request</p>
            </div>
        </div>
        <small id='smallID' class='form-text text-muted mb-5'>
            Fields marked with * are mandatory.
        </small>
        <form action="" method="POST" onsubmit="aj(event)" id='formF'>
            <div class = 'mge'>
                <div class = 'mge1'>
                <div class="form-group row mb-5">
                    <label class="col-sm-2 col-form-label">Category*</label>
                    <div class="col-sm-10">
                        <select class='form-control text-center' id='category' required style = 'max-width: 60%;'>
                            <option disabled selected>
                                Category
                            </option>
                        <option>
                            Bachelor-ette party
                        </option>
                        <option>
                            Business meeting
                        </option>
                        <option>
                            Corporate incentive travel
                        </option>
                        <option>
                            Class re-union
                        </option>
                        <option>
                            Family
                        </option>
                        <option>
                            Military
                        </option>
                        <option>
                            Music band
                        </option>
                        <option>
                            Religious/Church event
                        </option>
                        <option>
                            Sport team
                        </option>
                        <option>
                            Theatre
                        </option>
                        <option>
                            Wedding
                        </option>
                        <option>
                            Other
                        </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row mb-5">
                    <label class="col-sm-2 col-form-label">Group Name*</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" style = 'max-width: 50%;' required id = 'groupName'>
                    </div>
                </div>
                <div class="form-group row mb-5">
                    <label class="col-sm-2 col-form-label">Customer ID*</label>
                    <div class="col-sm-10">
                        <select class='form-control text-center mb-5' id='createdFor' required style='max-width: 60%;'>
                            <option selected disabled>
                                Customer ID
                            </option>
                            {% for user in users %}
                                <option>
                                    {{ user['email'] }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div id='msg2'></div>
                <div class = 'form-group mb-5 mt-5'>
                    <table class="table table-hover table-bordered table-sm" id='tab5'>
                        <thead class="table-header">
                            <tr>
                                <th>Check-In</th>
                                <th>Check-Out</th>
                                <th>Nights</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                            <input type="text" placeholder="Check-In" class=" start-date  mb-2 "
                                id='startDateG' required>
                                </td>
                                <td>
                            <input type="text" placeholder="Check-Out" class=" end-date  mb-2"
                                id='endDateG' required>
                                </td>
                                <td>
                                    <input type='text' class = 'num2' id='nights' readonly>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id = 'ded'>

                    </div>
                </div>
                </div>
                <div class = 'mge2'>
                <div class="form-group row mb-5">
                    <label class="col-sm-3 col-form-label">Commissionable<i class="fas fa-info-circle"></i></label>
                    
                    <div class = 'col-sm-1'>    
                        <input type='checkbox' class = 'mt-2' id = 'ccom' onclick="ccomf()">
                    </div>
                    <div class="col-sm-7">
                        <input type="number" class="form-control" style='max-width: 50%;' disabled id = 'ccomn' required value = '' name = 'commissionable' placeholder="In Percentage">
                    </div>
                </div>
                <div class="form-group row mb-5">
                    <label class="col-sm-3 col-form-label">Group Block<i class="fas fa-info-circle"></i></label>
                    <div class='col-sm-1'>
                        <input type='checkbox' class='mt-2' id = 'groupBlock'>
                    </div>
                </div>
                <div class="form-group row mb-5">
                    <label class="col-sm-3 col-form-label">FOC<i class="fas fa-info-circle"></i></label>
                    <div class='col-sm-1'>
                        <input type='checkbox' class='mt-2' id = 'focc' onclick="foccf()" name = 'foc'>
                    </div>
                    <div class = 'col-sm-8'>
                        <table class="table table-bordered table-hover table-sm" id='tab4'>
                            <thead class="table-header">
                                <tr>
                                    <th>Room Type</th>
                                    <th>Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1 Bed</td>
                                    <td>
                                        <input type='number' class='num foccc' min='1' id='foc1' disabled required onchange="notr(event)">
                                    </td>
                                </tr>
                                <tr>
                                    <td>2 Bed</td>
                                    <td>
                                        <input type='number' class='num foccc' min='1' id='foc2' disabled required onchange="notr(event)">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group row mb-5">
                    <label class="col-sm-4 col-form-label">Budget*(excluding Taxes)<i class="fas fa-info-circle"></i></label>
                    <div class="col-sm-6 input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">$</span>
                        </div>
                        <input type="number" class="form-control mr-3" style='max-width: 50%; display: inline-block' required id = 'budget' min = '10'>
                        
                        <span>Rooms/Night</span>
                    </div>
                </div>
                <div class="form-group row mb-5">
                    <label class="col-sm-3 col-form-label">Form of Payment<i class="fas fa-info-circle"></i></label>
                    <div class="col-sm-7">
                        <select class='form-control text-center payment' id='formPayment'  style='max-width: 60%;' multiple = 'multiple'>
                            <option value = 'bt'>
                                Bank Transfer
                            </option>
                            <option value = 'cq'>
                                Cheque
                            </option>
                            <option value = 'cc'>
                                Credit Card
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row mb-5">
                    <label class="col-sm-3 col-form-label">Payment Terms<i class="fas fa-info-circle"></i></label>
                    <div class="col-sm-5">
                        <select class='form-control text-center' name='paymentTerms'  style='max-width: 90%;' onchange="hdd(event)" id = 'dede'>
                            <option disabled selected>
                                Payment Terms
                            </option>
                            <option value = 'poa'>
                                Prior To Arrival
                            </option>
                            <option value = 'pc'>
                                Post Checkout
                            </option>
                            <option value = 'ac'>
                                At Checkout
                            </option>
                        </select>
                    </div>
                    <div class = 'col-sm-4'  id = 'dede22'>
                        <input type = 'number' class = 'form-control' style = 'max-width: 50%; display: inline-block;'  name = 'paymentDays' id = 'dede33' disabled><span> Days</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Comments</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows = '2' id = 'comments'>

                        </textarea>
                    </div>
                </div>
            </div>
            </div>

            <div class="row">
                <div class="col-sm-12 mt-3">
                    <div class="text-center">
                        <button type="submit" id='subm' class="btn action">Submit</button>
                    </div>
                </div>
            </div>
        </form>
</div>

<script src="/static/js/jquery.js"></script>
<script>

    function notr(event) {
        const id = event.target.id
        if (id == 'foc1') {
            $('#foc2').prop('required', false)
        } else {
            $('#foc1').prop('required', false)
        }
    }

    function hdd(e) {
        const dede = document.getElementById('dede')
        const option = dede.options[dede.selectedIndex].value
        const dede22 = document.getElementById('dede22')
        if (option === 'ac') {
            $('#dede33').val('')
            $(dede22).hide()
        } else {
            $(dede22).show()
            $('#dede33').removeAttr('disabled')
            document.getElementById('dede33').required = true
        }

    }

    function ccomf() {
        const ccom = document.getElementById('ccom')
        const ccomn = document.getElementById('ccomn')

        if (ccom.checked) {
            ccomn.disabled = false
        } else {
            ccomn.disabled = true
        }
    }

    function foccf() {
        const focc = document.getElementById('focc')
        const foccc = [...document.getElementsByClassName('foccc')]

        if (focc.checked) {
            foccc.forEach(focc => {
                focc.disabled = false
            })
        } else {
            foccc.forEach(focc => {
                focc.disabled = true
            })
        }
    }

    function remr(e) {
        const p = e.target.parentElement.parentElement.parentElement
        $(p).remove()
    }

    function addr(e) {
        const p = e.target.parentElement.parentElement.parentElement.parentElement
        const thead2 = document.createElement("tr")
        const tbody = p.children

        let selected1 = []
        let selected2 = []
        for(let i=1; i<tbody.length; i++) {
            let type = tbody[i].children[0].children[0]
            let occ = tbody[i].children[1].children[0]
            type = type.options[type.selectedIndex].text
            occ = occ.options[occ.selectedIndex].text
            if (type == '1 Bed') {
                if (!selected1.includes(occ))
                    selected1.push(occ)
            } else {
                if (!selected2.includes(occ))
                selected2.push(occ)
            }
        }

        const c1 = "{{ c1|safe }}"
        const c2 = "{{ c2|safe }}"



        if (selected1.length == c1  && selected2.length == c2) {
            alert('All types have been filed')
            return false
        }

        thead2.innerHTML = `
                                        <td>
                                         <select onchange = 'poor(event)'>
                                                <option value = '1'>1 Bed</option>
                                                <option value = '2'>2 Bed</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class = 'seldom'>
                                                <option class = "{{ data[0]['single'] }}">Single</option>
                                                <option class = "{{ data[0]['double'] }}">Double</option>
                                                <option class = "{{ data[0]['triple'] }}">Triple</option>
                                                <option class = "{{ data[0]['quad'] }}">Quad</option>
                                            </select>
                                        </td>
                                        <td>
                                        <input type="number" class = 'num'  required max = '{{ data[0]['count'] }}' min = 1>
                                        </td>
                                        <td>
                                            <button type = 'button' onclick = 'addr(event)' class = 'baddr'>
                                                <i class="fas fa-plus-circle"></i>
                                            </button>
                                            <button type = 'button' onclick = 'remr(event)' class = 'baddr'>
                                               <i class="fas fa-minus-circle"></i>
                                            </button>
                                        </td>
                                    ` 
    
        
        
       


        p.appendChild(thead2)
        setOptionssel()
    }

    function setOptionssel() {
        const selects = [...document.getElementsByClassName('seldom')]
        selects.forEach(select => {
            const options = [...select.options]
            options.forEach(option => {
                if ($(option).hasClass('0')) {
                    $(option).hide()
                }
            })
            
        })
    }


    function poor(e) {

        const data = "{{data|safe}}"
        const selected = e.target.value

        const type1 = "{{ data[0]['type'] }}"
        const type2 = "{{ data[1]['type'] }}"

        const type1arr = []
        type1arr.push("{{ data[0]['single'] }}")
        type1arr.push("{{ data[0]['doublev'] }}")
        type1arr.push("{{ data[0]['triple'] }}")
        type1arr.push("{{ data[0]['quad'] }}")


        const type2arr = []
        type2arr.push("{{ data[1]['single'] }}")
        type2arr.push("{{ data[1]['doublev'] }}")
        type2arr.push("{{ data[1]['triple'] }}")
        type2arr.push("{{ data[1]['quad'] }}")

        let inp = e.target.parentElement.nextElementSibling.nextElementSibling.children[0]
        if (selected == 1) {
            inp.max = ("{{ data[0]['count'] }}")
        } else {
            inp.max = ("{{ data[1]['count'] }}")
        }

        const p = e.target.parentElement.nextElementSibling.children[0]


        if (e.target.value == type1) {
            for (let i=0; i<p.options.length; i++) {
                if (p.options[i].value == 'Single' && type1arr[0] != 1) {
                    p.options[i].style.display = 'none'
                } else if (p.options[i].value == 'Single' && type1arr[0] == 1) {
                    p.options[i].style.display = 'block'
                }
                if (p.options[i].value == 'Double' && type1arr[1] != 1) {
                    p.options[i].style.display = 'none'
                } else if (p.options[i].value == 'Double' && type1arr[1] == 1) {
                    p.options[i].style.display = 'block'
                }
                if (p.options[i].value == 'Triple' && type1arr[2] != 1) {
                    p.options[i].style.display = 'none'
                } else  if (p.options[i].value == 'Triple' && type1arr[2] == 1){
                    p.options[i].style.display = 'block'
                }
                if (p.options[i].value == 'Quad' && type1arr[3] != 1) {
                    p.options[i].style.display = 'none'
                } else  if (p.options[i].value == 'Quad' && type1arr[3] == 1){
                    p.options[i].style.display = 'block'
                }
            }
        } else {
            for (let i = 0; i < p.options.length; i++) {
               if (p.options[i].value == 'Single' && type2arr[0] != 1) {
                    p.options[i].style.display = 'none'
                } else if (p.options[i].value == 'Single' && type2arr[0] == 1) {
                    p.options[i].style.display = 'block'
                }
                if (p.options[i].value == 'Double' && type2arr[1] != 1) {
                    p.options[i].style.display = 'none'
                } else if (p.options[i].value == 'Double' && type2arr[1] == 1) {
                    p.options[i].style.display = 'block'
                }
                if (p.options[i].value == 'Triple' && type2arr[2] != 1) {
                    p.options[i].style.display = 'none'
                } else if (p.options[i].value == 'Triple' && type2arr[2] == 1) {
                    p.options[i].style.display = 'block'
                }
                if (p.options[i].value == 'Quad' && type2arr[3] != 1) {
                    p.options[i].style.display = 'none'
                } else if (p.options[i].value == 'Quad' && type2arr[3] == 1) {
                    p.options[i].style.display = 'block'
                }
            }
        }

    }   

    
    function calcNights() {

        var $startDate = $('.start-date');
        var $endDate = $('.end-date');
        var ni = $('#nights')
        const tb5 = document.getElementById('ded')
        ded.innerHTML = ''
        

        if ($endDate.val() != '' && $startDate.val() != '') {
            
            const ed = $endDate.datepicker('getDate')
            const sd = $startDate.datepicker('getDate')

            const diff = (ed - sd) / (1000 * 60 * 60 * 24)

            ni[0].value = diff

            let dobj = sd

            const tb5 = document.getElementById('ded')

            for (let i=0; i<diff; i++) {
                
                const tb = document.createElement('table')
                tb.classList.add('table', 'table-hover', 'table-bordered', 'table-sm', 'tab7')
                tb.setAttribute('id', i)

                const thead = document.createElement("tr")
                thead.innerHTML = `   
                                <tr>
                                    <th>Room Type</th>
                                    <th>Occupancy</th>
                                    <th>Number of Rooms</th>
                                    <th>Actions</th>
                                </tr>
                                `
                thead.classList.add('table-header')
                const thead2 = document.createElement("tr")
                thead2.innerHTML = `
                                        <td>
                                            <select onchange = 'poor(event)'>
                                                <option value = '1'>1 Bed</option>
                                                <option value = '2'>2 Bed</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class = 'seldom'>
                                                <option class = "{{ data[0]['single'] }}">Single</option>
                                                <option class = "{{ data[0]['double'] }}">Double</option>
                                                <option class = "{{ data[0]['triple'] }}">Triple</option>
                                                <option class = "{{ data[0]['quad'] }}">Quad</option>
                                            </select>
                                        </td>        
                                        <td>
                                        <input type="number" class = 'num'  required max = '{{ data[0]['count'] }}' min = 1>
                                        </td>
                                        <td>
                                            <button type = 'button' onclick = 'addr(event)' class = 'baddr'>
                                                <i class="fas fa-plus-circle"></i>
                                            </button>
                                            <button type = 'button' onclick = 'remr(event)' class = 'baddr'>
                                               <i class="fas fa-minus-circle"></i>
                                            </button>
                                        </td>
                                    `                
                
                const butt = document.createElement('button')
                butt.classList.add('btn', 'otherbtn', 'coll')
                butt.type = 'button'
                butt.innerHTML = dobj.toDateString()
                dobj.setDate(dobj.getDate() + 1)


                butt.addEventListener('click', () => {
                    let el = document.getElementById(i)
                    if (el != null) {
                        if (el.style.display == 'none') {
                            el.style.display = 'table'
                        }
                        else
                            el.style.display = 'none'
                    }
                })



                tb.appendChild(thead)
                tb.appendChild(thead2)
                tb5.appendChild(butt)

                if (i == 0) {
                    const butt2 = document.createElement('button')
                    butt2.classList.add('btn', 'action', 'aple')
                    butt2.id = 'ApplyAll'
                    butt2.style = 'margin-left: 300px;'
                    butt2.type = 'button'
                    butt2.innerHTML = 'Apply All'
                    butt.style.display = 'inline-block';
                    butt2.addEventListener('click', () => {
                        let el = document.getElementById(i)
                        for (let j = 1; j < diff; j++) {
                            let bel = document.getElementById(j)
                            var copy = $(el).clone(true);
                            copy[0].setAttribute('id', j);
                            bel.parentNode.replaceChild(copy[0], bel);
                        }
                    })

                    tb5.appendChild(butt2)
                } else {
                    butt.click()
                }

                tb5.appendChild(tb)


                 setOptionssel()
            }





        }   
    }

    function calcNights2() {
        var $startDate = $('.start-date');
        var $endDate = $('.end-date');
        var ni = $('#nights')
        const tb5 = document.getElementById('ded')
        const tables = tb5.getElementsByTagName('table')
        
        if ($endDate.val() != '' && $startDate.val() != '') {
            const ed = $endDate.datepicker('getDate')
            const sd = $startDate.datepicker('getDate')

            const diff = (ed - sd)/ (1000 * 60 * 60 * 24)

            ni[0].value = diff


            if (tables.length == 0) {
                for (let i = 0; i < diff; i++) {

                    let dobj = sd

                    const tb = document.createElement('table')
                    tb.classList.add('table', 'table-hover', 'table-bordered', 'table-sm', 'tab7')
                    tb.setAttribute('id', i)

                    const thead = document.createElement("tr")
                    thead.innerHTML = `   
                                <tr>
                                    <th>Room Type</th>
                                    <th>Occupancy</th>
                                    <th>Number of Rooms</th>
                                    <th>Actions</th>
                                </tr>
                                `
                    thead.classList.add('table-header')
                    const thead2 = document.createElement("tr")
                    thead2.innerHTML = `
                                        <td>
                                            <select onchange = 'poor(event)'>
                                                <option value = '1'>1 Bed</option>
                                                <option value = '2'>2 Bed</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class = 'seldom'>
                                                <option class = "{{ data[0]['single'] }}">Single</option>
                                                <option class = "{{ data[0]['double'] }}">Double</option>
                                                <option class = "{{ data[0]['triple'] }}">Triple</option>
                                                <option class = "{{ data[0]['quad'] }}">Quad</option>
                                            </select>
                                        </td>        
                                        <td>
                                        <input type="number" class = 'num'  required max = '{{ data[0]['count'] }}' min = 1>
                                        </td>
                                        <td>
                                            <button type = 'button' onclick = 'addr(event)' class = 'baddr'>
                                                <i class="fas fa-plus-circle"></i>
                                            </button>
                                            <button type = 'button' onclick = 'remr(event)' class = 'baddr'>
                                               <i class="fas fa-minus-circle"></i>
                                            </button>
                                        </td>
                                    `

                    const butt = document.createElement('button')
                    butt.classList.add('btn', 'otherbtn', 'coll')
                    butt.type = 'button'
                    butt.innerHTML = dobj.toDateString()
                    dobj.setDate(dobj.getDate() + 1)


                    butt.addEventListener('click', () => {
                        let el = document.getElementById(i)
                        if (el != null) {
                            if (el.style.display == 'none') {
                                el.style.display = 'table'
                            }
                            else
                                el.style.display = 'none'
                        }
                    })



                    tb.appendChild(thead)
                    tb.appendChild(thead2)
                    tb5.appendChild(butt)

                    if (i == 0) {
                        const butt2 = document.createElement('button')
                        butt2.classList.add('btn', 'action', 'aple')
                        butt2.id = 'ApplyAll'
                        butt2.style = 'margin-left: 300px;'
                        butt2.type = 'button'
                        butt2.innerHTML = 'Apply All'
                        butt.style.display = 'inline-block';
                        butt2.addEventListener('click', () => {
                            let el = document.getElementById(i)
                            for (let j = 1; j < diff; j++) {
                                let bel = document.getElementById(j)
                                var copy = $(el).clone(true);
                                copy[0].setAttribute('id', j);
                                bel.parentNode.replaceChild(copy[0], bel);
                            }
                        })

                        tb5.appendChild(butt2)
                    } else {
                        butt.click()
                    }

                    tb5.appendChild(tb)


                    setOptionssel()
                }


                return true
            }

            if (diff > tables.length) {

                let dobj = document.getElementById(tables.length - 1).previousElementSibling.textContent
                console.log(dobj)
                dobj.setDate(dobj.getDate() + (diff - tables.length))
                console.log(dobj)
                for (let i=tables.length; i<diff; i++) {
                      const tb = document.createElement('table')
                    tb.classList.add('table', 'table-hover', 'table-bordered', 'table-sm', 'tab7')
                    tb.setAttribute('id', i)

                    const thead = document.createElement("tr")
                    thead.innerHTML = `   
                                <tr>
                                    <th>Room Type</th>
                                    <th>Occupancy</th>
                                    <th>Number of Rooms</th>
                                    <th>Actions</th>
                                </tr>
                                `
                    thead.classList.add('thead-dark')
                    const thead2 = document.createElement("tr")
                    thead2.innerHTML = `
                                        <td>
                                            <select onchange = 'poor(event)'>
                                                <option value = '1'>1 Bed</option>
                                                <option value = '2'>2 Bed</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class = 'seldom'>
                                                <option class = "{{ data[0]['single'] }}">Single</option>
                                                <option class = "{{ data[0]['double'] }}">Double</option>
                                                <option class = "{{ data[0]['triple'] }}">Triple</option>
                                                <option class = "{{ data[0]['quad'] }}">Quad</option>
                                            </select>
                                        </td>        
                                        <td>
                                        <input type="number" class = 'num'  required max = '{{ data[0]['count'] }}' min = 1>
                                        </td>
                                        <td>
                                            <button type = 'button' onclick = 'addr(event)' class = 'baddr'>
                                                <i class="fas fa-plus-circle"></i>
                                            </button>
                                            <button type = 'button' onclick = 'remr(event)' class = 'baddr'>
                                               <i class="fas fa-minus-circle"></i>
                                            </button>
                                        </td>
                                    `

                    const butt = document.createElement('button')
                    butt.classList.add('btn', 'otherbtn', 'coll')
                    butt.type = 'button'
                    butt.innerHTML = dobj.toDateString()
                    dobj.setDate(dobj.getDate() + 1)


                    butt.addEventListener('click', () => {
                        let el = document.getElementById(i)
                        if (el != null) {
                            if (el.style.display == 'none') {
                                el.style.display = 'table'
                            }
                            else
                                el.style.display = 'none'
                        }
                    })



                    tb.appendChild(thead)
                    tb.appendChild(thead2)
                    tb5.appendChild(butt)
                    butt.click()
                    tb5.appendChild(tb)


                    setOptionssel()
                }
            } else if (diff < tables.length) {
                console.log(diff, tables.length)
                for (let i=diff; i<=tables.length; i++) {
                    const r = document.getElementById(i)
                    r.previousElementSibling.remove()
                    r.remove()
                }
            }
        }
    }

     $(document).ready(function () {
            var $startDate = $('.start-date');
            var $endDate = $('.end-date');

            $startDate.datepicker({
                autoHide: true,
                dateFormat: "d M, y",
                minDate: 0,
                changeMonth: true,
                changeYear: true,
            });
            $endDate.datepicker({
                autoHide: true,
                dateFormat: "d M, y",
                minDate: 0,
                changeMonth: true,
                changeYear: true
            });

            $startDate.on('change', function () {
                $endDate.datepicker('destroy')
                $endDate.datepicker({
                    autoHide: true,
                    dateFormat: "d M, y",
                    minDate: $startDate.datepicker('getDate'),
                    changeMonth: true,
                    changeYear: true
                });
                calcNights();
            });

            $endDate.on('change', function() {
                calcNights();
            })

            $('.payment').multiselect({
                nonSelectedText: 'Select Form of Payment',
                numberDisplayed: 0,
                buttonWidth: '350px'
            })

     });

      function parseDate(x) {
            return x.split("-").reverse().join("/");
    }

    function parseDate2(x) {
        let y = new Date(x.getFullYear(), x.getMonth(), x.getDate());
        const date = y.getDate()
        const month = y.getMonth() + 1
        const year = y.getFullYear()

        const result = year + "/" + month + "/" + date
        return result
    }


     function aj(e) {
        e.preventDefault()
        const checkIn = $('.start-date').datepicker('getDate')
        result = {}

         result['category'] = $('#category option:selected').val()
         result['groupName'] = $('#groupName').val()
         result['createdFor'] = $('#createdFor option:selected').val()
         result['checkIn'] = $('.start-date').datepicker('getDate')
         result['checkOut'] = $('.end-date').datepicker('getDate')
         result['nights'] = $('#nights').val()
         result['commissionable'] = $('#ccomn').val()
         result['groupBlock'] = document.getElementById('groupBlock').checked
         result['foc'] = document.getElementById('focc').checked
         result['foc1'] = $('#foc1').val()
         result['foc2'] = $('#foc2').val()
         result['budget'] = $('#budget').val()
         result['formPayment'] = $('#formPayment').val()
         result['paymentTerms'] = $('#dede').val()
         result['paymentDays'] = $('#dede33').val()
         result['comments'] = $('#comments').val()

        const tb5 = document.getElementById('ded')
        const tables = [...tb5.getElementsByTagName('table')]
        var dt1 = new Date(checkIn.getFullYear(), checkIn.getMonth(), checkIn.getDate());
        let dobj = dt1

        table_result = []
        let flag = true
        tables.forEach(table => {
            
            let children = table.children
            for (let i = 1; i<children.length; i++) {
                let resArr = {}

                const date = dobj.getDate()
                const month = dobj.getMonth() + 1
                const year = dobj.getFullYear()

                resArr['date'] = year + "/" + month + "/" + date


                let subchildren = children[i].children
                let weak = subchildren[0].children[0]
                resArr['type'] = weak.options[weak.selectedIndex].value
                let weak2 = subchildren[1].children[0]
                resArr['occupancy'] = weak2.options[weak2.selectedIndex].value

                let type = resArr['type']
                let occupancy = resArr['occupancy']

                if (type == '1') {
                    if (occupancy == 'Single') {
                        if ("{{ data[0]['single'] }}" == '0')
                            flag = false
                    }
                    if (occupancy == 'Double') {
                        if ("{{ data[0]['doublev'] }}" == '0')
                            flag = false
                    }
                    if (occupancy == 'Triple') {
                        if ("{{ data[0]['triple'] }}" == '0')
                            flag = false
                    }
                    if (occupancy == 'Quad') {
                        if ("{{ data[0]['quad'] }}" == '0')
                            flag = false
                    }
                } else if (type == '2') {
                    if (occupancy == 'Single') {
                        if ("{{ data[1]['single'] }}" == '0')
                            flag = false
                    }
                    if (occupancy == 'Double') {
                        if ("{{ data[1]['doublev'] }}" == '0')
                            flag = false
                    }
                    if (occupancy == 'Triple') {
                        if ("{{ data[1]['triple'] }}" == '0')
                            flag = false
                    }
                    if (occupancy == 'Quad') {
                        if ("{{ data[1]['quad'] }}" == '0')
                            flag = false
                    }
                }


                resArr['count'] = subchildren[2].children[0].value
                
                table_result.push(resArr)

            }

            dobj.setDate(dobj.getDate() + 1)
        })


        if (flag == false) {
            let msg2 = document.getElementById('msg2')
            msg2.style.setProperty('color', 'red', 'important');
            msg2.innerHTML = "Please enter valid room combinations"
            $(msg2).show()

            calcNights()


            return false
        }


        const check_flag = "{{ check_flag|safe }}"
         if (check_flag == "True") {
            let result = "{{ result|safe }}"
            result = result.replace(/'/g, '"');
            result = JSON.parse(result)
            const strategy = result['strategy']
            const count = result['count']

            const check = {}
            for (let i=0; i<table_result.length; i++) {
                check[table_result[i]['date']] = 0
            }
            const dates = []
            for (let i = 0; i < table_result.length; i++) {
                check[table_result[i]['date']] += parseInt(table_result[i]['count'])
                if (!dates.includes(table_result[i]['date']))
                    dates.push(table_result[i]['date'])
            }

            let finalFlag = true
            let errMsg = ""
            if (strategy == 'rpn') {
                for (let i=0; i<dates.length; i++) {
                    const value = check[dates[i]]
                    if (value < count) {
                        finalFlag = false
                        errMsg = "Room per night is too low for date " + dates[i]
                        break
                    }
                }
            } else if (strategy == 'total') {
                sum = 0
                for (let i = 0; i < dates.length; i++) {
                    const value = check[dates[i]]
                    sum += value
                }

                if (sum < count) {
                    finalFlag = false
                    errMsg = "Total Rooms too low"
                }
            }
            if (!finalFlag) {
                let msg2 = document.getElementById('msg2')
                msg2.style.setProperty('color', 'red', 'important');
                msg2.innerHTML = errMsg
                $(msg2).show()
                return false
            }
         }

        result['checkIn'] = parseDate2(result['checkIn'])
        result['checkOut'] = parseDate2(result['checkOut'])
        result['table_result'] = table_result


        // get all values

        fetch('/requestCreateAdhocSubmit', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(result)
        })
            .then(res => {
                window.location.href = '/'
            })
            .catch( err => {
                console.log(err)
            })

     }

</script>

{% endblock %}