{% extends 'layout.html' %}
{% block content %}
<div class="spread4">
    <div class = 'container'>
    {% if customer == False %}
    <div class='mb-2'>
        <div class='mb-3'>
            <a class='btn linkbtn' href='{{ url_for("home2")  }}'>Back <i class="fas fa-backward"></i></a>
            <span class="btn otherbtn">Status : {{ data2['status'] }} </span>
            <div class = 'mb-5'>
            {% if data['status'] == 'ACCEPTED' %}
                <span class='badge badge-pill  otherbtn'>
                    Accepted On : {{ data5['time'] }}
                </span>
            {% endif %}
            </div>
            <div class='mb-5'>
                {% if data['status'] == 'HOTEL DECLINED' %}
                <span class='badge badge-pill otherbtn'>
                    Declined By {{ data6['declinedBy'] }} On : {{ data6['time'] }}
                </span>
                <span class='badge otherbtn'>
                    Reason : {{ data6['reason'] }}
                </span>
                {% elif data['status'] == 'CUSTOMER DECLINED' %}
                <span class='badge badge-pill otherbtn'>
                    Declined By {{ data6['declinedBy'] }} On : {{ data6['time'] }}
                </span>
                <span class='badge otherbtn'>
                    Reason : {{ data6['reason'] }}
                </span>
                {% endif %}
            </div>
            <div class = 'mb-5'>
                {% if data['status'] == 'EXPIRED' %}
                    <span class = 'badge badge-pill otherbtn'>Time Limit Expired</span>
                {% endif %}
            </div>
            {% if data2['status'] == 'NEGOTIATED' %}
            <div class='mb-5'>
                <div class='mb-4'>
                    <span class="badge badge-pill otherbtn">
                        Expected Fare : {{ data2['expectedFare'] }}
                    </span>
                    <span class='badge badge-pill otherbtn'> Negotiation Reason : {{ data2['negotiationReason'] }}</span>
                </div>
            </div>
            {% endif %}
            {% if data2['status'] == 'CONFIRMED' %}
                <span class='badge badge-pill otherbtn'>
                    Confirmation Code : {{ data9['confirmationCode'] }}
                </span>
                <span class='badge otherbtn'>
                    Comments :  {{ data9['comments'] }}
                </span>
            {% elif data2['status'] == 'NOT CONFIRMED' %}
                <span class='badge badge-pill otherbtn'>
                    Confirmation Code : {{ data10['declinedBy'] }}
                </span>
                <span class='badge otherbtn'>
                    Comments : {{ data10['comments'] }}
                </span>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <div class = 'row mb-2'>
        <div class = 'col-sm-12 text-center'>
            {% if data2['status'] == 'QUOTED' %}
            <h4><span class='badge badge-danger'>
                Quote Expires On  {{ endline }}
            </span></h4>
            {% endif %}
        </div>
    </div>
    <div class = 'jumbotron  mb-2' style="padding-bottom: 0%; padding-top: 0%;">
        <div class = 'row container'>
            <div class = 'col-sm-6'>
                <div class = 'mb-2'>
                    <span class = 'quouteleft'>
                        Request ID
                    </span>
                    <span class = 'quoteright'>
                        {{ data['id'] }}
                    </span>
                </div>
                <div class='mb-2'>
                    <span class='quouteleft'>
                        Group Name
                    </span>
                    <span class='quoteright'>
                        {{ data['groupName'] }}
                    </span>
                </div>
                <div class='mb-2'>
                    <span class='quouteleft'>
                        Check In.
                    </span>
                    <span class='quoteright'>
                        {{ data['checkIn'] }}
                    </span>
                </div>
            </div>
            <div class = 'col-sm-6'>
                <div class='mr-2 mb-2'>
                    <span class='quouteleft'>
                        Nights
                    </span>
                    <span class='quoteright'>
                        {{ data['nights'] }}
                    </span>
                </div>
                <div class='mr-2'>
                    <span class='quouteleft'>
                        Rooms
                    </span>
                    <span class='quoteright'>
                        {{ totalRooms }}
                    </span>
                </div>
                <div  style = 'display: flex;'>
                    <button class='btn btn-info morebuttonright mr-2' onclick="viewreqdetails()">
                        More ...
                    </button>
                </div>
            </div>
        </div>
        <div class = 'container'>
            <div class='mt-3' id='moreReqDetails'>
                <div class='mb-2'>
                    <span class='quouteleft'>
                        Requested By
                    </span>
                    <span class='quoteright'>
                        {{ data['createdFor'] }}
                    </span>
                </div>
                <div class='mb-2'>
                    <span class='quouteleft'>
                        Budget
                    </span>
                    <span class='quoteright'>
                        $ {{ data['budget'] }}
                    </span>
                </div>
                {% if data['formPayment'] %}
                <div class='mb-2'>
                    <span class='quouteleft'>
                        Form of Payment
                    </span>
                    <span class='quoteright'>
                        {{ data['formPayment'] }}
                    </span>
                </div>
                {% endif %}
                {% if data['paymentTerms'] %}
                <div class='mb-2'>
                    <span class='quouteleft'>
                        Payment Terms
                    </span>
                    <span class='quoteright'>
                        {{ data['paymentTerms'] }} {% if data['paymentTerms'] != 'At Checkout' %}
                        {{ data['paymentDays'] }} Days
                        {% endif %}
                    </span>
                </div>
                {% endif %}
                {% if data['comments'] != '' %}
                <div class='mb-2'>
                    <span class='quouteleft'>
                        Comments
                    </span>
                    <span class='quoteright'>
                        {{ data['comments'] }}
                    </span>
                </div>
                {% endif %}
                <div class='mb-2 mt-4'>
                    {% for b in dateButtons %}
                    <button type='button' class='btn dateButtons otherbtn {{b}}' onclick="showTable2(event)">
                        {{ b }}
                    </button>
                    {% endfor %}
                </div>
                <div class='mb-2'>
                    {% for key, value in result.items() %}
                    <div class='mb-2 col-sm-6'>
                        <table class='table table-bordered table-hover' id="{{key}}" style="display:none;">
                            <caption>
                                {{ key }}
                            </caption>
                            <thead class='table-header'>
                                <tr>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Occupancy
                                    </th>
                                    <th>
                                        Count
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for v in value %}
                                <tr>
                                    <td>
                                        {{ v['type'] }}
                                    </td>
                                    <td>
                                        {{ v['occupancy'] }}
                                    </td>
                                    <td>
                                        {{ v['count'] }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class = 'row mb-2'>
        <div class = 'col-sm-12 text-center'>
            <h4>
                <span class = 'badge badge-danger'>
                    Rooms and/or rates are subject to availability
                </span>
            </h4>
        </div>
    </div>
    <div class='jumbotron  mb-2' style="padding-bottom: 0%; padding-top: 0%;">
        <div class = 'row container'>
            <div class = 'col-sm-6'>
                {% if data3['single1'] != '0'%} 
                <div class = 'mb-2' style="display: flex;">
                    <div>
                        <span class = 'quouteleft'>
                            1 Bed (SGL)
                        </span>
                        <span  class='quoteright'>
                            ${{ data3['single1'] }} (Room/Night) + Tax
                        </span>
                    </div>
                </div>
                {% endif %}
                {% if data3['double1'] != '0'%}
                <div class='mb-2'>
                    <span class='quouteleft'>
                        1 Bed (DBL)
                    </span>
                    <span  class='quoteright'>
                        ${{ data3['double1'] }} (Room/Night) + Tax
                    </span>
                </div>
                {% endif %}
                {% if data3['triple1']!= '0' %}
                <div class='mb-2'>
                    <span class='quouteleft'>
                        1 Bed (TRP)
                    </span>
                    <span class='quoteright'>
                        ${{ data3['triple1'] }} (Room/Night) + Tax
                    </span>
                </div>
                {% endif %}
                {% if data3['quad1'] != '0' %}
                <div class='mb-2'>
                    <span class='quouteleft'>
                        1 Bed (QD)
                    </span>
                    <span class='quoteright'>
                        ${{ data3['quad1'] }} (Room/Night) + Tax
                    </span>
                </div>
                {% endif %}
                {% if data3['single2'] != '0' %}
                <div class='mb-2'>
                    <span class='quouteleft'>
                        2 Bed (SGL)
                    </span>
                    <span class='quoteright'>
                        ${{ data3['single2'] }} (Room/Night) + Tax
                    </span>
                </div>
                {% endif %}
                {% if data3['double2']!= '0' %}
                <div class='mb-2'>
                    <span class='quouteleft'>
                        2 Bed (DBL)
                    </span>
                    <span class='quoteright'>
                        ${{ data3['double2'] }} (Room/Night) + Tax
                    </span>
                </div>
                {% endif %}
                {% if data3['triple2'] != '0' %}
                <div class='mb-2'>
                    <span class='quouteleft'>
                        2 Bed (TRP)
                    </span>
                    <span class='quoteright'>
                        ${{ data3['triple2'] }} (Room/Night) + Tax
                    </span>
                </div>
                {% endif %}
                {% if data3['quad2'] != '0' %}
                <div class='mb-2'>
                    <span class='quouteleft'>
                        2 Bed (QD)
                    </span>
                    <span class='quoteright'>
                        ${{ data3['quad2'] }} (Room/Night) + Tax
                    </span>
                </div>
                {% endif %}
            </div>
            <div class = 'col-sm-6'>
                <div class='mb-2'>
                    <span class='quouteleft'>
                        Total
                    </span>
                    <span class='quoteright'>
                        ${{ data2['totalQuote'] }} (Room/Night) + Tax
                    </span>
                </div>
                <div class='mb-2'>
                    <span class='quouteleft'>
                        Average Rate
                    </span>
                    <span class='quoteright'>
                        ${{ avgRate }} (Room/Night) + Tax
                    </span>
                </div>
            <div style="display: flex;">
                <button class='btn btn-info morebuttonright mr-2' onclick="viewresdetails()">
                    More ...
                </button>
            </div>
            </div>
        </div>
        <div class = 'container'>
            <div class='mt-2' id='moreResDetails'>
                <div class='mb-5'>
                    <span class='quouteleft'>
                        Last Responded On
                    </span>
                    <span class='quoteright'>
                        {{ data2['submittedOn'] }} By
                        {{ data2['submittedBy'] }}
                    </span>
                </div>
                {% if data2['comments'] != '' %}
                <div class='mb-3'>
                    <span>Comments : {{ data2['comments'] }}</span>
                </div>
                {% endif %}
                <div class='col-sm-12'>
                    <div class='mb-2 mt-4'>
                        {% for b in dateButtons %}
                        <button type='button' class='btn  otherbtn' id='{{b}}' onclick="showTable(event)">
                            {{ b }}
                        </button>
                        {% endfor %}
                    </div>
                    <div class='mb-2'>
                        {% for key, value in secondresult.items() %}
                        <div class='col-sm-9'>
                            <table class='table table-bordered table-hover {{key}}' style="display:none; ">
                                <caption>
                                    {{ key }}
                                </caption>
                                <thead class='table-header'>
                                    <tr>
                                        <th>
                                            Type
                                        </th>
                                        <th>
                                            Occupancy
                                        </th>
                                        <th>
                                            Count
                                        </th>
                                        <th>
                                            RatePerRoom
                                        </th>
                                        <th>
                                            Total
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for v in value %}
                                    <tr>
                                        <td>
                                            {{ v['type'] }}
                                        </td>
                                        <td>
                                            {{ v['occupancy'] }}
                                        </td>
                                        <td>
                                            {{ v['count'] }}
                                        </td>
                                        <td>
                                            {{ v['ratePerRoom'] }}
                                        </td>
                                        <td>
                                            {{ v['total'] }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='row mb-2'>
        <div class='col-sm-12 text-center'>
            <h4>
                <span class='badge badge-danger'>
                    Terms & Conditions
                </span>
            </h4>
        </div>
    </div>
    <div class = 'jumbotron  mb-2' style="padding-bottom: 0%; padding-top: 0%;">
        <div class = 'container'>
            <div class = 'mb-2 fquote'>
                <div style="flex:1">
                    <span class='quouteleft'>
                        Form of Payment
                    </span>
                    <span class='quoteright'>
                        {{ data2['formPayment'] }}
                    </span>
                </div>
                <div class = 'ml-5' style="flex:1">
                    <span class='quouteleft'>
                        Cut off
                    </span>
                    <span class='quoteright'>
                        {{ data2['cutoffDays'] }}
                    </span>
                </div>
            </div>
            <div class='mb-2 fquote'>
                <div style="flex:1">
                    <span class='quouteleft'>
                        Payment Terms
                    </span>
                    <span class='quoteright'>
                        {{ data2['paymentTerms'] }}
                        {% if data2['paymentTerms'] != 'At Checkout' %}
                        {{ data2['paymentDays'] }} Days
                        {% endif %}
                    </span>
                </div>
                <div class = 'ml-5' style="flex:1">
                    <span class='quouteleft'>
                       Guarantee
                    </span>
                    <span class='quoteright'>
                        {% if data2['paymentGtd'] == 1 %}
                            Required
                        {% else %}
                            Not Required
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class='jumbotron  mb-2' style="padding-bottom: 0%; padding-top: 0%; overflow: auto; height: 300px;">
        <div class='container'>
            <div class='mt-5'>]
                {% if contract != None %}
                {{ contract[0]['contract'] }}
                {% endif %}
            </div>
        </div>
    </div>

    {% if data['status'] == 'EXPIRED' %}
    <div class = 'row mb-2'>
        <div class = 'col-sm-12 mt-3 text-center'>
        <button type = 'submit' class = 'btn action' onclick = 'resubmit(event)'>Resubmit</button>
        </div>
    </div>
    {% endif %}
    {% if data['status'] == 'QUOTED'%}
    <div class = 'row mb-2'>
        <div class = 'col-sm-12'>
            <div class = 'mt-5 mb-5'>
                <input type = 'checkbox' id = 'checker' onchange = 'check(event)'> I /We agree to the terms and conditions of the Contract
            </div>  
            <div id='msg'></div>
            <div class='form-group row' id = 'dem'>
                <label class="col-sm-2 col-form-label">Reason for decline</label>
                <div class="col-sm-3">
                    <select class='form-control text-center' style='max-width: 80%;' onchange = 'hdd(event)' id = 'sel'>
                        <option disabled selected>
                            Select Reason for Decline
                        </option>
                        <option>
                            Cancelled
                        </option>
                        <option>
                            Rate too high
                        </option>
                        <option>
                            Contract Terms too strict
                        </option>
                        <option>
                            Other
                        </option>
                    </select>
                </div>
                <div class = 'col-sm-3'>
                    <textarea class = 'form-control' rows = '2' placeholder="Enter Reason for decline" id = 'othert' style="display:none;"></textarea>
                </div>
            </div>
            <div class='col-sm-3' id = 'nego'>
                <label>Expected Fare/ Night: </label>
                <input type = 'number' min = '10' id = 'expFare' class = 'form-control col-sm-4 mb-2'>
                <textarea class='form-control' rows='2' placeholder="Enter Reason" id='negoTa'
                    ></textarea>
            </div>
            <div class = 'mt-5 text-center'>
            <button class = 'btn action' disabled onclick = 'accept()' id = 'acceptBtn'>ACCEPT</button>
            {% if canNegotiate == True %}
            <button class = 'btn action' onclick = 'negotiate()' id = 'negob'>NEGOTIATE</button>
            {% endif %}
            <button class = 'btn action' onclick = 'decline()' id = 'decline'>DECLINE</button>
            <button class = 'btn otherbtn' onclick = 'alloptions()' id = 'all'>Show all options</button>
            </div>
        </div>
    </div>
    {% endif %}
    </div>
</div>


<script src="/static/js/jquery.js"></script>
<script>
    $(document).ready(function () {
        $('#breakdown').hide();
        $('#dem').hide();
        $('#nego').hide();
        $("#all").hide();
        $("#moreReqDetails").hide();
        $("#moreResDetails").hide();

        const db = [...document.getElementsByClassName('dateButtons')]
        db.forEach((db, index) => {

            if (index == 0) {
                const cn = db.classList[3] + " " + db.classList[4] + " " + db.classList[5] + " " + db.classList[6]
                const table = document.getElementById(cn)
                table.style.display = 'table';

                let checkId = cn.split(' : ')[1].split(" ")[0]
                const tables = [...document.getElementsByTagName('table')]
                tables.forEach(t => {
                    if (t.classList.contains(checkId)) {
                        t.style.display = 'table';
                    }
                })
            
            }


            db.addEventListener('click', () => {

                const cn = db.classList[3] + " " + db.classList[4] + " " + db.classList[5] + " " +  db.classList[6]
                const table = document.getElementById(cn)

                if (table.style.display == 'none') {
                    table.style.display = 'table'
                    const db2 = [...document.getElementsByClassName('dateButtons')]
                } else {
                    table.style.display = 'none'
                }

            })
        })


    });

    function viewreqdetails() {
        $("#moreReqDetails").toggle();
    }

    function viewresdetails() {
        $("#moreResDetails").toggle();
    }


    function viewbreakdown() {
        $('#breakdown').toggle()
    }

    function check(e) {
        const d = e.target
        const acceptBtn = document.getElementById('acceptBtn')
        if (d.checked) {
            acceptBtn.disabled = false
        } else {
            acceptBtn.disabled = true
        }
    }

    function hdd(e) {
        let d = $("#sel option:selected").text()
        d = d.trim()
        if (d == 'Other') {
            $('#othert').show()
        } else {
            $('#othert').hide()
            $('#msg').hide()
        }
    }

    function showTable(e) {
        const id = e.target.id
        const table = [...document.getElementsByClassName(id)]
        
        table.forEach(t => {
            const button = e.target
            if (t.tagName == 'TABLE') {
                if (t.style.display == 'none') {
                    t.style.display = 'table'
                } else {
                    t.style.display = 'none'
                }
            }
        })

        

        const div = e.target.parentElement.parentElement;
        const tables = [...div.getElementsByTagName('table')]

        let checkId = id.split(' : ')[1].split(" ")[0]

        tables.forEach(t => {
            if (!t.classList.contains(checkId)) {
                t.style.display = 'none';
            }
        })

    }

     function showTable2(e) {
        
        const cn = e.target.classList[3] + " " + e.target.classList[4] + " " + e.target.classList[5] + " " + e.target.classList[6]
        const table = document.getElementById(cn)



        const div = e.target.parentElement.parentElement;
        const tables = [...div.getElementsByTagName('table')]


        tables.forEach(t => {
            if (t.id != cn) {
                t.style.display = 'none';
            }
        })

    }

    


    function accept() {
        result = {}
        result['id'] = "{{ data['id'] }}"

        fetch('/AcceptRequest', {
            method : 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(result)

        })
        .then(res => {
            window.location.href = '/'
        })
        .catch(err => {
            console.log(err)
        })
    }

    function resubmit(e) {
        e.preventDefault()
        result = {}
        result['id'] = "{{ data['id'] }}"

        fetch('/resubmitRequest', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(result)
        })
        .then(res => {
            window.location.href = '/'
        })
        .catch(err => {
            console.log(err)
        })
    }

    function negotiate() {
        const nego = document.getElementById('nego')
        $("#checker").prop('checked', false)
        $("#acceptBtn").prop('disabled', true)
        if (nego.style.display == 'none') {
            nego.style.display = 'block'
            $("#acceptBtn").hide();
            $("#decline").hide();
            $("#all").show();
        } else {

            let expF = $('#expFare').val()
            let negoReason = $('#negoTa').val()

            const msg2 = document.getElementById('msg')
            if (expF == '') {
                msg2.style.setProperty('color', 'red', 'important');
                msg2.innerHTML = 'Kindly add expected Fare'
                $(msg2).show()
                return false
            } else if (negoReason == '') {
                msg2.style.setProperty('color', 'red', 'important');
                msg2.innerHTML = 'Kindly add reason'
                $(msg2).show()
                return false
            } else {
                $(msg2).hide()
                result = {}
                result['id'] = "{{ data['id'] }}"
                result['reason'] = negoReason
                result['expectedFare'] = expF

                fetch('/NegotiateRequest', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(result)

                })
                    .then(res => {
                        window.location.href = '/'
                    })
                    .catch(err => {
                        console.log(err)
                    })

            }


        }
    }

    function alloptions() {
        $("#nego").hide();
        $("#dem").hide();
        $("#acceptBtn").show()
        $("#negob").show()
        $("#all").hide()
        $("#decline").show();
    }

    function decline() {
        const dem = document.getElementById('dem')
        if (dem.style.display == 'none') {
            dem.style.display = 'flex';
            $("#acceptBtn").hide();
            $("#negob").hide();
            $("#all").show();
            $("#nego").hide();
            $("#checker").prop('checked', false)

            $("#acceptBtn").prop('disabled', true)
        } else {
            let d = $('#sel option:selected').text()
            d = d.trim()
            const msg2 = document.getElementById('msg')
            if (d == 'Select Reason for Decline') {
                msg2.style.setProperty('color', 'red', 'important');
                msg2.innerHTML = 'Kindly select reason for decline'
                $(msg2).show()
                return false
            } else if (d == 'Other') {
                const selt = $('#othert').val()
                if (selt == '') {
                    msg2.style.setProperty('color', 'red', 'important');
                    msg2.innerHTML = 'Kindly add reason for decline'
                    $(msg2).show()
                    return false
                }
            }
            $(msg2).hide()
            // decline
            let reason = ''
            if (d == 'Other') {
                reason = $('#othert').val()
            } else {
                reason = $("#sel option:selected").text()
            }
            reason = reason.trim()
            result = {}
            result['id'] = "{{ data['id'] }}"
            result['reason'] = reason
            result['declinedBy'] = "{{ data['createdFor'] }}"


            fetch('/DeclineRequest', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(result)

            })
            .then(res => {
                window.location.href = '/'
            })
            .catch(err => {
                console.log(err)
            })
            
        }
    }

</script>


{% endblock %}