
*{
   font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.6rem;  
    box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  color: #444444;
  font-size: 16px;
  width: 100%;
}


/* 
  * Navbar Styles
*/

.navbar-custom {
    background-color: #427ec2;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffffff;
}

.navbar-brand {
  font-size: 20px !important;
}

.menu {
  display: block;
}

.menu li {
    display: inline-block;
    position: relative;
    z-index: 100;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li a {
    font-weight: 600;
    text-decoration: none;
    padding: 5px 5px;
    display: block;
    color: #fff;
    transition: all 0.2s ease-in-out 0s;
}

.menu li a:hover,.menu li:hover>a {
    color: #fff;
    background: #6994cd;
}

.menu ul {
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 150px;
    position: absolute;
    left: 0px;
    background: #fff;
    z-index: 99;
    transform: translate(0,20px);
    transition: all 0.2s ease-out;
}

.menu ul:after {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 6px;
    margin-left: -6px;
}

.menu ul li {
    display: block;
    float: none;
    background: none;
    margin: 0;
    padding: 0;
}

.menu ul li a {
    font-size: 1rem;
    font-weight: normal;
    display: block;
    color: #797979;
    background: #fff;
}

.menu ul li a:hover,.menu ul li:hover>a {
    background: #6994cd;
    color: #fff;
}

.menu li:hover>ul {
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
}

.menu ul ul {
    left: 150px;
    top: 0px;
    visibility: hidden;
    opacity: 0;
    transform: translate(20px,20px);
    transition: all 0.2s ease-out;
}

.menu ul ul:after {
    left: -6px;
    top: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 6px;
    margin-top: -6px;
}

.menu li>ul ul:hover {
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
}

/*
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
} 
*/


/* 
  * Navbar Media Queries

*/

/*
  Media Queries
*/

@media (min-width: 1155px) and (max-width: 1440px) {
  .mainWrap {
        width: 768px;
    }

    

    .menu li a {
        font-size: 16px;
    }

    a.homer {
        background: #427ec2;
    }

}

@media (min-width: 768px) and (max-width: 1155px) {
    .mainWrap {
        width: 768px;
    }

    

    .menu li a {
        font-size: 16px;
    }

    a.homer {
        background: #427ec2;
    }

    nav .navbar-brand {
      display: none;
    }


    #help {
      display: none;
    }
}

/*
  * Works till 925 px
  * lower than that we need hamburger
*/

@media (max-width: 767px) {
    .mainWrap {
        width: auto;
        padding: 50px 20px;
    }

    .menu {
        display: none;
    }

    .responsive-menu {
        display: block;
    }

    nav {
        margin: 0;
        background: none;
    }

    .menu li {
        display: block;
        margin: 0;
    }

    .menu li a {
        background: #427ec2;
        color: #797979;
    }

    .menu li a:hover,.menu li:hover>a {
        background: #427ec2;
        color: #fff;
    }

    .menu ul {
        visibility: hidden;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        transform: initial;
    }

    .menu li:hover>ul {
        visibility: visible;
        opacity: 1;
        position: relative;
        transform: initial;
    }

    .menu ul ul {
        left: 0;
        transform: initial;
    }

    .menu li>ul ul:hover {
        transform: initial;
    }
}


/* 
  * Navbar Ends here
*/






/* 
  * Footer Styles
*/

footer {
  background-color: #6994cd !important;
  text-align: center;
  height: 5vh;
  width: 100vw;
}

footer img {
  height: 60px;
  width: 100px;
}

/* 
  * Footer Ends here
*/





/* 
  * Containers
*/

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }


.home {
  background:linear-gradient(45deg, #F4EBE5, #E3D4CA);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-login {
  background-image: url('../images/loginPage.jpg');
  width: 100%;  
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrap-login {
  min-width: 35vw;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  min-height: 85vh;
  margin-bottom: 20px;
  padding: 25px;
}


.loginH {
  display: block;
  font-size: 2rem;
  color: #333333;
  margin: 25px;
  padding: 5px;
  font-weight: bold;
  margin-bottom: 75px;
}


.lim {
  min-height: 500px !important;
  height: 500px !important;
}

.spread {
  min-width: 30vw;
   height: 100%;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 45px;
}

.spread2 {
  min-width: 60vw;
   height: 100%;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 45px;
}

.spread3 {
  min-width: 100vw;
  min-height: 100vh;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 45px;
}

.spread4 {
  background: #fff;
  height: 100%;
  min-width: 100vw;
  padding: 25px;
  margin-bottom: 20px;
}

.sign {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


.xwrap {
  min-height: 550px !important;
}

.sect {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.mg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.mge {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tentative {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fquote {
  display: flex;
  flex-direction: row;
  align-self: center;
}


/* 
  * Containers End here
*/





/* 
  * Buttons
*/
  .btn1 {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
}

.btn1:hover {
  opacity: 0.9;
  text-decoration: none;
  background: #262626;
  color: #fff;
}

.btnLogin {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  width: 270px;
  font-size: 12px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  transition: all 0.2s ease-in-out;
}

.homebtn {
  width: 270px;
}

.action {
  text-transform: uppercase;
  background-color: #2983fe !important;
  font-weight: 600;
  color: #ffffff !important;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  transition: all 0.2s ease-in-out;
}

table td input {
 width: 100%;   
}

.action:hover {
  transform: scale(1.1);
}

.otherbtn {
  text-transform: capitalize;
  background-color: #807f80 !important;
  font-weight: 600;
  color: #ffffff !important;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  transition: all 0.2s ease-in-out;
}

.linkbtn {
  background-color: #427ec2 !important;
  color: #ffffff !important;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  transition: all 0.2s ease-in-out;
}  
  


.btnLogin:hover {
  color : #000;
  background-color: #fff;
  border: 3px solid #000;
  transform: scale(1.1);
}

.reg {
  margin-top: 75px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: left !important;
  margin-left: 15px;
  margin-bottom: 25px;
}

.notReg {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nrg {
  display: block;
  padding: 5px;
  margin: 0 auto;
}

  .btn-toggle {
    top: 50%;
    transform: translateY(-50%);
    color: #000;
  }

  button.multiselect {
  border: 1px solid #ced4da;
}

button.multiselect {
  height: 40px !important;
}

.morebuttonright {
  margin-left: auto;
}

.badge-danger1 {
  background-color: #CD5C5C;
  color: #ffffff; 
}


/* 
  * Buttons End here
*/





/* 
  * Tables
*/

.table-header {
  background-color: #427ec2 !important;
  color: #ffffff !important;
}

.table-header2 {
  background-color: #807f80 !important;
  color: #ffffff !important;
}

th {
  text-align: left !important;
}



#tab55 {
  table-layout: fixed;
  width: 100%;
}

#tab55 th {
  word-wrap: break-word;
}



.table-responsive {
  overflow-y: visible !important;
}


td {
  white-space: normal !important; 
  word-wrap: break-word;
  text-align: left;  
}
table {
  table-layout: fixed;
}




#tab4 {
  table-layout: fixed;
  overflow-wrap: break-word;
  max-width: 50%;
}

#tab5 {
  table-layout: fixed;
  overflow-wrap: break-word;
  max-width: 80%;
}

.tab7 {
  table-layout: fixed;
  overflow-wrap: break-word;
  max-width: 70%;
}

/* 
  * Tables End here
*/



/* 
  * Components
*/

.quouteleft {
  display: inline-block;
  min-width: 180px;
  background-color: #2983fe;
  color: #fff;
  font-size: 16px;
}


.quoteright {
  display: inline-block;
  min-width: 120px;
  font-size: 16px;
  margin-left: 10px;
}

.rleft {
  height: 34px !important;
  width: 50% !important;
}

.rright {
  display: inline-block;
  padding: 0 !important;
}

.multiselect.dropdown-toggle.btn.btn-default > div.restricted {
    margin-left: 50px;
    max-width: 100px;
    overflow: hidden;
}

.pl:hover {
  color: #fff !important;
}


.num2 {
  width: 96px;
}


.baddr:hover {
  border: none !important;
}

.coll {
  display: block;
  margin-bottom: 5px;
}

.aple {
  margin-bottom: 5px;
  display: inline-block;
}

.loginH p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  margin-right: 7px;
}

.loginLabel {
  font-size: 15px;
  padding-left: 5px;
  margin-left: 5px;
  margin-bottom: 5px;

}

.num {
    width: 80px;
}

.num3 {
    width: 80px;
    border: 1px solid black;
}

.num4 {
    width: 80px;
    border: 1px solid black;
}


.formhelp {
  position: relative;
}

.formhelp i{
  position: absolute;
  padding: 10px;
  pointer-events: none;
  left: 0;
}

.formhelp input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.formhelp input:focus {
  box-shadow: none;
}

.check {
  padding: 10px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.alert {
  margin: 0 !important;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.formhelp select {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  outline: none !important;
}

  .checkboxdiv {
    margin: auto;
  }



  .checklabel {
    display: inline-block;
    margin-bottom: 15px;
    padding: 5px;
    text-transform: uppercase;
    font-size: large;
    width: auto;
  }


  .checkl {
    display: inline-block;
    margin-bottom: 5px;
    padding: 10px;
  }



  .infog {
    position: relative;
    border-bottom: 1px solid #000;
    padding: 5px;
  }
  
  .lilink{
    margin-right: 35px;
  }

  
input[disabled] {
  background-color: #F2F2F2 !important;
  color: #000000;
  border-color: #000;
}


/* 
  * Components End here
*/



/* 
  * Password Check Meter
*/

meter {
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  margin: 0 auto 1em;
  width: 100%;
  height: 0.5em;

  /* Applicable only to Firefox */
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}


meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }


.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

/* 
  * Password Meter Done
*/





/*  
  Date picker
*/


.ui-datepicker {
background-color: #fff;
}

.ui-datepicker-header {
  background-color: #2983fe;
}

.ui-datepicker-title {
color: white;
}

.ui-widget-content .ui-state-default {
border: 0px;
text-align: center;
background: #fff;
font-weight: normal;
color: #000;
}

.ui-widget-content .ui-state-default:hover {
border: 0px;
text-align: center;
background-color: #2983fe;
font-weight: normal;
color: #fff;
}

.ui-widget-content .ui-state-active {
border: 0px;
  background-color: #2983fe;
color: #fff;
}

/* 
  Date picker
*/