{% extends 'layout.html' %}
{% block content %}

<div class="container-login">
    <div class = 'wrap-login'>
        <div class='loginH'>
            <div class='text-center'>
                <p>Request Settings</p>
            </div>
        </div>
        {% if flag %}
        <button type="submit" class="btn action" onclick="edit()">Edit</button>
        {% endif %}
        <form method = 'POST' action = "{{  url_for('settingsRequestSubmit') }}">
            <small id='smallID' class='form-text text-muted mb-5'>
                Fields marked with * are mandatory.
            </small>
            {% if flag == False %}
            <div class="formhelp mb-5">
                <span>Strategy* :</span>
                <select class = 'form-control text-center col-sm-6 ml-5' required style = 'max-width: 40%; display: inline-block;' name = 'strategy'>
                    <option disabled selected>
                        Select Strategy
                    </option>
                    <option value = 'rpn'>
                        Rooms Per Night
                    </option>
                    <option value = 'total'>
                        Total Rooms
                    </option>
                </select>
            </div>
            <div class = 'formhelp mb-5'>
                <span class = 'mr-4'>Count*  :</span>
                <input type = 'number' placeholder="Enter Number of Rooms" class = 'form-control ml-5' style = 'max-width: 40%; display: inline-block;' required min = 0 name = 'count'>
            </div>
            {% else %}
            <div class="formhelp mb-5">
                <span>Strategy* :</span>
                <select class='form-control text-center col-sm-6 ml-5' required style='max-width: 40%; display: inline-block;'
                    name='strategy' id = 'strat' disabled>
                    <option disabled>
                        Select Strategy
                    </option>
                    <option value='rpn'>
                        Rooms Per Night
                    </option>
                    <option value='total'>
                        Total Rooms
                    </option>
                </select>
            </div>
            <div class='formhelp mb-5'>
                <span class='mr-4'>Count* :</span>
                <input type='number' placeholder="Enter Number of Rooms" class='form-control ml-5'
                    style='max-width: 40%; display: inline-block;' required min=0 name='count' value = "{{ result['count'] }}" readonly id = 'count1'>
            </div>
            {% endif %}
            <div class="row" style="margin-top: 100px;">
                <div class="col-sm-12 mt-3">
                    <div class="text-center">
                        <button type="submit" id = 'subm' class="btn action">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/static/js/jquery.js"></script>
<script>
    $(document).ready(function () {
        const flag = "{{ flag }}"
        if (flag) {
            const option = "{{ result['strategy'] }}"
            $("#strat option[value = "+option+"]").attr('selected', 'selected')
            $('#subm').hide();
        }
    });


    function edit() {
        let sel = $('#strat')
        let count = $('#count1')
        $('#subm').show();
        sel = sel[0]
        count = count[0]
        $(sel).prop('disabled', false)
        const option = "{{ result['strategy'] }}"
        $("#strat option[value = " + option + "]").removeAttr('selected')
        $(count).prop('readonly', false)
    }


</script>
{% endblock %}