{% extends 'layout.html' %}
{% block content %}
<div class='home'>
    <div class="wrap-login spread3">
        <div class = 'row'>
        <div class="col-sm-6 mb-5">
            <select class='form-control text-center' id='categoryxdf' required style='max-width: 45%;'>
                <option disabled selected>
                    Category
                </option>
                <option>
                    Bachelor-ette party
                </option>
                <option>
                    Business meeting
                </option>
                <option>
                    Corporate incentive travel
                </option>
                <option>
                    Class re-union
                </option>
                <option>
                    Family
                </option>
                <option>
                    Military
                </option>
                <option>
                    Music band
                </option>
                <option>
                    Religious/Church event
                </option>
                <option>
                    Sport team
                </option>
                <option>
                    Theatre
                </option>
                <option>
                    Wedding
                </option>
                <option>
                    Other
                </option>
            </select>
        </div>
        <div class="col-sm-5 mb-5">
            <select class='form-control text-center' id='datexdf' required style='max-width: 25%;'>
                <option disabled selected>
                    Date Range
                </option>
                <option value="7">
                    Last 7 Days
                </option>
                <option value="15">
                    Last 15 Days
                </option>
                <option value="31">
                    Last 1 Month
                </option>
                <option value="90">
                    Last 3 Months
                </option>
            </select>
        </div>
        <div class = 'col-sm-1 mb-5'>
            <button class = 'btn btn-warning' onclick = 'clearfilters(event)'>Clear All</button>
        </div>
        </div>
        <table class="table table-bordered table-hover" id='tab9'>
                <caption>Request</caption>
                <thead class="thead-dark">
                    <tr>
                        <th style = 'width: 5%;' class = 'text-center no-sort'>Request ID</th>
                        <th>Category</th>
                        <th>Created On</th>
                        <th style = 'width: 10%;' class = 'text-center'>Customer Type</th>
                        <th style = 'width: 10%;' class = 'text-center'>Group Name</th>
                        <th class = 'text-center'>Customer ID</th>
                        <th style = 'width: 10%;' class = 'text-center'>Check In Date</th>
                        <th style = 'width: 10%;' class = 'text-center'>Lead Time</th>
                        <th style = 'width: 10%' class = 'text-center'>Status</th>
                        <th class = 'text-center'>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                   <tr>
                       <td>
                           {{ d['id'] }}
                       </td>
                       <td>
                           {{ d['category'] }}
                       </td>
                        <td>
                            {{ d['createdOn'] }}
                        </td>
                       <td>
                           {{ d['userType'] }}
                        </td>
                        <td>
                            {{ d['groupName'] }}
                        </td>
                        <td>
                            {{ d['createdFor'] }}
                        </td>
                        <td>
                            {{ d['checkIn'] }}
                        </td>
                        <td>
                            {{ d['leadTime'] }}
                        </td>
                        <td>
                            {{ d['status'] }}
                        </td>
                        <td>
                            {% if d['status'] == 'NEW' %}
                                <a href = '/showRequest/{{d["id"]}}' class = 'btn btn-info'>
                                    <i class="fas fa-cog"></i>
                                </a>
                                <a href = '/deleteRequest/{{d["id"]}}' class = 'btn btn-danger'>
                                    <i class="fas fa-times-circle"></i>
                                </a>
                            {% elif d['status'] == 'QUOTED' %}
                                <a href='/showRequest/{{d["id"]}}' class='btn btn-info'>
                                    <i class="fas fa-cog"></i>
                                </a>
                                <a href='/showQuote/{{ d["id"] }}' class='btn btn-info'>
                                    <i class="fas fa-share-square"></i>
                                </a>
                                <a href = '/deleteRequest/{{d["id"]}}'   class='btn btn-danger'>
                                    <i class="fas fa-times-circle"></i>
                                </a>
                            {% elif d['status'] == 'ACCEPTED' %}
                                <a href='/showRequest/{{d["id"]}}' class='btn btn-info'>
                                    <i class="fas fa-cog"></i>
                                </a>
                                <a href='/showQuote/{{ d["id"] }}' class='btn btn-info'>
                                    <i class="fas fa-share-square"></i>
                                </a>
                                <a href='/deleteRequest/{{d["id"]}}' class='btn btn-danger'>
                                    <i class="fas fa-times-circle"></i>
                                </a>
                                <a href = '/confirmRequest/{{ d["id"] }}' class = 'btn btn-success'>
                                    <i class="fas fa-check-circle"></i>
                                </a>
                            {% elif d['status'] == 'HOTEL DECLINED' %}
                            <a href='/showRequest/{{d["id"]}}' class='btn btn-info'>
                                <i class="fas fa-cog"></i>
                            </a>
                            <a href='/showQuote/{{ d["id"] }}' class='btn btn-info'>
                                <i class="fas fa-share-square"></i>
                            </a>
                            <a href='/deleteRequest/{{d["id"]}}' class='btn btn-danger'>
                                <i class="fas fa-times-circle"></i>
                            </a>
                            {% elif d['status'] == 'CUSTOMER DECLINED' %}
                            <a href='/showRequest/{{d["id"]}}' class='btn btn-info'>
                                <i class="fas fa-cog"></i>
                            </a>
                            <a href='/showQuote/{{ d["id"] }}' class='btn btn-info'>
                                <i class="fas fa-share-square"></i>
                            </a>
                            <a href='/deleteRequest/{{d["id"]}}' class='btn btn-danger'>
                                <i class="fas fa-times-circle"></i>
                            </a>
                            {% elif d['status'] == 'DELETED' %}
                                <a href='/showRequest/{{d["id"]}}' class='btn btn-info'>
                                    <i class="fas fa-cog"></i>
                                </a>
                            {% elif d['status'] == 'SENT FOR REVIEW' %}
                            <a href='/showRequest/{{d["id"]}}' class='btn btn-info'>
                                <i class="fas fa-cog"></i>
                            </a>
                            <a href='/deleteRequest/{{d["id"]}}' class='btn btn-danger'>
                                <i class="fas fa-times-circle"></i>
                            </a>
                            {% elif d['status'] == 'NEGOTIATED' %}
                            <a href='/showRequest/{{d["id"]}}' class='btn btn-info'>
                                <i class="fas fa-cog"></i>
                            </a>
                            <a href='/showQuote/{{ d["id"] }}' class='btn btn-info'>
                                <i class="fas fa-share-square"></i>
                            </a>
                            <a href='/deleteRequest/{{d["id"]}}' class='btn btn-danger'>
                                <i class="fas fa-times-circle"></i>
                            </a>
                            {% elif d['status'] == 'CONFIRMED' %}
                            <a href='/showRequest/{{d["id"]}}' class='btn btn-info'>
                                <i class="fas fa-cog"></i>
                            </a>
                            <a href='/showQuote/{{ d["id"] }}' class='btn btn-info'>
                                <i class="fas fa-share-square"></i>
                            </a>
                            <a href='/deleteRequest/{{d["id"]}}' class='btn btn-danger'>
                                <i class="fas fa-times-circle"></i>
                            </a>
                            {% elif d['status'] == 'NOT CONFIRMED' %}
                            <a href='/showRequest/{{d["id"]}}' class='btn btn-info'>
                                <i class="fas fa-cog"></i>
                            </a>
                            <a href='/showQuote/{{ d["id"] }}' class='btn btn-info'>
                                <i class="fas fa-share-square"></i>
                            </a>
                            <a href='/deleteRequest/{{d["id"]}}' class='btn btn-danger'>
                                <i class="fas fa-times-circle"></i>
                            </a>
                            {% elif d['status'] == 'EXPIRED' %}
                                <a href='/showRequest/{{d["id"]}}' class='btn btn-info'>
                                    <i class="fas fa-cog"></i>
                                </a>
                                <a href='/showQuote/{{ d["id"] }}' class='btn btn-info'>
                                    <i class="fas fa-share-square"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</div>
{% endblock %}