<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>HotelRMS</title>
    {% endif %}

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <link rel="stylesheet" href="../static/fontawesome/css/all.css">
    <link rel="stylesheet" href="../static/css/titatoggle-dist.css">
    <link rel="stylesheet" href="../static/css/datatables.css">
</head>
<body>
    {% include '_helpers/_navbar.html' %}
    <div class = 'wrapper'></div>
    {% include '_helpers/_messages.html' %}
    {% block content %}
    {% endblock %}
    <footer>
        <div class = 'logo' style = 'font-size: 18px !important;'>
            T R <i class="fas fa-arrow-circle-up"></i> M P A R
        </div>
        <div class = 'te' style = 'font-size: 15px !important;'>
            All Rights Reserved TROMPAR 2020
        </div>
    </footer>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/datatables.js"></script>
</body>
</html>