<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>TROMPAR</title>
    {% endif %}
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <link rel="stylesheet" href="../static/fontawesome/css/all.css">
    <link rel="stylesheet" href="../static/css/titatoggle-dist.css">
    <link rel="stylesheet" href="../static/css/datatables.css">
    <link rel="shortcut icon" href="/static/images/favicon/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/bootstrap-multiselect.css">
    <link rel="stylesheet" href="/static/css/datepicker.css">
    <link rel="stylesheet" href="/static/css/Chart.css">
</head>
<body>
    {% include '_helpers/_navbar.html' %}
    <div class = 'wrapper'></div>
    {% include '_helpers/_messages.html' %}
    {% block content %}
    {% endblock %}
    <footer>
        <a class='navbar-brand' style = 'color:white;'>
            T R <i class="fas fa-arrow-circle-up"></i> M P A R
        </a>
    </footer>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/datatables.js"></script>
    <script src="/static/js/datepicker.js"></script>
    <script src="/static/js/bootstrap-multiselect.js"></script>
</body>
</html>