{% extends 'layout.html' %}
{% block content %}
<div class="container-login">
    <div class="wrap-login">
        <div class='loginH'>
            <div class = 'text-center'>
                <p>Login</p><i class="fas fa-sign-in-alt"></i>
            </div>
        </div>
        <form action="{{ url_for('login') }}" method="POST">
            <div class="formhelp mb-5">
                <i class="fas fa-envelope fa-lg"></i>
                <input type="email" name="email" class="form-control text-center" required placeholder="Email Address&#42;" onfocus="this.placeholder = ''"
                onfocusout = "this.placeholder = 'Email Address&#42;'"
                >
                <small id = 'smallID' class = 'form-text text-muted'>
                    We'll never share your email with anyone else.
                </small>
            </div>
            <div class="formhelp mb-5">
                <i class="fas fa-key fa-lg"></i>
                <input type="password" name="password" class="form-control text-center" required placeholder="Password&#42;"  onfocus="this.placeholder = ''"
                onfocusout = "this.placeholder = 'Password&#42;'"
                >
            </div>
            <div class="sign mt-5">
                <div class="text-center">
                        <button type="submit" class="btn btn-info action homebtn">Sign In
                        </button>
                </div>
        </form>
        <form action = '{{ url_for("forgotpassword") }}'>
        <div class = 'text-center'>
            <button type="submit" class="btn btn-info action homebtn">Forgot Password
            </button>
        </div>
        </form>
    </div>
        <div class = 'mt-5 text-center'>
        <a href='/static/docs/TROMPAR_Privacy Policy.docx.pdf' target="_blank">
            TROMPAR Privacy Policy
        </a>
        &
        <a href='/static/docs/TROMPAR Inc_Terms & Conditions.docx.pdf' target="_blank">
            Terms Of Service.
        </a>
        </div>
        <div class = 'mt-5 reg' style="text-align: right;">
            <p>
                Register as:
            </p>
        </div>
        <div class = 'notReg'>
            <div class = 'nrg iata'>
                <form action="{{ url_for('iatar') }}">
                <button class = 'btn btn-info action homebtn' type = 'submit'>
                     IATA
                </button>
                </form>
            </div>
            <div class='nrg niata'>
                <form action = "{{ url_for('customerr') }}">
                    <button class='btn btn-info action homebtn' type = 'submit'>
                      Retail
                    </button>
                </form>
            </div>
            <div class='nrg niata'>
                <form action="{{ url_for('customerC') }}">
                    <button class='btn btn-info action homebtn' type='submit'>
                       Corporate
                    </button>
                </form>
            </div>
            <div class='nrg niata'>
                <form action="{{ url_for('customerT') }}">
                    <button class='btn btn-info action homebtn' type='submit'>
                       Tour Operator
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}