{% extends 'layout.html' %}
{% block content %}

<div class="container-login">
    <div class="wrap-login spread">
        <div class='loginH'>
            <div class='text-center'>
                <p>Manage Users</p><i class="fas fa-user"></i>
            </div>
        </div>
        {% if data %}
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <caption>List of users</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col"> Email</th>
                            <th scope="col">UserType</th>
                            <th scope = 'col'>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in data %}
                        <tr>
                            <td> {{ d['firstName'] }} </td>
                            <td class = 'text-center'>
                                 <a class = 'btn btn-info' href = '/showprofile/{{d["email"]}}'>
                                    {{ d['email'] }}
                                </a>
                            </td>
                            <td> {{ d['userType'] }} </td>
                            <td>
                                <a class = 'btn btn-warning' href = "{{ url_for('editUser', email = d['email'] ) }}"
                                >Edit<i class="fas fa-edit"></i></a>
                                <a class = 'btn btn-danger' href = "{{ url_for('deactivateUser', email = d['email'] ) }}"
                                >Deactivate<i class="fas fa-user-slash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}