{% extends 'layout.html' %}
{% block content %}

<div class="container-login">
    <div class="wrap-login  ">
        <div class='loginH'>
            <div class='text-center'>
                <p>My Profile</p>
                <i class="fas fa-edit"></i>
            </div>
        </div>
        {% if data %}
        <form action="{{ url_for('submitEditUserAll') }}" method="POST">
            <div class="formhelp mb-5">
                <span class='btn btn-primary'>Name : </span><br>
                <input type='text' class='form-control mt-3 text-center' value="{{ data['name'] }}"
                    name='name' required />
            </div>
                <input type='text' value="{{ data['email'] }}" name='oldemail' hidden />
            <div class="formhelp mb-5">
                <span class='btn btn-primary'>Phone : </span><br>
                <input type='text' class='form-control mt-3 text-center' value="{{ data['phone'] }}" name='phoneN'
                    required />
            </div>
            <div class="infog mb-5">
                <span class='btn btn-primary'>Email : </span><br>
                <input type='text' class='form-control mt-3 text-center' value="{{ data['email'] }}" readonly>
            </div>
            {% if data['agencyName'] %}
            <div class="formhelp mb-5">
                <span class='btn btn-primary'>Agency Name : </span><br>
                <input type='text' class='form-control mt-3 text-center' value="{{ data['agencyName'] }}" name='agencyName' required />
            </div>
            {% endif %}
            <div class="formhelp mb-5">
                <span class='btn btn-primary'>Address : </span><br>
                <textarea name="address" class="form-control text-center mt-3">
                {{ data['address'] }}   
            </textarea>
            </div>
            <div class="formhelp mb-5">
                <span class='btn btn-primary'>Country : </span><br>
                <input type='text' class='form-control mt-3 text-center' value="{{ data['country'] }}" name='country'
                 />
            </div>
            <div class="formhelp mb-5">
                <span class='btn btn-primary'>Password : </span><br>
                <input type='password' class='form-control mt-3 text-center' value="{{ data['password'] }}" name='password' required />
            </div>
            {% if data['organizationName'] %}
            <div class="formhelp mb-5">
                <span class='btn btn-primary'>Organization Name : </span><br>
                <input type='text' class='form-control mt-3 text-center' value="{{ data['organizationName'] }}" name='organizationName'
                    required />
            </div>
            {% endif %}
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <div class="text-center">
                        <button type="submit" id='subm' class="btnLogin">Edit <i class="fas fa-edit"></i></button>
                    </div>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}