{% extends 'layout.html' %}
{% block content %}

<div class="container-login">
    <div class="wrap-login  ">
        <div class='loginH'>
            <div class='text-center'>
                <p>My Profile</p>
                <i class="fas fa-edit"></i>
            </div>
        </div>
        {% if data %}
        <form action="{{ url_for('submitEditUserAll') }}" method="POST">
            <div class="formhelp mb-5">
                <span class='btn btn-primary'>First Name : </span><br>
                <input type='text' class='form-control mt-3 text-center' value="{{ data['firstName'] }}"
                    name='firstName' required />
            </div>
            {% if data['lastName'] %}
            <div class="formhelp mb-5">
                <span class='btn btn-primary'>Last Name : </span><br>
                <input type='text' class='form-control mt-3 text-center' value="{{ data['lastName'] }}" name='lastName'
                    required />
            </div>
            {% endif %}
            <div class="formhelp mb-5">
                <span class='btn btn-primary'>Email : </span><br>
                <input type='text' value="{{ data['email'] }}" name='oldemail' hidden />
                <input type='text' class='form-control mt-3 text-center' value="{{ data['email'] }}" name='email'
                    required />
            </div>
            {% if data['phone'] %}
            <div class="formhelp mb-5">
                <span class='btn btn-primary'>Phone : </span><br>
                <input type='text' class='form-control mt-3 text-center' value="{{ data['phone'] }}" name='phoneN'
                    required />
            </div>
            {% endif %}
            {% if data['address'] %}
            <div class="formhelp mb-5">
                <span class='btn btn-primary'>Address : </span><br>
                <textarea name="address" class="form-control text-cente mt-3" required>
                {{ data['address'] }}   
            </textarea>
            </div>
            {% endif %}
            {% if data['city'] %}
            <div class="formhelp mb-5">
                <span class='btn btn-primary'>City : </span><br>
                <input type='text' class='form-control mt-3 text-center' value="{{ data['city'] }}" name='city'
                    required />
            </div>
            {% endif %}
            {% if data['country'] %}
            <div class="formhelp mb-5">
                <span class='btn btn-primary'>Country : </span><br>
                <input type='text' class='form-control mt-3 text-center' value="{{ data['country'] }}" name='country'
                    required />
            </div>
            {% endif %}
            <div class="formhelp mb-5">
                <span class='btn btn-primary'>Password : </span><br>
                <input type='password' class='form-control mt-3 text-center' value="{{ data['password'] }}" name='password' required />
            </div>

            <div class="row">
                <div class="col-sm-12 mt-3">
                    <div class="text-center">
                        <button type="submit" id='subm' class="btnLogin">Edit <i class="fas fa-edit"></i></button>
                    </div>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}