{% extends 'layout.html' %}
{% block content %}
<div class="container-login">
    <div class="wrap-login">
        <div class='loginH'>
            <div class = 'text-center'>
                <p>Register</p><i class="fas fa-user-plus"></i>
            </div>
        </div>
        <form action="{{ url_for('registerI') }}" method="POST"
        autocomplete="off"
        >
            <div class="formhelp mb-5">
                <i class="fas fa-user-tie fa-lg"></i>
                <input type="text" name="namev" class="form-control text-center" required placeholder="Enter Full Name&#42;"
                    onfocus="this.placeholder = ''"
                onfocusout = "this.placeholder = 'Enter Full Name&#42;'"    
                minlength="4"
                maxlength="25"
                required
                >
            </div>
            <div class="formhelp mb-5">
                <i class="fas fa-asterisk fa-lg"></i>
                <input type="text" name="agencyName" class="form-control text-center" required
                    placeholder="Enter Travel Agency Name&#42;" onfocus="this.placeholder = ''"
                    onfocusout="this.placeholder = 'Enter Travel Agency Name&#42;'" minlength="4" maxlength="25">
            </div>
            <div class="formhelp mb-5">
                <i class="fas fa-envelope fa-lg"></i>
                <input type="email" name="email" class="form-control text-center" required
                    placeholder="Email Address&#42;" onfocus="this.placeholder = ''"
                    onfocusout = "this.placeholder = 'Email Address&#42;'"
                    >
                <small id='smallID' class='form-text text-muted'>
                    We'll never share your email with anyone else.
                </small>
            </div>
            <div class="formhelp mb-5">
                <i class="fas fa-key fa-lg"></i>
                <input type="password" name="password"
                    id = 'password' class="form-control text-center" required
                    placeholder="Password&#42;" onfocus="this.placeholder = ''"
                    onfocusout = "this.placeholder = 'Password&#42;'"
                    minlength="4"
                    maxlength="25"

                    onkeyup= 'checkp();'
                    >
            </div>
            <div class="formhelp mb-5">
                <i class="fas fa-key fa-lg"></i>
                <input type="password" name="confirmPassword" class="form-control text-center" required placeholder="Confirm Password&#42;"
                id = 'cpassword'    
                onfocus="this.placeholder = ''"
                    onfocusout = "this.placeholder = 'Confirm Password&#42;'"
                    minlength="4"
                    maxlength="25"
                    onkeyup= 'checkp();'
                    >
                <span id='msg' class='form-text text-muted'>
                </span>
            </div>
            <div class="formhelp mb-5">
                <i class="fas fa-mobile fa-lg"></i>
                <input type="text" name="phoneN" class="form-control text-center" required placeholder="Enter Phone Number&#42;"
                    onfocus="this.placeholder = ''" onfocusout="this.placeholder = 'Enter Phone Number&#42;'">
            </div>
            <div class="formhelp mb-5">
                <i class="far fa-flag"></i>
                <input type="text" name="country" class="form-control text-center" placeholder="Country"
                    onfocus="this.placeholder = ''" onfocusout="this.placeholder = 'Country'" minlength="4" maxlength="25">
                    <small id='smallID' class='form-text text-muted'>
                        Fields marked with * are mandatory.
                    </small>
            </div>
            
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <div class="text-center">
                        <button type="submit" 
                        id = 'subm'
                        class="btnLogin">Sign Up <i class="fas fa-user-plus"></i></button>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <div class='reg'>
            <p>
                Already have an account?
            </p>
        </div>
        <form action = '{{  url_for("index") }}'>
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <div class="text-center">
                        <button type="submit" id='subm' class="btnLogin">Sign In <i class="fas fa-users"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}