{% extends 'layout.html' %}
{% block content %}

    <div class="spread4">
        <div class = 'row'>
            <div class = 'col-9' style = 'border-right: 1px solid black;'>
                <div class = 'row'>
                    <div class = 'col-5'>
                        <div class = 'mb-4'>
                            <span class="badge badge-pill badge-primary">Recieved : {{ data['createdOn'] }}</span>
                        </div>
                        <div class = 'mb-3'>
                            <span>Name : {{ data['groupName'] }}</span>
                        </div>
                        <div class='mb-3'>
                            <span>ID : {{ data['id'] }}</span>
                        </div>
                        <div class='mb-3'>
                            <span>Category : {{ data['category'] }}</span>
                        </div>
                        <div class='mb-3'>
                            <span>LeadTime : {{ data['leadTime'] }} Days</span>
                        </div>
                        <div class='mb-3'>
                            <span>Room Nights : {{ data['nights'] }}</span>
                        </div>
                    </div>
                    <div class = 'col-5'>
                        <div class='mb-4'>
                            <span class="badge badge-pill badge-primary">Last Opened : {{ data['createdOn'] }}</span>
                        </div>
                        <div class='mb-3'>
                            <span>Budget/RM/NT : ${{ data['budget'] }}</span>
                        </div>
                        <div class='mb-3'>
                            <span>Customer : {{ data['createdFor'] }}</span>
                        </div>
                        <div class='mb-3'>
                            <span>Type : {{ data['userType'] }}</span>
                        </div>
                        {% if data['formPayment'] %}
                        <div class='mb-3'>
                            <span>Form Of Payment : {{ data['formPayment'] }}</span>
                        </div>
                        {% endif %}
                        {% if data['paymentTerms'] %}
                        <div class='mb-3'>
                            <span>Payment Terms : {{ data['paymentTerms'] }} 
                                {% if data['paymentTerms'] != 'At Checkout' %}
                                    {{ data['paymentDays'] }} Days
                                {% endif %}
                            </span>
                        </div>
                        {% endif %}
                        {% if data['comments'] != '' %}
                        <div class='mb-3'>
                            <span>Comments : {{ data['comments'] }}</span>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class = 'row mt-5'>
                    <div class = 'row col-10'>

                        {% for i in range(length) %}
                        <div class = 'col-4'>
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th style = 'width:50%'>Date</th>
                                        <th style = 'width:50%'>{{ dates[i] }}</th>
                                    </tr>   
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Current OCC</td>
                                        <td>{{ occs[i] }}</td>
                                    </tr>
                                    <tr>
                                        <td>Forecast</td>
                                        <td>35%</td>
                                    </tr>
                                    <tr>
                                        <td>Groups</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Lead Time</td>
                                        <td>{{ data['leadTime']|int + i }}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Discount
                                        </td>
                                        <td>
                                            {{ discounts[i] }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class = 'col-8'>
                                    <table class="table table-bordered table-hover">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Occupancy</th>
                                                <th>Room Type</th>
                                                <th>Count</th>
                                                <th>Rate/Room</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for day in result[i] %}
                                                <tr>
                                                    <td>{{day['occupancy']}}</td>
                                                    <td>{{day['type']}}</td>
                                                    <td>{{day['count']}}</td>
                                                    <td>
                                                    {% if day['type'] == 'foc' %}
                                                        {% if day['rate'] == -1 %}
                                                        <input type = 'number' class = 'num4' min = '10'
                                                        onchange="down(event)"
                                                        step = 'any'>
                                                        {% else %}
                                                        {{ day['rate'] }}
                                                        {% endif %}
                                                    {% elif day['rate'] == -1 %}
                                                        <input type = 'number' class = 'num3' min = '10' onchange="up(event)" step = 'any'>
                                                    {% else %}
                                                        {{day['rate']}}
                                                    {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                        </div>
                        {% endfor %}
                    </div>
                    <div class = 'col-1'>
                        <a href = '#'>Comments</a>
                        <a href = '#'>Commission</a>
                        <a href = '#'>FOC</a>
                        <a href = '#'>History</a>
                        <a href = '#'>Duplicate</a>
                        <a href = '#'>Contract</a>
                    </div>
                </div>
            </div>
            <div class = 'col-3'>
                <div class = 'mb-5'>
                <div class='mb-2'>
                    <span class='btn btn-info col-sm-6'>
                        Total Fare
                    </span>
                    <span class='btn btn-info col-sm-3' id = 'totalRate'>
                        {{ totalRate }}
                    </span>
                </div>
                <div class='mb-2 ff'>
                    {% if tfoc == True%}
                    <span class='btn btn-info col-sm-6'>
                        + FOC
                    </span>
                    <span class='btn btn-info col-sm-3' id = 'focRate'>
                        {{ focv }}
                    </span>
                    {% endif %}
                </div>
                <div class = 'mb-2 ff'>
                        {% if tcomm == True%}
                        <span class='btn btn-info col-sm-6'>
                        + Commission ({{ comP }}%)
                        </span>
                    <span class = 'btn btn-info col-sm-3' id = 'comv'>
                        {{ tcommv }}
                    </span>
                        {% endif %}
                </div>
                <hr>
                <div class='mb-1'>
                    <span class='btn btn-info col-sm-6'>
                        Total Quote
                    </span>
                    <span class='btn btn-info col-sm-3' id='totalQuote'>
                        {{ totalQuote }}
                    </span>
                </div>
                <hr>
                </div>
                <div class='mb-5'>
                    <span class='btn btn-info'>
                        Average Rate/ Room Night :
                    </span>
                    <span class='btn btn-info' id='avgRate'>
                        {{ avgRate }}
                    </span>
                </div>
                <hr>

                <div class='mb-5'>
                    <label>Cutoff</label>
                        <input type='number' class='form-control ml-5' style='max-width: 30%; display: inline-block;'
                        id='dedenewi' min = 0><span> Days</span>
                </div>
                <div class="form-group row mb-5">
                    <label class="col-sm-6 col-form-label">Form of Payment<i class="fas fa-info-circle"></i></label>
                    <div class="col-sm-6">
                        <select class='form-control text-center payment' id='formPayment' style='max-width: 100%;' multiple='multiple'>
                            <option value='bt'>
                                Bank Transfer
                            </option>
                            <option value='cq'>
                                Cheque
                            </option>
                            <option value='cc'>
                                Credit Card
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label">Payment Terms<i class="fas fa-info-circle"></i></label>
                    <div class="col-sm-7">
                        <select class='form-control text-center' name='paymentTerms'  style='max-width: 80%;' onchange="hdd(event)" id = 'dede'>
                            <option disabled selected>
                                Payment Terms
                            </option>
                            <option value = 'poa'>
                                Prior To Arrival
                            </option>
                            <option value = 'pc'>
                                Post Checkout
                            </option>
                            <option value = 'ac'>
                                At Checkout
                            </option>
                        </select>
                    </div>
                </div>
                <div class='col-sm-12 mb-5' id='dede22'>
                    <input type='number' class='form-control' style='max-width: 40%; display: inline-block; margin-left: 10rem;'
                        id='dede33' disabled><span> Days</span>
                </div>
                <div class='mb-5'>
                    <div class="form-check checkbox-slider--b-flat">
                        <label>
                            <input type='checkbox' class='mr-5'>
                            <span class='ml-5'>Payment Guaranteed</span>
                        </label>
                    </div>
                </div>
                <div class='mb-5'>
                    <div class="form-check checkbox-slider--b-flat">
                        <label>
                            <input type = 'checkbox' class = 'mr-5'>
                            <span class = 'ml-5'>Negotiable</span>
                        </label>
                    </div>
                </div>
                <div style="margin-top: 100px;"></div>
                <div class = 'mt-5 mb-5'>
                    <button class="btn btn-info">Send For Review</button>
                    <button class="btn btn-danger">Decline</button>
                    <button class="btn btn-success">Quote</button>
                </div>
            </div>
        </div>
    </div>

<script src="/static/js/jquery.js"></script>
<script>

    function hdd(e) {
            const dede = document.getElementById('dede')
            const option = dede.options[dede.selectedIndex].value
            const dede22 = document.getElementById('dede22')
            if (option === 'ac') {
                $('#dede33').val('')
                $(dede22).hide()
            } else {
                $(dede22).show()
                $('#dede33').removeAttr('disabled')
                document.getElementById('dede33').required = true
            }

        }

    $(document).ready(function () {
        $('.payment').multiselect({
              nonSelectedText: 'FOP',
              numberDisplayed: 0,
              buttonWidth: '200px'
          })
        
        const res = "{{ result|safe }}"
        const totalQuote = "{{ totalQuote|safe }}"
        const avgRate = "{{ avgRate|safe }}"
        const roomCount = "{{ roomCount|safe }}"
        
        //console.log(totalQuote, roomCount, avgRate)
        //console.log(res)
    });

    function up(e) {

        const inputs = [...document.getElementsByClassName('num3')]
        const avg = document.getElementById('avgRate')
        const total = document.getElementById('totalRate')

        const foc = document.getElementById('focRate')
        const totalQuote = document.getElementById('totalQuote')

        focvalue = 0
        if (foc != null)
            focvalue = parseFloat(foc.innerHTML)
        // update totalQuote for both functions & commisssion

        const comv = document.getElementById('comv');

        const ogT = "{{ totalRate }}"
        const ogA = "{{ avgRate }}"
        const comP = "{{ comP }}"
        

        let newtotal = parseFloat(ogT)

        inputs.forEach(inp => {
            if (inp.value != '' && inp.value >= 10) {
                const count = inp.parentElement.previousElementSibling.innerHTML
                newtotal += parseFloat(inp.value * count)
            }
        })

        total.innerText = +(Math.round(newtotal + "e+2") + "e-2");
        r = parseFloat(total.innerHTML) + focvalue
        comv1 = (r * comP)/100
        

        let comvalue = 0
        if (comv != null) {  
            comv.innerHTML = +(Math.round(comv1 + "e+2") + "e-2");
            comvalue = parseFloat(comv.innerHTML)
        }

        totalQuote.innerHTML = Math.round(parseFloat(total.innerHTML) + focvalue + comvalue)
        const roomCount = parseInt("{{ roomCount }}");
        const num = parseInt(totalQuote.innerHTML)/ roomCount
        avg.innerText = +(Math.round(num + "e+2") + "e-2");
    }

    function down(e) {

        const inputs = [...document.getElementsByClassName('num4')]
        const avg = document.getElementById('avgRate')
        const total = document.getElementById('totalRate')
        const foc = document.getElementById('focRate')


        let focvalue = 0
        if (foc != null)
            focvalue = parseFloat(foc.innerHTML)

        const totalQuote = document.getElementById('totalQuote')


        const comv = document.getElementById('comv');

        const ogT = "{{ focv }}"
        const ogA = "{{ avgRate }}"
        const comP = "{{ comP }}"

        let newtotal = parseFloat(ogT)

        inputs.forEach(inp => {
            if (inp.value != '' && inp.value >= 10) {
                const count = inp.parentElement.previousElementSibling.innerHTML
                newtotal += parseFloat(inp.value * count)
            }
        })

        foc.innerText = +(Math.round(newtotal + "e+2") + "e-2");
        focvalue = parseFloat(foc.innerHTML)
        r = parseInt(total.innerHTML) + focvalue
        comv1 = (r * comP) / 100
        
        let comvalue = 0
        if (comv != null) {
            comv.innerHTML = +(Math.round(comv1 + "e+2") + "e-2");
            comvalue = parseFloat(comv.innerHTML)
        }  
        totalQuote.innerHTML = Math.round(parseFloat(total.innerHTML) + focvalue + comvalue)

        const roomCount = parseInt("{{ roomCount }}");
        const num =  parseInt(totalQuote.innerHTML) / roomCount
        avg.innerText = +(Math.round(num + "e+2") + "e-2");   

    }




</script>
{% endblock %}