{% extends 'layout.html' %}
{% block content %}
<div class="spread4">
    <div class='mb-5'>
        <div class='mb-3'>
        <a class='btn btn-primary' href='{{ url_for("home2")  }}'>Back <i class="fas fa-backward"></i></a>
            <span class="btn btn-success">Status : {{ data2['status'] }}</span>
        </div>
        <div class = 'mb-5'>
        {% if data['status'] == 'DECLINED' %}
        <span class='badge badge-pill badge-primary'>
            Declined By {{ data6['declinedBy'] }} On : {{ data6['time'] }}
        </span>
        <span class='badge badge-primary'>
            Reason : {{ data6['reason'] }}
        </span>
        {% endif %}
        {% if data['status'] == "DELETED" %}
        <span class='badge badge-pill badge-primary'>
            Deleted By : {{ data7['deletedBy'] }} On {{ data7['deletedOn'] }}
        </span>
        <span class='badge badge-primary'>
            Reason : {{ data7['reason'] }}
        </span>
        {% endif %}
        </div>
        {% if deleteflag %}
        <div class='mb-5'>
            <textarea class='form-control' rows='2' placeholder="Enter Reason for delete" id='othert2'></textarea>
        </div>
        <div id='msg'></div>
        <div class="row">
            <div class="col-sm-12 mt-3">
                <div class="text-center">
                    <button type="button" id='subm' class="btnLogin" onclick='del()'>DELETE</button>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class='row'>
        <div class='col-9' style='border-right: 1px solid black;'>
            <div class = 'row'>
                <div class = 'col-5'>
                    <div class='mb-4'>
                        <span class="badge badge-pill badge-primary">Recieved : {{ data['createdOn'] }}</span>
                    </div>
                    <div class='mb-3'>
                        <span>Name : {{ data['groupName'] }}</span>
                    </div>
                    <div class='mb-3'>
                        <span>ID : {{ data['id'] }}</span>
                    </div>
                    <div class='mb-3'>
                        <span>Category : <span>{{ data['category'] }}</span></span>
                    </div>
                    <div class='mb-3'>
                        <span>LeadTime : {{ data['leadTime'] }} Days</span>
                    </div>
                    <div class='mb-3'>
                        <span>Room Nights : {{ data['nights'] }}</span>
                    </div>
                </div>
                <div class='col-5'>
                    <div class='mb-4'>
                        <span class="badge badge-pill badge-primary">Last Opened : {{ data['lastOpenedOn'] }} By
                            {{ data['lastOpenedBy'] }}</span>
                    </div>
                    <div class='mb-3'>
                        <span>Budget/RM/NT : ${{ data['budget'] }}</span>
                    </div>
                    <div class='mb-3'>
                        <span>Customer : {{ data['createdFor'] }}</span>
                    </div>
                    <div class='mb-3'>
                        <span>Type : {{ data['userType'] }}</span>
                    </div>
                    {% if data['formPayment'] %}
                    <div class='mb-3'>
                        <span>Form Of Payment : {{ data['formPayment'] }}</span>
                    </div>
                    {% endif %}
                    {% if data['paymentTerms'] %}
                    <div class='mb-3'>
                        <span>Payment Terms : {{ data['paymentTerms'] }}
                            {% if data['paymentTerms'] != 'At Checkout' %}
                            {{ data['paymentDays'] }} Days
                            {% endif %}
                        </span>
                    </div>
                    {% endif %}
                    {% if data['comments'] != '' %}
                    <div class='mb-3'>
                        <span>Comments : {{ data['comments'] }}</span>
                    </div>
                    {% endif %}
                </div>
            </div>
            <hr>
            {% if data2|length == 0 %}
                <div style = 'height: 70vh;'>

                </div>
            {% endif %}
            {% if data2|length != 0 %}
            <div class='row mb-2'>
                <button class='btn btn-primary mr-2' type='button'>Duplicate</button>
                <button class='btn btn-primary' type='button'>History</button>
            </div>
            <div class = 'row mt-5'>
                <div class = 'row col-12'>
                    {% for l in lefttable %}
                    <div class = 'col-5'>
                        <table class = 'table table-bordered table-hover'>
                            <thead class = 'thead-dark'>
                                <tr>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        {{ l['date'] }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Current OCC</td>
                                    <td>{{ l['currentOcc'] }}</td>
                                </tr>
                                <tr>
                                    <td>Forecast</td>
                                    <td>{{ l['forecast'] }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        Groups
                                    </td>
                                    <td>
                                        {{ l['groups'] }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Lead Time
                                    </td>
                                    <td>
                                        {{ l['leadTime'] }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Discount
                                    </td>
                                    <td>
                                        {{ l['discountId'] }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class = 'col-7'>
                        <table class = 'table table-bordered table-hover'>
                            <thead class = 'thead-dark'>
                                <tr>
                                    <th>Occupancy</th>
                                    <th>Room Type</th>
                                    <th>Count</th>
                                    <th>Rate/Room</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for r in righttable[l['date']] %}
                                    <tr>
                                        <td>
                                            {{ r['occupancy'] }}
                                        </td>
                                        <td>
                                            {{ r['type'] }}
                                        </td>
                                        <td>
                                            {{ r['count'] }}
                                        </td>
                                        <td>
                                            {{ r['ratePerRoom'] }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
        {% if data2|length != 0 %}
        <div class = 'col-3'>
            <div class='mb-5'>
                <div class='mb-2'>
                    <span class='btn btn-info col-sm-6'>
                        Total Fare
                    </span>
                    <span class='btn btn-info col-sm-3'>
                        {{ data2['totalFare'] }}
                    </span>
                </div>
                <div class='mb-2 ff'>
                    {% if tfoc == True%}
                    <span class='btn btn-info col-sm-6'>
                        + FOC
                    </span>
                    <span class='btn btn-info col-sm-3'>
                        {{ data2['foc'] }}
                    </span>
                    {% endif %}
                </div>
                <div class='mb-2 ff'>
                    {% if tcomm == True%}
                    <span class='btn btn-info col-sm-6'>
                        + Commission <span>{{ data2['commission'] }}
                        </span>%</span>
                    <span class='btn btn-info col-sm-3'>
                        {{ data2['commissionValue'] }}
                    </span>
                    {% endif %}
                </div>
                <hr>
                <div class='mb-1'>
                    <span class='btn btn-info col-sm-6'>
                        Total Quote
                    </span>
                    <span class='btn btn-info col-sm-3'>
                        {{ data2['totalQuote'] }}
                    </span>
                </div>
                <hr>
            </div>
            <div class='mb-5'>
                <span class='btn btn-info col-sm-8'>
                    Average Rate/ Room Night
                </span>
                <span class='btn btn-info col-sm-3'>
                    {{ data2['averageRate'] }}
                </span>
            </div>
            {% if data3['single1'] != '0'%}
            <div class='mb-2'>
                <span class='btn btn-info col-sm-8'>
                    1 Bed Single
                </span>
                <span class='btn btn-info col-sm-3'>
                    {{ data3['single1'] }}
                </span>
            </div>
            {% endif %}
            {% if data3['double1'] != '0'%}
            <div class='mb-2'>
                <span class='btn btn-info col-sm-8'>
                    1 Bed Double
                </span>
                <span class='btn btn-info col-sm-3'>
                    {{ data3['double1'] }}
                </span>
            </div>
            {% endif %}
            {% if data3['triple1']!= '0' %}
            <div class='mb-2'>
                <span class='btn btn-info col-sm-8'>
                    1 Bed Triple
                </span>
                <span class='btn btn-info col-sm-3'>
                    {{ data3['triple1'] }}
                </span>
            </div>
            {% endif %}
            {% if data3['quad1'] != '0' %}
            <div class='mb-2'>
                <span class='btn btn-info col-sm-8'>
                    1 Bed Quad
                </span>
                <span class='btn btn-info col-sm-3'>
                    {{ data3['quad1'] }}
                </span>
            </div>
            {% endif %}
            {% if data3['single2'] != '0' %}
            <div class='mb-2'>
                <span class='btn btn-info col-sm-8'>
                    2 Bed Single
                </span>
                <span class='btn btn-info col-sm-3'>
                    {{ data3['single2'] }}
                </span>
            </div>
            {% endif %}
            {% if data3['double2']!= '0' %}
            <div class='mb-2'>
                <span class='btn btn-info col-sm-8'>
                    2 Bed Double
                </span>
                <span class='btn btn-info col-sm-3'>
                    {{ data3['double2'] }}
                </span>
            </div>
            {% endif %}
            {% if data3['triple2'] != '0' %}
            <div class='mb-2'>
                <span class='btn btn-info col-sm-8'>
                    2 Bed Triple
                </span>
                <span class='btn btn-info col-sm-3'>
                    {{ data3['triple2'] }}
                </span>
            </div>
            {% endif %}
            {% if data3['quad2'] != '0' %}
            <div class='mb-2'>
                <span class='btn btn-info col-sm-8'>
                    2 Bed Quad
                </span>
                <span class='btn btn-info col-sm-3'>
                    {{ data3['quad2'] }}
                </span>
            </div>
            {% endif %}
            <hr>
            <div class='mb-5'>
                <label>Cutoff</label>
                <input type='number' class='form-control ml-5' style='max-width: 30%; display: inline-block;'  readonly value="{{ data2['cutoffDays'] }}"
                    min=0><span> Days</span>
            </div>
            <div class='mb-5'>
                <span>FOP : {{ data2['formPayment'] }}</span>
            </div>
            <div class='mb-5'>
                <span>Payment Terms : {{ data2['paymentTerms'] }}
                    {% if data2['paymentTerms'] != 'At Checkout' %}
                    {{ data2['paymentDays'] }} Days
                    {% endif %}
                </span>
            </div>
            {% if data2['comments'] != '' %}
            <div class='mb-3'>
                <span>Comments : {{ data2['comments'] }}</span>
            </div>
            {% endif %}
            <div class='mb-5'>
                Contract
            </div>
            <div class = 'mb-5'>
                Negotiable :
                {% if data2['negotiable'] == 1 %}
                    YES
                {% else %} 
                    NO
                {% endif %}           
            </div>
            <div class = 'mb-5'>
                Payment GTD :
                {% if data2['paymentGtd'] == 1 %}
                YES
                {% else %}
                NO
                {% endif %}
            </div>
            {% if data['status'] == 'QUOTED' %}
            <div class = 'mb-5'>
                <span class = 'badge badge-pill badge-primary'>
                    Quoted By : {{ data2['submittedBy'] }}
                </span>
            </div>
            <div class='mb-5'>
                <span class='badge badge-pill  badge-primary'>
                    Quoted On : {{ data2['submittedOn'] }}
                </span>
            </div>
            {% elif data['status'] == 'ACCEPTED' %}
                <div class='mb-5'>
                    <span class='badge badge-pill  badge-primary'>
                        Accepted On : {{ data5['time'] }}
                    </span>
                </div>
            {% endif %}
        </div>  
        {% endif %}
    </div>
</div>

<script src="/static/js/jquery.js"></script>
<script>
    function del() {
        const d = $("#othert2").val()
        console.log(d)
        const msg2 = document.getElementById('msg')
        if (d == '') {
            msg2.style.setProperty('color', 'red', 'important');
            msg2.innerHTML = 'Kindly Add reason for delete'
            $(msg2).show()
            return false
        } else {
            result = {}
            result['id'] = "{{ data['id'] }}"
            result['reason'] = $('#othert2').val()
            fetch('/DeleteRequest2', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(result)

            })
                .then(res => {
                    window.location.href = '/'
                })
                .catch(err => {
                    console.log(err)
                })
        }
    }

</script>

{% endblock %}