{% extends 'layout.html' %}
{% block content %}
    <div class="spread4">
        <div class = 'row'>
            <div class = 'col-9' style = 'border-right: 1px solid black;'>
                <div class = 'row'>
                    <div class = 'col-5'>
                        <div class = 'mb-4'>
                            <span class="badge badge-pill badge-primary">Recieved : {{ data['createdOn'] }}</span>
                        </div>
                        <div class = 'mb-3'>
                            <span>Name : {{ data['groupName'] }}</span>
                        </div>
                        <div class='mb-3'>
                            <span>ID : {{ data['id'] }}</span>
                        </div>
                        <div class='mb-3'>
                            <span>Category : <span id = 'category'>{{ data['category'] }}</span></span>
                        </div>
                        <div class='mb-3'>
                            <span>LeadTime : {{ data['leadTime'] }} Days</span>
                        </div>
                        <div class='mb-3'>
                            <span>Room Nights : {{ data['nights'] }}</span>
                        </div>
                    </div>
                    <div class = 'col-5'>
                        <div class='mb-4'>
                            <span class="badge badge-pill badge-primary">Last Opened : {{ data['lastOpenedOn'] }} By {{ data['lastOpenedBy'] }}</span>
                        </div>
                        <div class='mb-3'>
                            <span>Budget/RM/NT : ${{ data['budget'] }}</span>
                        </div>
                        <div class='mb-3'>
                            <span>Customer : {{ data['createdFor'] }}</span>
                        </div>
                        <div class='mb-3'>
                            <span>Type : {{ data['userType'] }}</span>
                        </div>
                        {% if data['formPayment'] %}
                        <div class='mb-3'>
                            <span>Form Of Payment : {{ data['formPayment'] }}</span>
                        </div>
                        {% endif %}
                        {% if data['paymentTerms'] %}
                        <div class='mb-3'>
                            <span>Payment Terms : {{ data['paymentTerms'] }} 
                                {% if data['paymentTerms'] != 'At Checkout' %}
                                    {{ data['paymentDays'] }} Days
                                {% endif %}
                            </span>
                        </div>
                        {% endif %}
                        {% if data['comments'] != '' %}
                        <div class='mb-3'>
                            <span>Comments : {{ data['comments'] }}</span>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <div class = 'row mb-2'>
                    <button class = 'btn btn-primary mr-2' type = 'button'>Duplicate</button>
                    <button class='btn btn-primary' type='button'>History</button>
                </div>
                <div class = 'row mt-5'>
                    <div class = 'row col-12'>
                        {% for i in range(length) %}
                        <div class = 'col-5'>
                            <table class="table table-bordered table-hover" id = {{ i }}>
                                <thead class="thead-dark">
                                    <tr>
                                        <th style = 'width:50%'>Date</th>
                                        <th style = 'width:50%'>{{ dates[i] }}</th>
                                    </tr>   
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Current OCC</td>
                                        <td>{{ occs[i] }}</td>
                                    </tr>
                                    <tr>
                                        <td>Forecast</td>
                                        <td>35%</td>
                                    </tr>
                                    <tr>
                                        <td>Groups</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Lead Time</td>
                                        <td>{{ data['leadTime']|int + i }}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Discount
                                        </td>
                                        <td>
                                            {{ discounts[i] }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class = 'col-7'>
                                    <table class="table table-bordered table-hover" id = "row{{i}}">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Occupancy</th>
                                                <th>Room Type</th>
                                                <th>Count</th>
                                                <th>Rate/Room</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for day in result[i] %}
                                                <tr>
                                                    <td>{{day['occupancy']}}</td>
                                                    <td>{{day['type']}}</td>
                                                    <td>{{day['count']}}</td>
                                                    <td>
                                                    {% if day['type'] == 'foc' %}
                                                        {% if day['rate'] == -1 %}
                                                        <input type = 'number' class = 'num4' min = '10'
                                                        onchange="down(event)"
                                                        step = 'any'>
                                                        {% else %}
                                                        {{ day['rate'] }}
                                                        {% endif %}
                                                    {% elif day['rate'] == -1 %}
                                                        <input type = 'number' class = 'num3' min = '10' onchange="up(event)" step = 'any'>
                                                    {% else %}
                                                        {{day['rate']}}
                                                    {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class = 'col-3'>
                <div class = 'mb-5'>
                <div class='mb-2'>
                    <span class='btn btn-info col-sm-6'>
                        Total Fare
                    </span>
                    <span class='btn btn-info col-sm-3' id = 'totalRate'>
                        {{ totalRate }}
                    </span>
                </div>
                <div class='mb-2 ff'>
                    {% if tfoc == True%}
                    <span class='btn btn-info col-sm-6'>
                        + FOC
                    </span>
                    <span class='btn btn-info col-sm-3' id = 'focRate'>
                        {{ focv }}
                    </span>
                    {% endif %}
                </div>
                <div class = 'mb-2 ff'>
                        {% if tcomm == True%}
                        <span class='btn btn-info col-sm-6'>
                        + Commission <span id = 'commission'>{{ comP }}
                        </span>%</span>
                    <span class = 'btn btn-info col-sm-3' id = 'comv'>
                        {{ tcommv }}
                    </span>
                        {% endif %}
                </div>
                <hr>
                <div class='mb-1'>
                    <span class='btn btn-info col-sm-6'>
                        Total Quote
                    </span>
                    <span class='btn btn-info col-sm-3' id='totalQuote'>
                        {{ totalQuote }}
                    </span>
                </div>
                <hr>
                </div>
                <div class='mb-5'>
                    <span class='btn btn-info col-sm-8'>
                        Average Rate/ Room Night
                    </span>
                    <span class='btn btn-info col-sm-3' id='avgRate'>
                        {{ avgRate }}
                    </span>
                </div>
                {% if single1f %}
                <div class = 'mb-2'>
                    <span class='btn btn-info col-sm-8'>
                        1 Bed Single
                    </span>
                    <span class = 'btn btn-info col-sm-3' id = 'single1avg'>
                        {{ single1avg }}
                    </span>
                </div>
                {% endif %}
                {% if double1f %}
                <div class='mb-2'>
                    <span class='btn btn-info col-sm-8'>
                        1 Bed Double
                    </span>
                    <span class = 'btn btn-info col-sm-3' id = 'double1avg'>
                    {{ double1avg }}
                    </span>
                </div>
                {% endif %}
                {% if triple1f %}
                <div class='mb-2'>
                    <span class='btn btn-info col-sm-8'>
                        1 Bed Triple
                    </span>
                    <span class = 'btn btn-info col-sm-3' id = 'triple1avg'>
                        {{ triple1avg }}
                    </span>
                </div>
                {% endif %}
                {% if quad1f %}
                <div class='mb-2'>
                    <span class='btn btn-info col-sm-8'>
                        1 Bed Quad
                    </span>
                    <span class = 'btn btn-info col-sm-3' id = 'quad1avg'>
                        {{ quad1avg }}
                    </span>
                </div>
                {% endif %}
                {% if single2f %}
                <div class='mb-2'>
                    <span class='btn btn-info col-sm-8'>
                        2 Bed Single
                    </span>
                    <span class = 'btn btn-info col-sm-3' id = 'single2avg'>
                        {{ single2avg }}
                    </span>
                </div>
                {% endif %}
                {% if double2f %}
                <div class='mb-2'>
                    <span class='btn btn-info col-sm-8'>
                        2 Bed Double
                    </span>
                        <span class = 'btn btn-info col-sm-3' id = 'double2avg'>
                            {{ double2avg }}
                    </span>
                </div>
                {% endif %}
                {% if triple2f %}
                <div class='mb-2'>
                    <span class='btn btn-info col-sm-8'>
                        2 Bed Triple
                    </span>
                        <span class = 'btn btn-info col-sm-3' id = 'triple2avg'>
                            {{ triple2avg }}
                    </span>
                </div>
                {% endif %}
                {% if quad2f %}
                <div class='mb-2'>
                    <span class='btn btn-info col-sm-8'>
                        2 Bed Quad
                    </span>
                        <span class = 'btn btn-info col-sm-3' id = 'quad2avg'>
                            {{ quad2avg }}
                    </span>
                </div>
                {% endif %}
                <hr>

                <div class='mb-5'>
                    <label>Cutoff</label>
                        <input type='number' class='form-control ml-5' style='max-width: 30%; display: inline-block;'
                        id='dedenewi' min = 0><span> Days</span>
                </div>
                <div class="form-group row mb-5">
                    <label class="col-sm-6 col-form-label">Form of Payment<i class="fas fa-info-circle"></i></label>
                    <div class="col-sm-6">
                        <select class='form-control text-center payment' id='formPayment' style='max-width: 100%;' multiple='multiple'>
                            <option value='bt'>
                                Bank Transfer
                            </option>
                            <option value='cq'>
                                Cheque
                            </option>
                            <option value='cc'>
                                Credit Card
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label">Payment Terms<i class="fas fa-info-circle"></i></label>
                    <div class="col-sm-7">
                        <select class='form-control text-center' name='paymentTerms'  style='max-width: 80%;' onchange="hdd(event)" id = 'dede'>
                            <option disabled selected>
                                Payment Terms
                            </option>
                            <option value = 'poa'>
                                Prior To Arrival
                            </option>
                            <option value = 'pc'>
                                Post Checkout
                            </option>
                            <option value = 'ac'>
                                At Checkout
                            </option>
                        </select>
                    </div>
                </div>
                <div class='col-sm-12 mb-5' id='dede22'>
                    <input type='number' class='form-control' style='max-width: 40%; display: inline-block; margin-left: 10rem;'
                        id='dede33' disabled><span> Days</span>
                </div>
                <div class='mb-5'>
                    <div class="form-check checkbox-slider--b-flat">
                        <label>
                            <input type='checkbox' class='mr-5' id = 'pmgtd'>
                            <span class='ml-5'>Payment Guaranteed</span>
                        </label>
                    </div>
                </div>
                <div class='mb-5'>
                    <div class="form-check checkbox-slider--b-flat">
                        <label>
                            <input type = 'checkbox' class = 'mr-5' id = 'nego'>
                            <span class = 'ml-5'>Negotiable</span>
                        </label>
                    </div>
                </div>
                <div class = 'form-group row mb-5'>
                    <label class="col-sm-2 col-form-label">Comments: </label>
                    <div class="col-sm-7 ml-5">
                        <textarea class="form-control" rows='2' id='comments'></textarea>
                    </div>
                </div>
                <div class='mb-5'>
                    Contract
                </div>
                <div class='row mb-5' id='msg'>
                
                </div>
                <div style="margin-top: 100px;"></div>
                <div class = 'mt-5 mb-5'>
                    <button type = 'button' class="btn btn-info">Send For Review</button>
                    <button type = 'button' class="btn btn-danger">Decline</button>
                    <button type = 'button' class="btn btn-success" onclick = 'quote()'>Quote</button>
                </div>
            </div>
        </div>
    </div>

<script src="/static/js/jquery.js"></script>
<script>

    function hdd(e) {
            const dede = document.getElementById('dede')
            const option = dede.options[dede.selectedIndex].value
            const dede22 = document.getElementById('dede22')
            if (option === 'ac') {
                $('#dede33').val('')
                $(dede22).hide()
            } else {
                $(dede22).show()
                $('#dede33').removeAttr('disabled')
                document.getElementById('dede33').required = true
            }

        }

    $(document).ready(function () {
        $('.payment').multiselect({
              nonSelectedText: '-',
              numberDisplayed: 0,
              buttonWidth: '200px'
          })
        
        const res = "{{ result|safe }}"
        const totalQuote = "{{ totalQuote|safe }}"
        const avgRate = "{{ avgRate|safe }}"
        const roomCount = "{{ roomCount|safe }}"
        
    });

    function up(e) {

        const inputs = [...document.getElementsByClassName('num3')]
        const avg = document.getElementById('avgRate')
        const total = document.getElementById('totalRate')

        const foc = document.getElementById('focRate')
        const totalQuote = document.getElementById('totalQuote')

        focvalue = 0
        if (foc != null)
            focvalue = parseFloat(foc.innerHTML)
        // update totalQuote for both functions & commisssion

        const comv = document.getElementById('comv');

        const ogT = "{{ totalRate }}"
        const ogA = "{{ avgRate }}"
        const comP = "{{ comP }}"
        

        let newtotal = parseFloat(ogT)

        inputs.forEach(inp => {
            if (inp.value != '' && inp.value >= 10) {
                const count = inp.parentElement.previousElementSibling.innerHTML
                newtotal += parseFloat(inp.value * count)
            }
        })

        total.innerText = +(Math.round(newtotal + "e+2") + "e-2");
        r = parseFloat(total.innerHTML) + focvalue
        comv1 = (r * comP)/100
        

        let comvalue = 0
        if (comv != null) {  
            comv.innerHTML = +(Math.round(comv1 + "e+2") + "e-2");
            comvalue = parseFloat(comv.innerHTML)
        }

        totalQuote.innerHTML = Math.round(parseFloat(total.innerHTML) + focvalue + comvalue)
        const roomCount = parseInt("{{ roomCount }}");
        const num = parseInt(totalQuote.innerHTML)/ roomCount
        avg.innerText = +(Math.round(num + "e+2") + "e-2");



        upd()


    }


    var foc1o = parseFloat("{{ foc1 }}")
    var foc2o = parseFloat("{{ foc2 }}")

    function upd() {
        const single1avg = document.getElementById('single1avg')
        const double1avg = document.getElementById('double1avg')
        const triple1avg = document.getElementById('triple1avg')
        const quad1avg = document.getElementById('quad1avg')
        const single2avg = document.getElementById('single2avg')
        const double2avg = document.getElementById('double2avg')
        const triple2avg = document.getElementById('triple2avg')
        const quad2avg = document.getElementById('quad2avg')

        const single1c = "{{ single1c }}"
        const double1c = "{{ double1c }}"
        const triple1c = "{{ triple1c }}"
        const quad1c = "{{ quad1c }}"
        const single2c = "{{ single2c }}"
        const double2c = "{{ double2c }}"
        const triple2c = "{{ triple2c }}"
        const quad2c = "{{ quad2c }}"
        const foc1c = "{{ foc1c }}"
        const foc2c = "{{ foc2c }}"

        const nights = "{{ length }}"

        let single1v = 0
        let double1v = 0
        let triple1v = 0
        let quad1v = 0
        let single2v = 0
        let double2v = 0
        let triple2v = 0
        let quad2v = 0
        let foc1 = 0
        let foc2 = 0
        let foc1v = 0
        let foc2v = 0

        for (let i = 0; i < nights; i++) {
            const table = document.getElementById('row' + i)
            const children = [...table.children[1].children]
            
            children.forEach(tr => {
                const occ  = tr.children[0].innerText
                const type = tr.children[1].innerText
                const count = tr.children[2].innerText
                let x = tr.children[3]
                if (x.children.length == 0)
                    rate = tr.children[3].innerText
                else {
                    rate = tr.children[3].children[0].value
                    if (rate == '') {
                        rate = '0'
                    }
                }

                if (type == '1 Bed') {
                    if (occ == 'Single') {
                        if (rate != -1 || rate != 0) {

                            const sep = " ("
                            s = rate.split(sep)
                            v = parseFloat(s[0]) * parseInt(count);
                            single1v += v
                        }
                    } else if (occ == 'Double') {
                        if (rate != -1 || rate != 0) {
                            const sep = " ("
                            s = rate.split(sep)
                            v = parseFloat(s[0]) * parseInt(count);
                            double1v += v
                        }
                    } else if (occ == 'Triple') {
                        if (rate != -1 || rate != 0) {
                            const sep = " ("
                            s = rate.split(sep)
                            v = parseFloat(s[0]) * parseInt(count);
                            triple1v += v
                        }
                    } else if (occ == 'Quad') {
                        if (rate != -1 || rate != 0) {
                            const sep = " ("
                            s = rate.split(sep)
                            v = parseFloat(s[0]) * parseInt(count);
                            quad1v += v
                        }
                    }
                } else if (type == '2 Bed') {
                    if (occ == 'Single') {
                        if (rate != -1 || rate != 0) {
                            const sep = " ("
                            s = rate.split(sep)
                            v = parseFloat(s[0]) * parseInt(single2c);
                            single2v += v
                        }
                    } else if (occ == 'Double') {
                        if (rate != -1 || rate != 0) {
                            const sep = " ("
                            s = rate.split(sep)
                            v = parseFloat(s[0]) * parseInt(count);
                            double2v += v
                        }
                    } else if (occ == 'Triple') {
                        if (rate != -1 || rate != 0) {
                            const sep = " ("
                            s = rate.split(sep)
                            v = parseFloat(s[0]) * parseInt(count);
                            triple2v += v
                        }
                    } else if (occ == 'Quad') {
                        if (rate != -1 || rate != 0) {
                            const sep = " ("
                            s = rate.split(sep)
                            v = parseFloat(s[0]) * parseInt(count);
                            quad2v += v
                        }
                    }
                } else if (type == 'foc') {
                    if (occ == 'Single') {
                        if (rate != -1 || rate != 0) {
                            const sep = " ("
                            s = rate.split(sep)
                            v = parseFloat(s[0]) * parseInt(count);
                            foc1v += v
                        }
                    } else if (occ == 'Double') {
                        if (rate != -1 || rate != 0) {
                            const sep = " ("
                            s = rate.split(sep)
                            v = parseFloat(s[0]) * parseInt(count);
                            foc2v += v
                        }
                    }
                }

            });

        }


        
        const parts = "{{ parts }}"


        foc1v = foc1v / parseInt(parts)
        foc2v = foc2v / parseInt(parts)


        foc1v = +(Math.round(foc1v + "e+2") + "e-2")
        foc2v = +(Math.round(foc2v + "e+2") + "e-2")


        focvv = foc1v + foc2v

        let svv = (single1v / single1c) + focvv
        let dvv = (double1v / double1c) + focvv
        let tvv = (triple1v/triple1c) + focvv
        let qvv = (quad1v/quad1c) + focvv
        
        let svv2 = (single2v/single2c) + focvv
        let dvv2 = (double2v/double2c) + focvv
        let tvv2 = (triple2v/triple2c) + focvv
        let qvv2 = (quad2v/quad2c) + focvv

        const sv = +(Math.round(svv + "e+2") + "e-2")
        const dv = +(Math.round(dvv + "e+2") + "e-2")
        const tv = +(Math.round(tvv + "e+2") + "e-2")
        const qv = +(Math.round(qvv + "e+2") + "e-2")
        const sv1 = +(Math.round(svv2 + "e+2") + "e-2")
        const dv1 = +(Math.round(dvv2 + "e+2") + "e-2")
        const tv1 = +(Math.round(tvv2 + "e+2") + "e-2")
        const qv1 = +(Math.round(qvv2 + "e+2") + "e-2")



        if (single1avg != null)
            single1avg.innerHTML = sv
        if (double1avg != null)
            double1avg.innerHTML = dv
        if (triple1avg != null)
            triple1avg.innerHTML = tv
        if (quad1avg != null)
            quad1avg.innerHTML = qv
        if (single2avg != null)
            single2avg.innerHTML = sv1
        if (double2avg != null)
            double2avg.innerHTML = dv1
        if (triple2avg != null)
            triple2avg.innerHTML = tv1
        if (quad2avg != null)
            quad2avg.innerHTML = qv1   

    }


    function down(e) {

        const inputs = [...document.getElementsByClassName('num4')]
        const avg = document.getElementById('avgRate')
        const total = document.getElementById('totalRate')
        const foc = document.getElementById('focRate')


        let focvalue = 0
        if (foc != null)
            focvalue = parseFloat(foc.innerHTML)

        const totalQuote = document.getElementById('totalQuote')


        const comv = document.getElementById('comv');

        const ogT = "{{ focv }}"
        const ogA = "{{ avgRate }}"
        const comP = "{{ comP }}"

        let newtotal = parseFloat(ogT)

        inputs.forEach(inp => {
            if (inp.value != '' && inp.value >= 10) {
                const count = inp.parentElement.previousElementSibling.innerHTML
                newtotal += parseFloat(inp.value * count)
            }
        })

        foc.innerText = +(Math.round(newtotal + "e+2") + "e-2");
        focvalue = parseFloat(foc.innerHTML)
        r = parseInt(total.innerHTML) + focvalue
        comv1 = (r * comP) / 100
        
        let comvalue = 0
        if (comv != null) {
            comv.innerHTML = +(Math.round(comv1 + "e+2") + "e-2");
            comvalue = parseFloat(comv.innerHTML)
        }  
        totalQuote.innerHTML = Math.round(parseFloat(total.innerHTML) + focvalue + comvalue)

        const roomCount = parseInt("{{ roomCount }}");
        const num =  parseInt(totalQuote.innerHTML) / roomCount
        avg.innerText = +(Math.round(num + "e+2") + "e-2"); 


        upd()  

    }

    function emsg(text) {
        let msg2 = document.getElementById('msg')
        msg2.style.setProperty('color', 'red', 'important');

        msg2.innerHTML = `${text}`
        $(msg2).show()
    }

    function quote() {
        const requestId = "{{ data['id'] }}"
        const groupCategory = document.getElementById('category').innerText
        const totalFare = document.getElementById('totalRate').innerText
        let foc = document.getElementById('focRate')
        if (foc == null) {
            foc = 0
        } else {
            foc = foc.innerText
        }
        let commission = document.getElementById('commission')
        if (commission == null) {
            commission = 0
        } else {
            commission = commission.innerText
        }
        let commissionValue = document.getElementById('comv')
        if (commissionValue == null) {
            commissionValue = 0
        } else {
            commissionValue = commissionValue.innerText
        }
        const totalQuote = document.getElementById('totalQuote').innerText
        const cutoffDays = document.getElementById('dedenewi').value
        if (cutoffDays == '') {
            emsg('Enter Cutoff Days')   
            return false
        }
        const formPayment = $('#formPayment').val()
        if (formPayment == '') {
            emsg('Enter Form of Payment')
            return false
        }
        const paymentTerms = $('#dede').val()
        if (paymentTerms == null) {
            emsg('Enter Payment Terms')
            return false
        }
        const paymentDays = $('#dede33').val()
        if (paymentDays == '' && paymentTerms != 'ac') {
            emsg('Enter Payment Days')
            return false
        }
        let paymentGtd = document.getElementById('pmgtd')
        if (paymentGtd.checked) {
            paymentGtd = 1
        } else {
            paymentGtd = 0
        }
        let negotiable = document.getElementById('nego')
        if (negotiable.checked) {
            negotiable = 1
        } else {
            negotiable = 0
        }
        const status = 'quoted'

        const checkIn = "{{ checkIn }}"
        const checkOut = "{{ checkOut }}"
        const nights = "{{ length }}"

        const single1avg = document.getElementById('single1avg')
        const double1avg = document.getElementById('double1avg')
        const triple1avg = document.getElementById('triple1avg')
        const quad1avg = document.getElementById('quad1avg')
        const single2avg = document.getElementById('single2avg')
        const double2avg = document.getElementById('double2avg')
        const triple2avg = document.getElementById('triple2avg')
        const quad2avg = document.getElementById('quad2avg')

        const result = {}
        if (single1avg != null)
            result['single1'] = single1avg.innerText
        else
            result['single1'] = 0
        if (double1avg != null)
            result['double1'] = double1avg.innerText
        else
            result['double1'] = 0
        if (triple1avg != null)
            result['triple1'] = triple1avg.innerText
        else
            result['triple1'] = 0
        if (quad1avg != null)
            result['quad1'] = quad1avg.innerText
        else
            result['quad1'] = 0
        if (single2avg != null)
            result['single2'] = single2avg.innerText
        else
            result['single2'] = 0
        if (double2avg != null)
            result['double2'] = double2avg.innerText
        else
            result['double2'] = 0
        if (triple2avg != null)
            result['triple2'] = triple2avg.innerText
        else
            result['triple2'] = 0
        if (quad1avg != null)
            result['quad1'] = quad1avg.innerText   
        else
            result['quad1'] = 0
        if (quad2avg != null)
            result['quad2'] = quad2avg.innerText
        else
            result['quad2'] = 0

        result['requestId'] = requestId
        result['groupCategory'] = groupCategory
        result['totalFare'] = totalFare
        result['foc'] = foc
        result['commission'] = commission
        result['commissionValue'] = commissionValue
        result['totalQuote'] = totalQuote
        result['cutoffDays'] = cutoffDays
        result['formPayment'] = formPayment
        result['paymentTerms'] = paymentTerms
        result['paymentDays'] = paymentDays
        result['paymentGtd'] = paymentGtd
        result['negotiable'] = negotiable
        result['checkIn'] = checkIn
        result['checkOut'] = checkOut
        result['nights'] = nights
        result['comments'] = $('#comments').val()

        const table_result = []

        var dateParts1 = checkIn.split("-");
        var dt1 = new Date(+dateParts1[0], dateParts1[1] - 1, +dateParts1[2]);
        let dobj = dt1
        let flag = true
        for (let i = 0; i<nights; i++) {

            const date = dobj.getDate()
            const month = dobj.getMonth()
            const year = dobj.getFullYear()


            const table1 = document.getElementById(i)
            const table2 = document.getElementById("row" + i)

            let tbody1 = table1.children[1]
            let tbody2 = table2.children[1]
            let children2 = [...tbody2.children]

            children2.forEach(tr => {
                let resArr = {}
                resArr['date'] = year + "/" + month + "/" + date
                let children1 = tbody1.children
                resArr['currentOcc'] = children1[0].children[1].innerText
                resArr['discountId'] = children1[4].children[1].innerText
                
                resArr['occupancy'] = tr.children[0].innerText
                resArr['type'] = tr.children[1].innerText
                resArr['count'] = tr.children[2].innerText
                // check if input
                let x = tr.children[3]
                if (x.children.length == 0)
                    resArr['ratePerRoom'] = tr.children[3].innerText
                else {
                    resArr['ratePerRoom'] = tr.children[3].children[0].value
                    if (resArr['ratePerRoom'] == '' || resArr['ratePerRoom'] < 10) {
                        flag = false
                    }
                }

                table_result.push(resArr)

            })
            if (!flag) {
                emsg('Enter Valid Rate Per Room')
                return false
            } else {
                $('#msg').hide()
            }

            dobj.setDate(dobj.getDate() + 1)

        }


        result['table_result'] = table_result

        fetch('/requestProcessQuote', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(result)
        })
            .then(res => {
                window.location.href = '/'
            })
            .catch(err => {
                console.log(err)
            })

        

    }




</script>
{% endblock %}