{% extends 'layout.html' %}
{% block content %}

<div class="home">
    <div class="wrap-login spread3">
        <div class='loginH'>
            <div class='text-center'>
                <p>View Discount Grid</p>
            </div>
        </div>
        <div class = 'mb-5'>
            <div class = 'row mb-5'>
                <div class = 'col-sm-4'>
                    <span class = 'btn btn-info'>Start Date: {{ data['startDate'] }} </span>
                </div>
                <div class = 'col-sm-4'>
                    <span class = 'btn btn-info'>End Date: {{ data['endDate'] }} </span>
                </div>
                <div class='col-sm-4'>
                    <span class='btn btn-info'>Discount ID : {{ data['discountId'] }} </span>
                </div>
            </div>
        </div>
        <hr>
        <table class = 'table table-bordered table-hover'>
            <thead class = 'thead-dark'>
                <tr>
                <th>
                    Lead Time
                </th>
                <th>
                    Allocation(Rooms)
                </th>
                {% for r in ranges %}
                <th>
                    {{ r }} 
                </t>
                {%  endfor %}
                </tr>
            </thead>
            <tbody>
                {% for k,v in result.items() %}
                    <tr>
                        <td>
                            {{ k }}
                        </td>
                        <td>

                        </td>
                        {% for x in v%}
                            <td>
                                {{ x['value'] }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}