{% extends 'layout.html' %}
{% block content %}

<div class="home">
    <div class="wrap-login spread3">
        <div class='loginH'>
            <div class='text-center'>
                <p>Discount Grid</p>
            </div>
        </div>
        <form id='formadd' class='inline mb-5' onsubmit="addDiscount(event)">
            <div class='mg mb-5'>
                <div class="input-group-prepend col-sm">
                    <span class="input-group-text  mb-2">Date range</span>
                    <input type="text" placeholder="Start date" aria-label="First name"
                        class="form-control start-date  mb-2 " id='startDateG' required>
                    <input type="text" placeholder="End date" aria-label="Last name"
                        class="form-control end-date  mb-2 mr-sm-2" id='endDateG' required>
                </div>
                <div class='col-sm mb-2'>
                    <input type = 'text' class = 'form-control' min = '0' max = '100' placeholder="Discount ID" style="width: 40%;" required id = 'discountId'>
                </div>
            </div>
        <div class = 'table-responsive'>
            <table class = 'table table-bordered table-hover' id = 'tab12'>
                <caption>Default Discount Grid</caption>
                <thead class = 'thead-dark'>
                    <tr>
                        <th rowspan="2">
                            Lead Time (Days)
                        </th>
                        <th>
                            OCC(%)
                        </th>   
                        <th colspan = '2'>
                            0 - 20% ({{ rooms * 20//100 }} Rooms)
                        </th>
                        <th colspan = '2'>
                            21 - 40% ({{ rooms * 20//100 }} Rooms)
                        </th>
                        <th colspan = '2'>
                            41 - 60% ({{ rooms * 20//100 }} Rooms)
                        </th>
                        <th colspan = '2'>
                            61 - 80% ({{ rooms * 20//100 }} Rooms)
                        </th>
                        <th colspan = '2'>
                            81 - 100% ({{ rooms * 20//100 }} Rooms)
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Allocation
                        </th>
                        <th>
                            1 - {{ (rooms * 20//100)//2 }}
                        </th>
                        <th>
                            {{ (rooms * 20//100)//2 }} - {{ (rooms * 20//100) }}
                        </th>
                        <th>
                            {{ rooms * 20//100 }} - {{ rooms * 20//100 + rooms * 20//200 }}
                        </th>
                        <th>
                            {{ rooms * 20//100 + rooms * 20//200 }} - {{ rooms * 20//100 + rooms * 20//200 + rooms * 20//200  }}
                        </th>
                        <th>
                            {{ rooms * 20//100 + rooms * 20//200 + rooms * 20//200  }} - {{ rooms * 20//100 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200  }}
                        </th>
                        <th>
                            {{ rooms * 20//100 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200  }} - {{ rooms * 20//100 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 }}
                        </th>
                        <th>
                            {{ rooms * 20//100 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 }} - {{ rooms * 20//100 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 }}
                        </th>
                        <th>
                            {{ rooms * 20//100 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 }} - {{ rooms * 20//100 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200}}
                        </th>
                        <th>
                            {{ rooms * 20//100 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200}} - {{ rooms * 20//100 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200}}
                        </th>
                        <th>
                            {{ rooms * 20//100 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200}} - {{ rooms * 20//100 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200 + rooms * 20//200}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1 - 6
                        </td>
                        <td>
                        </td>
                        <td>
                            <input type='number' step = 'any' class = 'form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class = 'form-control' min = '0' max = '100' value = '0' >
                        </td>   
                        <td>    
                            <input type='number' step = 'any' class = 'form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class = 'form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class = 'form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class = 'form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class = 'form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class = 'form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class = 'form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class = 'form-control' min = '0' max = '100' value = '0' >
                        </td>
                    </tr>
                    <tr>
                        <td> 
                            7 - 13
                        </td>
                        <td>
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                    </tr>
                    <tr>
                        <td>
                            14 - 29
                        </td>
                        <td>
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                    </tr>
                    <tr>
                        <td>
                            30 - 59
                        </td>
                        <td>
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                    </tr>
                    <tr>
                        <td>
                            60 - 179
                        </td>
                        <td>
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                    </tr>
                    <tr>
                        <td>
                            180
                        </td>
                        <td>
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                        <td>
                            <input type='number' step = 'any' class='form-control' min = '0' max = '100' value = '0' >
                        </td>
                    </tr>        
                </tbody>
            </table>
        </div>
        <div class = 'row'>
            <div class="col-sm-12 mt-3">
                <button class = 'btn btn-info' type = 'button' id = 'createGrid11' onclick = 'createGrid1(event)'>Create Grid</button>
            </div>
        </div>
        <div class='row mb-5'>
            <div class="col-sm-12 mt-3">
                <button class='btn btn-info' type='button' id='createGrid12' onclick='createGrid2(event)'>Back to Default Grid</button>
            </div>
        </div>
        <div class = 'mb-5' id = 'point'>
                <label class = 'mr-5' id = 'porq'>Enter OCC Range</label>
                <input type='number' class='form-control'  min=0 style = 'width:20%; display: inline-block;' max = 100 id = 'mincol' >
                <input type='number' class='form-control'  min=0 style = 'width:20%; display: inline-block;' max = 100 id = 'maxcol' >
                
                <button type = 'button' class = 'ml-5 btn btn-primary' onclick = 'addcol(event)' id = 'adc'>Add Column</button>

                <button type='button' class='ml-5 btn btn-primary' onclick='rescol(event)' id = 'fc'>Freeze Column</button>

                <button type='button' class='ml-5 btn btn-primary' onclick='lockGrid(event)' id='lc'>Lock Grid Columns</button>

                <button type='button' class='ml-5 btn btn-primary' onclick='addRow(event)' id='ar'>Add Row</button>

        </div>

        <div class='table-responsive'>
            <table class='table table-bordered table-hover' id='tab13'>
                <caption>Default Discount Grid</caption>
                <thead class='thead-dark'>
                    <tr>
                        <th rowspan="2">
                            Lead Time (Days)
                        </th>
                        <th>
                            OCC(%)
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Allocation
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type='number' class='num3' min = '0'>
                            <input type='number' class='num3' min = '0'>
                        </td>
                        <td>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="row">
            <div class="col-sm-12 mt-3">
                <div class="text-center">
                    <button type="submit" id='subm' class="btnLogin">Submit</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>


<script src="/static/js/jquery.js"></script>
<script>
    $(document).ready(function () {
        $('#tab13').addClass('noSubmit')
            $('#fc').hide()
            $('#lc').hide()
            $('#ar').hide()
            $('#createGrid12').hide()
            $('#tab13').hide()
            $('#point').hide()
            var $startDate = $('.start-date');
            var $endDate = $('.end-date');

            var d = new Date();
            var strDate = d.getDate() + "/" + (d.getMonth() + 1) + "/" + d.getFullYear()

            $startDate.datepicker({
                autoHide: true,
                format: "dd/mm/yyyy",
                startDate: strDate,
            });
            $endDate.datepicker({
                autoHide: true,
                startDate: $startDate.datepicker('getDate'),
                format: "dd/mm/yyyy",
            });

            $startDate.on('change', function () {
                $endDate.datepicker('setStartDate', $startDate.datepicker('getDate'));
            });
    });

    function createGrid1()
    {
        $('#tab12').hide()
        $('#tab12').addClass('noSubmit')
        $('#tab13').removeClass('noSubmit')
        $('#tab13').show()
        $('#createGrid11').hide()
        $('#createGrid12').show()
        $('#point').show()
    }
    function createGrid2() {
        $('#tab13').addClass('noSubmit')
        $('#tab12').removeClass('noSubmit')
        $('#tab12').show()
        $('#createGrid12').hide()
        $('#createGrid11').show()
        $('#tab13').hide()
        $('#point').hide()
    }

    function lockGrid(e) {
        const buttons = [...document.getElementsByClassName('rept')]
        buttons.forEach(button => {
            button.remove()
        })
        $('#mincol').hide()
        $('#maxcol').hide()
        $('#adc').hide()
        $('#fc').hide()
        $('#lc').hide()
        $('#porq').hide()

        $('#ar').show()
        
    }

    function addRow(e) {
        const table = document.getElementById('tab13')
        const tbody = table.children[2]
        const tr = tbody.children[0]
        let newTr = $(tr).clone(true)
        newTr = newTr[0]
        tbody.append(newTr)
    }

    function addcolcol(e, min, max) {
        const p = e.target.parentElement

        p.colSpan = p.colSpan + 1

        const g = p.parentElement.nextElementSibling;

        const th2 = document.createElement('th')

        th2.innerHTML = `
                        <input type = 'number' class = 'num3' min = ${min} max = ${max}>
                        <input type='number' class='num3' min = ${min} max = ${max}>`

        g.appendChild(th2)

        let tbody = document.getElementById('tab13').children
        [2]
        const td = document.createElement('td')
        td.innerHTML = `
                        <input type = 'number' class = 'num3' min = '0' max = '100'>`
        tbody = tbody.children[0]
        tbody.appendChild(td)

    }

    function rescol(e) {
        const min = document.getElementById('mincol')
        const max = document.getElementById('maxcol')
        min.disabled = false
        max.disabled = false
        min.value = ''
        max.value = ''

        $('#fc').hide()
        $('#adc').show()

        const buttons = [...document.getElementsByClassName('rept')]
        buttons.forEach(button => {
            button.remove()
        })

    }

    var peep = 0

    function addcol() {
        const min = document.getElementById('mincol')
        const max = document.getElementById('maxcol')

        if (min.value == '') {
            alert('Enter Min value')
            return false
        }
        if (max.value == '') {
            alert('Enter Max value')
            return false
        }


        $('#fc').show()
        $('#adc').hide()
        $('#lc').show()

        min.disabled = true
        max.disabled = true

        const table = document.getElementById('tab13')
        
        const theadr = table.children[1].children
        const th1 = document.createElement('th')
        const rooms = "{{ rooms|safe }}"
        const diff = max.value - min.value + 1
        const val = Math.floor((rooms * diff) / 100);

        if (peep == 0) {
            const peep2 = peep +  parseInt(min.value)
            th1.innerHTML = `${min.value} - ${max.value} (${val} rooms)
                <button type = 'button' class = 'btn btn-outline-warning rept' onclick = 'addcolcol(event, ${peep2}, ${val})'>
                                +
                            </button>
            `
            theadr[0].append(th1)

            const th2 = document.createElement('th')
        
            th2.innerHTML = `
                            <input type = 'number' class = 'num3' min = ${peep2} max = ${val} value = ${peep2}>
                            <input type='number' class='num3'  min = ${peep2} max = ${val} value = ${val}>
                            `
            theadr[1].append(th2)
        } else {
            th1.innerHTML = `${min.value} - ${max.value} (${val} rooms)
                <button type = 'button' class = 'btn btn-outline-warning rept' onclick = 'addcolcol(event, ${peep + 1}, ${val + peep})'>
                                +
                            </button>
            `
            theadr[0].append(th1)

            const th2 = document.createElement('th')

            th2.innerHTML = `
                            <input type = 'number' class = 'num3' min = ${peep + 1} max = ${val + peep} value = ${peep + 1}>
                            <input type='number' class='num3'  min = ${peep + 1} max = ${val + peep} value = ${val + peep}>
                            `
            theadr[1].append(th2)

        }
        peep += val

        const tbody = table.children[2]
        const trchildren = [...tbody.children]
        trchildren.forEach(tr => {
            const td = document.createElement('td')
            td.innerHTML = `<input type='number' step = 'any' class = 'num3' min = '0' max = '100'>`
            tr.appendChild(td)
        })

        
    }


    function addDiscount(e) {
        e.preventDefault()

        const startDate = $('#startDateG').val()
        const endDate = $('#endDateG').val()
        const discountId = $('#discountId').val()

        result = []
        result['startDate'] = startDate
        result['endDate'] = endDate
        result['discountId'] = discountId


        const table1 = document.getElementById('tab12')
        const table2 = document.getElementById('tab13')
        
        table_result = []
        if (table1.classList.contains('noSubmit')) {
            let children = table2.children
            let tr = children[1].children[1]
            console.log(tr)
            let tbody = children[2]
            console.log(tbody.children)

        } else if (table2.classList.contains('noSubmit')) {
            let children = table1.children
            let tr = [...children[1].children[1].children]
            let ranges = []

            for (let m = 1; m<tr.length; m++) {
                ranges.push(tr[m].innerHTML.trim())
            }

            result['ranges'] = ranges
            
            let tbody = [...children[2].children]
            leadtime = []
            values = []
            tbody.forEach(tr => {
                leadtimecell = tr.children[0]
                leadtime.push(leadtimecell.innerHTML.trim())

                let inputs = tr.children
                tempArr = []
                for (let j=2; j<inputs.length; j++) {
                    tempArr.push(inputs[j].children[0].value)
                }
                values.push(tempArr)

            })
            result.push(values)
            result.push(leadtime)

        }
        //console.log(result)

    }

</script>

{% endblock %}