{% extends 'layout.html' %}
{% block content %}

<div class="home">
    <div class="wrap-login spread3">
        <div class='loginH'>
            <div class='text-center'>
                <p>Rate Grid</p>
            </div>
        </div>
        <div class="d-flex mb-4">
            <div>
                <button type = 'button' class="btn btn-info" onclick="addRow()">Add Row</button>
            </div>
        </div>
        <form id = 'formadd' style = 'display:none;' class = 'mb-5 container' onsubmit="addRowSubmit(event)">
            <div class="input-group mb-5">
                <div class="input-group-prepend">
                    <span class="input-group-text">Date range</span>
                </div>
                <input type="text" placeholder="Start date" aria-label="First name" class="form-control start-date" id = 'startDateG' required>
                <input type="text" placeholder="End date" aria-label="Last name" class="form-control end-date" id = 'endDateG' required>
            </div>
            <div class="input-group mb-5 row">
                <div class = 'col-sm-12 mt-3'>
                    <div class = 'text-center'>
                <select class='weekselect' multiple="multiple" id = 'dowG' required>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </select>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <div class="text-center">
                        <button type="submit" id='subm1' class="btnLogin"
                        >Add Row</button>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <form action="" method="POST" onsubmit="aj(event)" id = 'formE'>
            <div id='msg2'></div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id='tab2'>
                    <caption>Rate Grid</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>DOW</th>
                            <th>Room Type</th>
                            <th>Single Occupancy Rate</th>
                            <th>Double Occupancy Rate</th>
                            <th>Triple Occupancy Rate</th>
                            <th>Quad Occupancy Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <div class="text-center">
                        <button type="submit" id='subm' class="btnLogin">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/static/js/jquery.js"></script>
<script>
    
    function addRow() {
        
        const x = document.getElementById('formadd')
        if (x.style.display == 'none') {
            x.style.display = 'block'
        } else {
            x.style.display = 'none'
        }
     }

     $(document).ready(function () {
            var $startDate = $('.start-date');
            var $endDate = $('.end-date');

            var d = new Date();
            var strDate = d.getDate() + "/" + (d.getMonth() + 1) + "/" + d.getFullYear()

            $startDate.datepicker({
                autoHide: true,
                format: "dd/mm/yyyy",
                startDate: strDate,
            });
            $endDate.datepicker({
                autoHide: true,
                startDate: $startDate.datepicker('getDate'),
                format: "dd/mm/yyyy",
            });

            $startDate.on('change', function () {
                $endDate.datepicker('setStartDate', $startDate.datepicker('getDate'));
            });

              $('.weekselect').multiselect({
                  nonSelectedText: 'Select Day of the week',
                  buttonWidth: '700px',
                   numberDisplayed: 0,
              })
    });

    function addRowSubmit(e) {
        e.preventDefault()
        const sdg = document.getElementById('startDateG')
        const edg = document.getElementById('endDateG')
        const dowG = document.getElementById('dowG')
        

        const addi = `
                    <tr>
                        <td>
                            ${sdg.value}
                        </td>
                        <td>
                            ${edg.value}
                        </td>
                        <td>
                            ${$(dowG).val()}
                        </td>
                        <td>
                            1 Bed
                        </td>
                        <td>
                            <input type="number" value = "{{ data[0]['single'] }}" class='single'>
                            </td>
                            <td>
                                <input type="number" value = "{{ data[0]['doublev'] }}" class='double'>
                            </td>
                            <td>
                                <input type="number" value = "{{ data[0]['triple'] }}" class='triple'>
                            </td>
                            <td>
                                <input type="number" value = "{{ data[0]['quad'] }}" class='quad'>
                            </td>
                    </tr>
                    `
            const addi2 = `
                    <tr>
                        <td>
                            ${sdg.value}
                        </td>
                        <td>
                            ${edg.value}
                        </td>
                        <td>
                            ${$(dowG).val()}
                        </td>
                        <td>
                            2 Bed
                        </td>
                        <td>
                            <input type="number" value = "{{ data[1]['single'] }}" class='single'>
                            </td>
                            <td>
                                <input type="number" value = "{{ data[1]['doublev'] }}" class='double'>
                            </td>
                            <td>
                                <input type="number" value = "{{ data[1]['triple'] }}" class='triple'>
                            </td>
                            <td>
                                <input type="number" value = "{{ data[1]['quad'] }}" class='quad'>
                            </td>
                    </tr>
                    `
                
            const tab = document.getElementById('tab2')
            tab.innerHTML += addi
            tab.innerHTML += addi2


        // Update form to only hold changed values

        const days = $(dowG).val()

        if (days.length == 7) {
            sdg.value = ''
            edg.value = ''

            $(dowG).val('').multiselect('refresh')
        } else {

            sdg.disabled = true
            edg.disabled = true

             $('#dowG option:selected').each(function (index, option) {
                $(option).remove();
            });

            $('#dowG').val('').multiselect('rebuild')

            if ($(dowG).has('option').length == 0) {
                sdg.disabled = false
                edg.disabled = false
                var week = [
                    { label: 'Monday', title: 'Monday', value: 'Monday' },
                    { label: 'Tuesday', title: 'Tuesday', value: 'Tuesday' },
                    { label: 'Wednesday', title: 'Wednesday', value: 'Wednesday' },
                    { label: 'Thursday', title: 'Thursday', value: 'Thursday' },
                    { label: 'Friday', title: 'Friday', value: 'Friday' },
                    { label: 'Saturday', title: 'Saturday', value: 'Saturday' },
                    { label: 'Sunday', title: 'Sunday', value: 'Sunday'}
                ];

                
                $(dowG).multiselect('dataprovider', week)
                
                $('#dowG').val('').multiselect('rebuild')
            }
        }

    }

   

</script>

{% endblock %}