{% extends 'layout.html' %}
{% block content %}
<div class="container-login">
    <div class="wrap-login">
        <div class='loginH'>
            <div class='text-center'>
                <p>
                    Register as 
                   <br><br> 
                    Tour Operator</p><i class="fas fa-user-plus"></i>
            </div>
        </div>
        <form action="{{ url_for('registerT') }}" method="POST">
            <small id='smallID' class='form-text text-muted mb-5'>
                Fields marked with * are mandatory.
            </small>
            <div class="formhelp mb-5">
                <i class="fas fa-asterisk fa-lg"></i>
                <input type="text" name="agencyName" class="form-control text-center" placeholder="Agency Name&#42"
                    onfocus="this.placeholder = ''" onfocusout="this.placeholder = 'Agency Name&#42'" minlength="4"
                     required maxlength="25">
            </div>
            <div class="formhelp mb-5">
                <i class="far fa-flag"></i>
                <input type="text" name="country" class="form-control text-center" placeholder="Country&#42"
                    onfocus="this.placeholder = ''" onfocusout="this.placeholder = 'Country&#42'" minlength="4" required maxlength="25">
            </div>
            <div class="formhelp mb-5">
                <i class="fas fa-user-tie fa-lg"></i>
                <input type="text" name="fullName" class="form-control text-center" required
                    placeholder="Contact Full Name&#42;" onfocus="this.placeholder = ''"
                    onfocusout="this.placeholder = 'Contact Full Name&#42;'" minlength="4" maxlength="25">
            </div>
            <div class="formhelp mb-5">
                <i class="fas fa-envelope fa-lg"></i>
                <input type="email" name="email" class="form-control text-center" required
                    placeholder="Email Address&#42;" onfocus="this.placeholder = ''"
                    onfocusout="this.placeholder = 'Email Address&#42;'">
                <small id='smallID' class='form-text text-muted'>
                    We'll never share your email with anyone else.
                </small>
            </div>
            <div class="formhelp mb-5">
                <i class="fas fa-key fa-lg"></i>
                <input type="password" name="password" class="form-control text-center" required id='password'
                    placeholder="Password&#42;" onfocus="this.placeholder = ''"
                    onfocusout="this.placeholder = 'Password&#42;'" minlength="4" onkeyup='checkp();' maxlength="25">
            </div>
            <div class="formhelp mb-5">
                <i class="fas fa-key fa-lg"></i>
                <input type="password"  class="form-control text-center" required id='cpassword'
                    placeholder="Confirm Password&#42;" onfocus="this.placeholder = ''"
                    onfocusout="this.placeholder = 'Confirm Password&#42;'" minlength="4" onkeyup='checkp();'
                    maxlength="25">
                <span id='msg' class='form-text text-muted'>
            </div>
            <div class="formhelp mb-5">
                <i class="fas fa-mobile fa-lg"></i>
                <input type="text" name="phone" class="form-control text-center"
                    placeholder="Enter Phone Number" onfocus="this.placeholder = ''"
                    onfocusout="this.placeholder = 'Enter Phone Number'">
            </div>
            
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <div class="text-center">
                        <button type="submit" id='subm' class="btnLogin">Sign Up</button>
                    </div>
                </div>
            </div>  
        </form>
        <hr>
        <div class='reg'>
            <p>
                Already have an account?
            </p>
        </div>
        <form action='{{  url_for("index") }}'>
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <div class="text-center">
                        <button type="submit" id='subm' class="btnLogin">Sign In</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}