{% extends 'layout.html' %}
{% block content %}
    <div class = 'container-login'>
        <div class = 'wrap-login'>
            <div class = 'loginH'>
                <div class = 'text-center'>
                    <p>
                        Add Hotel
                    </p>
                </div>
            </div>
            <form method = 'POST' action = '{{ url_for("addHotelSubmit") }}'>
                <small id='smallID' class='form-text text-muted mb-5'>
                    Fields marked with * are mandatory.
                </small>
                <div class = 'formhelp mb-5'>
                    <span style="width: 200px; display: inline-block;">
                        Hotel Name* :
                    </span>
                    <input type = 'text' placeholder="Hotel Name" class = 'form-control ml-5' style = 'max-width: 50%; display: inline-block;' required name = 'hotelName'>
                </div>
                <div class = 'formhelp mb-5'>
                    <span  style="width: 200px; display: inline-block;">
                        Primary Email ID* : 
                    </span>
                    <input type='email' placeholder="Hotel Primary Email" class='form-control ml-5' style='max-width: 50%; display: inline-block;'
                        required name = 'email'>
                </div>
                <div class="row" style="margin-top: 100px;">
                    <div class="col-sm-12 mt-3">
                        <div class="text-center">
                            <button type="submit" id='subm' class="btn action">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}