{% extends 'layout.html' %}
{% block content %}
<div class="container-login">
    <div class="wrap-login">
        <div class='loginH im'>
            <div class='text-center'>
                <p>Add Hotel Users</p><i class="fas fa-user-plus"></i>
            </div>
        </div>
        <a href = '#form7' class = 'btn action mb-5'>
            Invite via Email?
        </a>
        <form action="{{ url_for('registerhotelusers') }}" method="POST">
            <div class="formhelp mb-5">
                <small id='smallID' class='form-text text-muted mb-5'>
                    Fields marked with * are mandatory.
                </small>
                <i class="fas fa-user-tie fa-lg"></i>
                <input type="text" name="fullName" class="form-control text-center" required
                    placeholder="Enter Full Name&#42;" onfocus="this.placeholder = ''"
                    onfocusout="this.placeholder = 'Enter Full Name&#42;'" minlength="4" maxlength="35">
            </div>
            <div class="formhelp mb-5">
                <i class="fas fa-envelope fa-lg"></i>
                <input type="email" name="email" class="form-control text-center" required
                    placeholder="Email Address&#42;" onfocus="this.placeholder = ''"
                    onfocusout="this.placeholder = 'Email Address&#42;'">
            </div>
            <div class="formhelp mb-5">
                <i class="fas fa-user-tag fa-lg"></i>
                <select class = 'form-control text-center'
                    name = 'userType' required
                >
                    <option selected disabled>
                        User Type
                    </option>
                    {% for value in subtypes %}
                        <option value = {{ value }}>
                            {{ value }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="formhelp mb-5">
                <i class="fas fa-key fa-lg"></i>
                <input type="password" name="password" class="form-control text-center" required id='password'
                    placeholder="Password&#42;" onfocus="this.placeholder = ''"
                    onfocusout="this.placeholder = 'Password&#42;'" minlength="4" onkeyup='checkp();' maxlength="35">
                    <meter max="4" id="password-strength-meter"></meter>
                    <p id="password-strength-text" class="text-center"></p>
            </div>
            <div class="formhelp mb-5">
                <i class="fas fa-key fa-lg"></i>
                <input type="password" name="confirmPassword" class="form-control text-center" required id='cpassword'
                    placeholder="Confirm Password&#42;" onfocus="this.placeholder = ''"
                    onfocusout="this.placeholder = 'Confirm Password&#42;'" minlength="4" onkeyup='checkp();'
                    maxlength="35">
                <span id='msg' class='form-text text-muted'>
            </div>
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <div class="text-center">
                        <button type="submit" id='subm' class="btn action">Sign Up</button>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <form action="{{ url_for('inviteemail') }}" method="POST" style = 'margin-top: 80px;' id = 'form7'>
            <div class='loginH'>
                <div class='text-center'>
                    <p>Invite via Email</p><i class="fas fa-envelope-open"></i>
                </div>
            </div>
            <div class="formhelp mb-5">
                <i class="fas fa-envelope fa-lg"></i>
                <input type="email" name="email" class="form-control text-center" required placeholder="Email Address&#42;"
                    onfocus="this.placeholder = ''" onfocusout="this.placeholder = 'Email Address&#42;'">
            </div>
            <div class="formhelp mb-5">
                <i class="fas fa-user-tag fa-lg"></i>
                <select class='form-control text-center' name='userType' required>
                    <option selected disabled>
                        User Type
                    </option>
                    {% for value in subtypes %}
                    <option value={{ value }}>
                        {{ value }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <div class="text-center">
                        <button type="submit" id='subm' class="btn action">Invite</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}