{% extends 'layout.html' %}
{% block content %}

<div class="container-login">
    <div class="wrap-login spread2">
        <div class='loginH'>
            <div class='text-center'>
                <p>Manage Users</p><i class="fas fa-user"></i>
            </div>
        </div>
        {% if data %}
            <div class="table-responsive">
                <table id = 'tableusers' class="table table-bordered table-hover">
                    <caption>List of users</caption>
                    <thead class="table-header">
                        <tr>
                            <th style="width: 10%;" scope="col">Name</th>
                            <th scope="col"> Email</th>
                            <th style="width: 10%;" scope="col">UserType</th>
                            <th scope = 'col'>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in data %}
                        <tr>
                            <td> {{ d['firstName'] }} </td>
                            <td>
                                 <a class = 'btn action' href = '/showprofile/{{d["email"]}}'>
                                    {{ d['email'] }}
                                </a>
                            </td>
                            <td> {{ d['userType'] }} </td>
                            <td>
                                <a class = 'btn action' href = "{{ url_for('editUser', email = d['email'] ) }}"
                                >Edit<i class="fas fa-edit"></i></a>
                                {% if d['active'] == 1 %}
                                <a class = 'btn action' href = "{{ url_for('deactivateUser', email = d['email'] ) }}"
                                >Deactivate<i class="fas fa-user-slash"></i></a>
                                {% else %}
                                <a class='btn action' href="{{ url_for('activateUser', email = d['email'] ) }}">Activate<i
                                        class="fas fa-user-slash"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}