{% extends 'layout.html' %}
{% block content %}

<div class="container-login">
    <div class="wrap-login spread3">
        <div class='loginH'>
            <div class='text-center'>
                <p>Manage Customer</p><i class="fas fa-user"></i>
            </div>
        </div>
        {% if data %}
        <div class="table-responsive">
            <table id='tableusers' class="table table-bordered table-hover">
                <caption>List of users</caption>
                <thead class="table-header">
                    <tr>
                        <th style="width: 10%;" scope="col">Name</th>
                        <th style = 'width:20%' scope="col"> Email</th>
                        <th style="width: 10%;" scope="col">UserType</th>
                        <th style="width: 10%;" scope='col'>User Sub Type</th>
                        <th scope='col'>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                    <tr>
                        <td> {{ d['firstName'] }} </td>
                        <td class='text-center'>
                            <a class='btn action' href='/showprofileAll/{{d["email"]}}'>
                                {{ d['email'] }}
                            </a>
                        </td>
                        <td> {{ d['userType'] }} </td>
                        <td> {{ d['userSubType'] }} </td>
                        <td>
                            <a class='btn action' href="{{ url_for('editUserAll', email = d['email'] ) }}">Edit<i
                                    class="fas fa-edit"></i></a>
                            {% if d['active'] == 1 %}
                            <a class='btn action'
                                href="{{ url_for('deactivateC', email = d['email'] ) }}">Deactivate<i
                                    class="fas fa-user-slash"></i></a>
                            {% else %}
                            <a class='btn action' href="{{ url_for('activateC', email = d['email'] ) }}">Activate<i
                                    class="fas fa-user-slash"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
        
{% endblock %}