{% extends 'layout.html' %}
{% block content %}

<div class="container-login">
    <div class="wrap-login  ">
        <div class='loginH'>
            <div class='text-center'>
                <p>My Profile</p>
                <i class="fas fa-edit"></i>
            </div>
        </div>
        {% if data %}
        <form action="{{ url_for('submitEditUserAll') }}" method="POST">
            <div class="formhelp mb-5">
                <span class='btn btn-primary'>Name : </span><br>
                <input type='text' class='form-control mt-3 text-center' value="{{ data['fullName'] }}"
                    name='name' required />
            </div>
            <div class="infog mb-5">
                <span class='btn btn-primary'>Email : </span><br>
                <input type='text' name = 'email' class='form-control mt-3 text-center' value="{{ data['email'] }}" readonly>
            </div>
            {% if data['phone'] %}
            <div class="formhelp mb-5">
                <span class='btn btn-primary'>Phone : </span><br>
                <input type='text' class='form-control mt-3 text-center' value="{{ data['phone'] }}" name='phone'
                    required />
            </div>
            {%endif%}
            {% if data['agencyName'] %}
            <div class="formhelp mb-5">
                <span class='btn btn-primary'>Agency Name : </span><br>
                <input type='text' class='form-control mt-3 text-center' value="{{ data['agencyName'] }}" name='agencyName' readonly />
            </div>
            {% endif %}
            {% if data['iataCode'] %}
            <div class="formhelp mb-5">
                <span class='btn btn-primary'>IATA Code : </span><br>
                <input type='text' class='form-control mt-3 text-center' value="{{ data['iataCode'] }}" name='iataCode' readonly />
            </div>
            {%endif%}
            {% if data['country'] %}
            <div class="formhelp mb-5">
                <span class='btn btn-primary'>Country : </span><br>
                <input type='text' class='form-control mt-3 text-center' value="{{ data['country'] }}" name='country' required
                 />
            </div>
            {% endif %}
            {% if data['userType'] %}
            <div class="formhelp mb-5">
                <span class='btn btn-primary'>UserType : </span><br>
                <input type='text' class='form-control mt-3 text-center' value="{{ data['userType'] }}" name='userType' readonly/>
            </div>
            {%endif%}
            
            <div class="formhelp mb-5">
                <span class='btn btn-primary'>Password : </span><br>
                <input type='password' id="password-field" class='form-control mt-3 text-center' value="{{ data['password'] }}" name='password' required />
                <button type = 'button' toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></button >
            </div>
            {% if data['organizationName'] %}
            <div class="formhelp mb-5">
                <span class='btn btn-primary'>Organization Name : </span><br>
                <input type='text' class='form-control mt-3 text-center' value="{{ data['organizationName'] }}" name='organizationName'
                    readonly />
            </div>
            {% endif %}
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <div class="text-center">
                        <button type="submit" id='subm' class="btn action">Edit <i class="fas fa-edit"></i></button>
                    </div>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</div>
<script src="/static/js/jquery.js"></script>
<script>
    $(".toggle-password").click(function () {

        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>
{% endblock %}