{% extends 'layout.html' %}
{% block content %}

<div class="container-login">
    <div class="wrap-login">
        <div class='loginH'>
            <div class='text-center'>
                <p>Profile for <span style='text-decoration: underline;'>{{ data['firstName'] }}</span>
                </p><i class="fas fa-user"></i>
            </div>
        </div>
        {% if data %}
        <form action="{{ url_for('editUserAll', email = data['email'] ) }}" method="POST">
            <div class="infog mb-5">
                <span class='btn btn-primary'>Full Name : </span><br>
                <div class='mt-3 text-center'>{{ data['firstName'] }}</div>
            </div>
            <div class="infog mb-5">
                <span class='btn btn-primary'>Email : </span><br>
                <div class='mt-3 text-center'>{{ data['email'] }}</div>
            </div>
            <div class="infog mb-5">
                <span class='btn btn-primary'>UserType : </span><br>
                <div class='mt-3 text-center'>{{ data['userType'] }}</div>
            </div>
            <div class="infog mb-5">
                <span class='btn btn-primary'>Email Verified? : </span><br>
                <div class='mt-3 text-center'>{{ data['email_verified'] }}</div>
            </div>
            <div class="infog mb-5">
                <span class='btn btn-primary'>User Active? : </span><br>
                <div class='mt-3 text-center'>{{ data['active'] }}</div>
            </div>
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <div class="text-center">
                        <button type="submit" id='subm' class="btn action">Edit</button>
                    </div>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}