{% extends 'layout.html' %}
{% block content %}

<div class="container-login">
    <div class="container spread3">
        <div class='loginH'>
            <div class='text-center'>
                <p>Rate Grid</p>
            </div>
        </div>
        <form id='formadd' class='inline mb-5' onsubmit="addRowSubmit(event)">
            <div class='mg'>
                <div class="input-group-prepend col-sm">
                    <span class="input-group-text  mb-2">Date range</span>
                    <input type="text" placeholder="Start date" aria-label="First name" class="form-control start-date  mb-2 "
                        id='startDateG' required>
                    <input type="text" placeholder="End date" aria-label="Last name" class="form-control end-date  mb-2 mr-sm-2"
                        id='endDateG' required>
                </div>
                <div class='col-sm mb-2'>
                    <select class='weekselect' multiple="multiple" id='dowG' required>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                    </select>
                </div>
                <div class="col-sm">
                    <button type="submit" id='subm1' class="btn action mb-2">Add Row</button>
                </div>
            </div>
        </form>
        <hr>
        <form method="POST" onsubmit="aj(event)" id='formE'>
            <div id='msg2'></div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id='tab2'>
                    <caption>Rate Grid</caption>
                    <thead class="table-header">
                        <tr>
                            <th style = 'width: 10%;' class = 'text-center'>Start Date</th>
                            <th style = 'width: 10%;' class = 'text-center'>End Date</th>
                            <th style = 'width: 15%;' class = 'text-center'>DOW</th>
                            <th style = 'width: 5%;' class = 'text-center'>Room Type</th>
                            <th style = 'width: 5%;' class = 'text-center'>Single Occ</th>
                            <th style = 'width: 5%;' class = 'text-center'>Double Occ</th>
                            <th style = 'width: 5%;' class = 'text-center'>Triple Occ</th>
                            <th style = 'width: 5%;' class = 'text-center'>Quad Occ</th>
                            <th style = 'width: 15%;' class = 'text-center'>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if data1 %}
                        {% for d in data1 %}
                            <tr>
                                <td>
                                    {{ d['startDate'] }}
                                </td>
                                <td>
                                    {{ d['endDate']}}
                                </td>
                                <td>
                                   {{ d['dow'] }}                             
                                </td>
                                <td>
                                    {{ d['type'] }}  Bed
                                </td>
                                <td>
                                    <input type="number" class='num {{d["sor"]}}' value = "{{ d['sor'] }}" readonly min = '10'>
                                </td>
                                <td>
                                    <input type="number" class='num  {{d["dor"]}}' value="{{ d['dor'] }}" readonly min = '10'>
                                </td>
                                <td>
                                    <input type="number" class='num  {{d["tor"]}}' value="{{ d['tor'] }}" readonly min = '10'>
                                </td>
                                <td>
                                    <input type="number" class='num  {{d["qor"]}}' value="{{ d['qor'] }}" readonly min = '10'>
                                </td>
                                <td>
                                    <button type='button' class='btn action res2'>Delete</button>
                                    <button type='button' class='btn action res3'>Edit</button>
                                </td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <div class="text-center">
                        <button type="submit" id='subm' class="btn action">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/static/js/jquery.js"></script>
<script>

    var table;

    $(document).ready(function () {
        var $startDate = $('.start-date');
        var $endDate = $('.end-date');

        $startDate.datepicker({
            autoHide: true,
            dateFormat: "d M, y",
            minDate: 0,
            changeMonth: true,
            changeYear: true,
        });
        $endDate.datepicker({
            autoHide: true,
            dateFormat: "d M, y",
            minDate: 0,
            changeMonth: true,
            changeYear: true
        });

        $startDate.on('change', function () {
            $endDate.datepicker('destroy')
            $endDate.datepicker({
                autoHide: true,
                dateFormat: "d M, y",
                minDate: $startDate.datepicker('getDate'),
                changeMonth: true,
                changeYear: true
            });
        });

        $('.weekselect').multiselect({
            nonSelectedText: 'Select Day of the week',
            buttonWidth: '700px',
            numberDisplayed: 0,
        })

        table = $('#tab2').DataTable({
            responsive: true,
             "scrollX": true,
        });

        bindButtons()
        bindButtons2()
    });

    function bindButtons2() {
            let data = table.rows().data()
            for (let i = 0; i < data.length; i++) {
                let buttons = table.cells(i, 8).nodes().to$().find('.res2')
                for (let j = 0; j < buttons.length; j++) {
                    buttons[j].addEventListener('click', () => {
                        table
                            .row(i)
                            .remove()
                            .draw();
                    })
                }
            }

            for (let i = 0; i < data.length; i++) {
            let input1 = table.cells(i, 4).nodes().to$().find('input').val()
            let input2 = table.cells(i, 5).nodes().to$().find('input').val()
            let input3 = table.cells(i, 6).nodes().to$().find('input').val()
            let input4 = table.cells(i, 7).nodes().to$().find('input').val()

            if (input1 == '') {
                table.cells(i, 4).nodes().to$().find('input')[0].disabled = true
            }
            if (input2 == '') {
                table.cells(i, 5).nodes().to$().find('input')[0].disabled = true
            }
            if (input3 == '') {
                table.cells(i, 6).nodes().to$().find('input')[0].disabled = true
            }
            if (input4 == '') {
                table.cells(i, 7).nodes().to$().find('input')[0].disabled = true
            }

            }

            for (let i=0; i<data.length; i++) {
                let buttons = table.cells(i, 8).nodes().to$().find('.res3')
                for (let j = 0; j < buttons.length; j++) {
                    buttons[j].addEventListener('click', () => {
                        let tr = buttons[j].parentElement.parentElement
                        let trn = [...tr.getElementsByClassName('num')]
                        trn.forEach((n, index) => {
                            if (!n.disabled) {
                                n.removeAttribute('readonly')
                            }
                        })
                    })
                }
                table.draw()

            }

            const buttons2 = [...document.getElementsByClassName('res3')];
            buttons2.forEach(button => {
                button.addEventListener('click', () => {
                    let tr = button.parentElement.parentElement
                    let trn = [...tr.getElementsByClassName('num')]
                    trn.forEach(n => {
                        if (!n.disabled) {
                            n.removeAttribute('readonly')
                        }
                    })
                })
            })

        }

    function bindButtons() {
        let data = table.rows().data()
        for (let i=0; i<data.length; i++) {
            let buttons = table.cells(i, 8).nodes().to$().find('.res')
            for (let j=0; j<buttons.length; j++) {
                buttons[j].addEventListener('click', () => {
                    table
                        .row(i)
                        .remove()
                        .draw();
                })
            }
        }

        for (let i=0; i<data.length; i++) {
            let input1 = table.cells(i, 4).nodes().to$().find('input')
            let input2 = table.cells(i, 5).nodes().to$().find('input')
            let input3 = table.cells(i, 6).nodes().to$().find('input')
            let input4 = table.cells(i, 7).nodes().to$().find('input')

            if (input1[0].classList.contains('0')) {
                input1[0].disabled = true
                input1[0].value = ''
            }
            if (input2[0].classList.contains('0')) {
                input2[0].disabled = true
                input2[0].value = ''
            }
            if (input3[0].classList.contains('0')) {
                input3[0].disabled = true
                input3[0].value = ''
            }
            if (input4[0].classList.contains('0')) {
                input4[0].disabled = true
                input4[0].value = ''
            }
            
        }

        
    }

    function strDate(x) {
        var dateParts = x.split("/");

        var dateObject = new Date(+dateParts[2], dateParts[1] - 1, +dateParts[0]);
        
        return dateObject
    }

    function strDate2(x) {
        var dateParts = x.split("-")

        var dateObject = new Date(+dateParts[0], +dateParts[1] -1 , +dateParts[2])
        return dateObject
    }

    function dateRangeOverlaps(a_start, a_end, b_start, b_end) {
        if (a_start <= b_start && b_start <= a_end) return true;
        if (a_start <= b_end && b_end <= a_end) return true;
        if (b_start <= a_start && a_end < b_end) return true;
        return false;
    }

    function convertDate(inputFormat) {
        const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
            "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
        ];

        var d = new Date(inputFormat)
        var date = d.getDate()
        var month = monthNames[d.getMonth()]
        var year = d.getFullYear() - 2000

        return (date + " " + month + ", " + year)

    }

    function addRowSubmit(e) {
        e.preventDefault()
        const sdg = document.getElementById('startDateG')
        const edg = document.getElementById('endDateG')
        const dowG = document.getElementById('dowG')

        const se = $("#startDateG").datepicker('getDate')
        const ee = $("#endDateG").datepicker('getDate')

        
        
        let pas = true
        const dde = JSON.parse('{{ storedDates|tojson }}')
        dde.forEach(date => {
            let st = new Date(date['startDate'])
            let en = new Date(date['endDate'])
            st.setHours(0, 0, 0, 0)
            en.setHours(0, 0, 0, 0)
            

            if (dateRangeOverlaps(st, en, se, ee)) {
                let msg2 = document.getElementById('msg2')
                msg2.style.setProperty('color', 'red', 'important');
                msg2.innerHTML = `The date range entered overlaps with the already entered date range with start date :- ${st.toDateString()} and end date :- ${en.toDateString()}`
                $(msg2).show()
                pas = false
                const tab2 = $('#tab2').DataTable()
                tab2.search(convertDate(st)).draw()
                // Where overlap show filter
                
            }
        })

        if (!pas)
            return false
        else 
            $('#msg2').hide()
            const tab22 = $('#tab2').DataTable()
            tab22.search('').draw()

        

        


        // convert strings to date and them compare
        // then filter and show as error

        const tr1 = document.createElement('tr')
        tr1.innerHTML = `
                        <td  style = 'vertical-align: middle; text-align:center'>
                            ${sdg.value}
                        </td>
                        <td  style = 'vertical-align: middle; text-align:center'>
                            ${edg.value}
                        </td>
                        <td  style = 'vertical-align: middle; text-align:center'>
                            ${$(dowG).val()}
                        </td>
                        <td>
                            1 Bed
                        </td>
                        <td>
                            <input type="number" class = 'num {{ data[0]['single'] }}' required min = '10'>
                            </td>
                            <td>
                                <input type="number" class = 'num {{ data[0]['doublev'] }}' required min = '10'>
                            </td>
                            <td>
                                <input type="number" class = 'num {{ data[0]['triple'] }}' required min = '10'>
                            </td>
                            <td>
                                <input type="number" class = 'num {{ data[0]['quad'] }}' required min = '10'>
                            </td>
                        <td  style="vertical-align : middle;text-align:center;">
                            <button type='button' class='btn action res'>Delete</button>
                        </td>
                    `

        const tr2 = document.createElement('tr')
        tr2.innerHTML = `
                    <tr>
                        <td  style = 'vertical-align: middle; text-align:center'>
                            ${sdg.value}
                        </td>
                        <td  style = 'vertical-align: middle; text-align:center'>
                            ${edg.value}
                        </td>
                        <td  style = 'vertical-align: middle; text-align:center'>
                            ${$(dowG).val()}
                        </td>
                        <td>
                            2 Bed
                        </td>
                        <td>
                            <input type="number" class = 'num {{ data[1]['single'] }}' required min = '10'>
                            </td>
                            <td>
                                <input type="number" class = 'num {{ data[1]['doublev'] }}' required min = '10'>
                            </td>
                            <td>
                                <input type="number" class = 'num {{ data[1]['triple'] }}' required min = '10'>
                            </td>
                            <td>
                                <input type="number" class = 'num {{ data[1]['quad'] }}' required min = '10'>
                            </td>
                        <td  style="vertical-align : middle;text-align:center;">
                            <button type='button' class='btn action res'>Delete</button>
                        </td>
                    </tr>
                    `
        
        const tab = $('#tab2').DataTable()
        tab.row.add(tr1).draw()
        tab.row.add(tr2).draw()
        bindButtons()

        let msg2 = document.getElementById('msg2')
        $(msg2).hide()


        // Update form to only hold changed values

        const days = $(dowG).val()

        if (days.length == 7) {
            sdg.value = ''
            edg.value = ''

            $(dowG).val('').multiselect('refresh')
        } else {

            sdg.disabled = true
            edg.disabled = true

            $('#dowG option:selected').each(function (index, option) {
                $(option).remove();
            });

            $('#dowG').val('').multiselect('rebuild')

            if ($(dowG).has('option').length == 0) {
                sdg.disabled = false
                edg.disabled = false
                let msg2 = document.getElementById('msg2')
                $(msg2).hide()
                var week = [
                    { label: 'Monday', title: 'Monday', value: 'Monday' },
                    { label: 'Tuesday', title: 'Tuesday', value: 'Tuesday' },
                    { label: 'Wednesday', title: 'Wednesday', value: 'Wednesday' },
                    { label: 'Thursday', title: 'Thursday', value: 'Thursday' },
                    { label: 'Friday', title: 'Friday', value: 'Friday' },
                    { label: 'Saturday', title: 'Saturday', value: 'Saturday' },
                    { label: 'Sunday', title: 'Sunday', value: 'Sunday' }
                ];


                $(dowG).multiselect('dataprovider', week)

                $('#dowG').val('').multiselect('rebuild')
            }
        }

    }

      function parseDate(x) {
            let y = x.split(' ')
            let date = y[0]
            let year = "20" + y[2]

            let month = 0
            if (y[1] == 'Jan,') {
                month = "01"
            }
            if (y[1] == 'Feb,') {
                month = "02"
            }
            if (y[1] == 'Mar,') {
                month = "03"
            }
            if (y[1] == 'Apr,') {
                month = "04"
            }
            if (y[1] == 'May,') {
                month = "05"
            }
            if (y[1] == 'Jun,') {
                month = "06"
            }
            if (y[1] == 'Jul,') {
                month = "07"
            }
            if (y[1] == 'Aug,') {
                month = "08"
            }
            if (y[1] == 'Sep,') {
                month = "09"
            }
            if (y[1] == 'Oct,') {
                month = "10"
            }
            if (y[1] == 'Nov,') {
                month = "11"
            }
            if (y[1] == 'Dec,') {
                month = "12"
            }

            const result = year + "/" + month + "/" + date
            return result
        }


    function parseDay(x, days) {
        if (days.includes(x))
            return 1
        else
            return 0
    }

    function aj(e) {    
        e.preventDefault()
        const len = $('#tab2 tbody tr').length;
        const dowG = document.getElementById('dowG')
        const dl = $('#dowG option').length

        if (len == 1) {
            let msg2 = document.getElementById('msg2')
            msg2.style.setProperty('color', 'red', 'important');
            msg2.innerHTML = 'Kindly add atleast one row'
            $(msg2).show()
            return false
        } else if (dl != 7 && dl != 0) {
            let msg2 = document.getElementById('msg2')
            msg2.style.setProperty('color', 'red', 'important');
            msg2.innerHTML = 'Kindly add rate for all the days'
            $(msg2).show()
            return false
        } else {

            let data = table.rows().data()

            let result = []
            for (let i=0; i<data.length; i++) {
                let resArr = []
                resArr[0] = parseDate(data[i][0]);
                resArr[1] = parseDate(data[i][1]);
                const days = data[i][2]
                //datatable
                resArr[2] = parseDay("Monday", days);
                resArr[3] = parseDay("Tuesday", days)
                resArr[4] = parseDay("Wednesday", days)
                resArr[5] = parseDay("Thursday", days)
                resArr[6] = parseDay("Friday", days)
                resArr[7] = parseDay("Saturday", days)
                resArr[8] = parseDay("Sunday", days)
                resArr[9] = data[i][3]
                resArr[10] = table.cells(i, 4).nodes().to$().find('input').val();
                resArr[11] = table.cells(i, 5).nodes().to$().find('input').val();
                resArr[12] = table.cells(i, 6).nodes().to$().find('input').val();
                resArr[13] = table.cells(i, 7).nodes().to$().find('input').val();

                result.push(resArr)
            }

            result.forEach(row => {
                console.log(row)
            })
            
        

            console.log(JSON.stringify(result))
            
            fetch('/strategyRateSubmit', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(result)

            })
                .then(res => {
                    window.location.href = '/strategyRate'
                })
                .catch(err => {
                    console.log(err)
                })

        }
    }



</script>

{% endblock %}