{% extends 'layout.html' %}
{% block content %}

<div class="home">
    <div class="wrap-login spread3">
        <div class='loginH'>
            <div class='text-center'>
                <p>Rate Grid</p>
            </div>
        </div>
        <form id = 'formadd' class = 'inline mb-5' onsubmit="addRowSubmit(event)">
                <div class = 'mg'>
                    <div class="input-group-prepend col-sm">
                        <span class="input-group-text  mb-2">Date range</span>
                        <input type="text" placeholder="Start date" aria-label="First name" class="form-control start-date  mb-2 " id='startDateG'
                            required>
                        <input type="text" placeholder="End date" aria-label="Last name" class="form-control end-date  mb-2 mr-sm-2" id='endDateG' required>
                    </div>
                    <div class = 'col-sm mb-2'>
                        <select class='weekselect' multiple="multiple" id = 'dowG' required>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday">Sunday</option>
                        </select>
                    </div>
                    <div class="col-sm">
                        <button type="submit" id='subm1' class="btn btn-info mb-2"
                        >Add Row</button>
                    </div>
                </div>
        </form>
        <hr>
        <form action="" method="POST" onsubmit="aj(event)" id = 'formE'>
            <div id='msg2'></div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id='tab2'>
                    <caption>Rate Grid</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>DOW</th>
                            <th>Room Type</th>
                            <th>SOR</th>
                            <th>DOR</th>
                            <th>TOR</th>
                            <th>QOR</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <div class="text-center">
                        <button type="submit" id='subm' class="btnLogin">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/static/js/jquery.js"></script>
<script>
    

     $(document).ready(function () {
            var $startDate = $('.start-date');
            var $endDate = $('.end-date');

            var d = new Date();
            var strDate = d.getDate() + "/" + (d.getMonth() + 1) + "/" + d.getFullYear()

            $startDate.datepicker({
                autoHide: true,
                format: "dd/mm/yyyy",
                startDate: strDate,
            });
            $endDate.datepicker({
                autoHide: true,
                startDate: $startDate.datepicker('getDate'),
                format: "dd/mm/yyyy",
            });

            $startDate.on('change', function () {
                $endDate.datepicker('setStartDate', $startDate.datepicker('getDate'));
            });

              $('.weekselect').multiselect({
                  nonSelectedText: 'Select Day of the week',
                  buttonWidth: '700px',
                   numberDisplayed: 0,
              })
    });

    function bindButtons() {
        const buttons = [...document.getElementsByClassName('res')];
        buttons.forEach(button => {
            button.addEventListener('click', () => {
                button.parentElement.parentElement.nextElementSibling.remove()
                button.parentElement.parentElement.remove()
            })
        })

        const forme = document.getElementById('formE')
        const checkboxes = [...forme.getElementsByTagName('input')]

        checkboxes.forEach(checkbox => {
            if (checkbox.type == 'number' && checkbox.classList.contains('0')) {
                checkbox.disabled = true
                checkbox.value = ''
            }
        })
    }

    function addRowSubmit(e) {
        e.preventDefault()
        const sdg = document.getElementById('startDateG')
        const edg = document.getElementById('endDateG')
        const dowG = document.getElementById('dowG')
        
        const tr1 = document.createElement('tr')
        tr1.innerHTML = `
                        <td rowspan = '2' style = 'vertical-align: middle; text-align:center'>
                            ${sdg.value}
                        </td>
                        <td rowspan = '2' style = 'vertical-align: middle; text-align:center'>
                            ${edg.value}
                        </td>
                        <td rowspan = '2' style = 'vertical-align: middle; text-align:center'>
                            ${$(dowG).val()}
                        </td>
                        <td>
                            1 Bed
                        </td>
                        <td>
                            <input type="number" class = 'num {{ data[0]['single'] }}' required min = '10'>
                            </td>
                            <td>
                                <input type="number" class = 'num {{ data[0]['doublev'] }}' required  min = '10'>
                            </td>
                            <td>
                                <input type="number" class = 'num {{ data[0]['triple'] }}' required  min = '10'>
                            </td>
                            <td>
                                <input type="number" class = 'num {{ data[0]['quad'] }}' required  min = '10'>
                            </td>
                        <td rowspan="2" style="vertical-align : middle;text-align:center;">
                            <button type='button' class='btn btn-warning res'>Delete</button>
                        </td>
                    `
            
            const tr2 = document.createElement('tr')
            tr2.innerHTML = `
                    <tr>
                        <td>
                            2 Bed
                        </td>
                        <td>
                            <input type="number" class = 'num {{ data[1]['single'] }}' required  min = '10'>
                            </td>
                            <td>
                                <input type="number" class = 'num {{ data[1]['doublev'] }}' required  min = '10'>
                            </td>
                            <td>
                                <input type="number" class = 'num {{ data[1]['triple'] }}' required  min = '10'>
                            </td>
                            <td>
                                <input type="number" class = 'num {{ data[1]['quad'] }}' required  min = '10'>
                            </td>
                    </tr>
                    `

                
            const tab = document.getElementById('tab2')
            const tbody = document.getElementById('tab2').tBodies[0]
            tbody.appendChild(tr1)
            tbody.appendChild(tr2)
            bindButtons()

             let msg2 = document.getElementById('msg2')
             $(msg2).hide()


        // Update form to only hold changed values

        const days = $(dowG).val()

        if (days.length == 7) {
            sdg.value = ''
            edg.value = ''

            $(dowG).val('').multiselect('refresh')
        } else {

            sdg.disabled = true
            edg.disabled = true



             $('#dowG option:selected').each(function (index, option) {
                $(option).remove();
            });

            $('#dowG').val('').multiselect('rebuild')

            if ($(dowG).has('option').length == 0) {
                sdg.disabled = false
                edg.disabled = false
                let msg2 = document.getElementById('msg2')
                $(msg2).hide()
                var week = [
                    { label: 'Monday', title: 'Monday', value: 'Monday' },
                    { label: 'Tuesday', title: 'Tuesday', value: 'Tuesday' },
                    { label: 'Wednesday', title: 'Wednesday', value: 'Wednesday' },
                    { label: 'Thursday', title: 'Thursday', value: 'Thursday' },
                    { label: 'Friday', title: 'Friday', value: 'Friday' },
                    { label: 'Saturday', title: 'Saturday', value: 'Saturday' },
                    { label: 'Sunday', title: 'Sunday', value: 'Sunday'}
                ];

                
                $(dowG).multiselect('dataprovider', week)
                
                $('#dowG').val('').multiselect('rebuild')
            }
        }

    }

    function parseDate(x) {
        return x.split("/").reverse().join("/");
    }

    function parseDay(x, days) {
        if (days.includes(x))
            return 1
        else
            return 0
    }

    function aj(e) {
        e.preventDefault()
        const len = $('#tab2 tbody tr').length;
        const dowG = document.getElementById('dowG')
        const dl = $('#dowG option').length

        if (len == 0) {
            let msg2 = document.getElementById('msg2')
            msg2.style.setProperty('color', 'red', 'important');
            msg2.innerHTML = 'Kindly add atleast one row'
            $(msg2).show()
            return false
        } else if(dl != 7 && dl != 0) {
            let msg2 = document.getElementById('msg2')
            msg2.style.setProperty('color', 'red', 'important');
            msg2.innerHTML = 'Kindly add rate for all the days'
            $(msg2).show()
            return false
        }
         else {
            let oTable = document.getElementById('tab2');
            let data = [...oTable.rows].map(t => [...t.children].map(u => u.innerText))

            const single = document.getElementsByClassName('num')

            result = []
            for (let i=1; i<data.length; i++) {
                const resArr = []
                if (i % 2 == 0) {
                    resArr[0] = parseDate(data[i-1][0])
                    resArr[1] = parseDate(data[i-1][1])
                    const days  = data[i-1][2]
                    resArr[2] = parseDay("Monday", days)
                    resArr[3] = parseDay("Tuesday", days)
                    resArr[4] = parseDay("Wednesday", days)
                    resArr[5] = parseDay("Thursday", days)
                    resArr[6] = parseDay("Friday", days)
                    resArr[7] = parseDay("Saturday", days)
                    resArr[8] = parseDay("Sunday", days)
                    resArr[9] = data[i][0]
                    resArr[10] = single[4*(i-1)].value
                    resArr[11] = single[4*(i-1)+1].value
                    resArr[12] = single[4*(i-1)+2].value
                    resArr[13] = single[4*(i-1)+3].value
                } else {
                    resArr[0] = parseDate(data[i][0])
                    resArr[1] = parseDate(data[i][1])
                    const days  = data[i][2]
                    resArr[2] = parseDay("Monday", days)
                    resArr[3] = parseDay("Tuesday", days)
                    resArr[4] = parseDay("Wednesday", days)
                    resArr[5] = parseDay("Thursday", days)
                    resArr[6] = parseDay("Friday", days)
                    resArr[7] = parseDay("Saturday", days)
                    resArr[8] = parseDay("Sunday", days)
                    resArr[9] = data[i][3]
                    resArr[10] = single[4*(i-1)].value
                    resArr[11] = single[4*(i-1) + 1].value
                    resArr[12] = single[4*(i-1)+2].value
                    resArr[13] = single[4*(i-1)+3].value
                }


                result.push(resArr)
            }

            console.log(JSON.stringify(result))

            fetch('/strategyRateSubmit', {
                method: 'POST',
                headers: {
                     'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(result)

            })
                .then(res => {
                    window.location.href = '/strategyRate'
                })
                .catch( err => {
                    console.log(err)
                })

        }   
    }

   

</script>

{% endblock %}